In [1]:
%pip install -q -r requirements.txt

Note: you may need to restart the kernel to use updated packages.

In [2]:
%load_ext autoreload
%autoreload 1
from imports import *
from functions import *

Connection to MySQL

In [3]:
mysql_user = "flosrv"
password = "Nesrine123"
host = "localhost"
port = 3306
database = "Oceanography_data_analysis"
metadata = MetaData()
# Connect to the database
engine = create_engine(f"mysql+mysqlconnector://{mysql_user}:{password}@{host}/{database}", isolation_level ='AUTOCOMMIT')

Get Available Stations ID List

In [5]:
# get all stations and some metadata as a Pandas DataFrame
stations_df = api.stations()
# parse the response as a dictionary
stations_df = api.stations(as_df=True)

print(len(stations_df))

146

Filter Buoys by Remarks

In [6]:
access_error_url_list = []

# Liste de mots Ã  rechercher dans la colonne "Remark"
blacklist = ["Failure", "ceased", "failed", "recovered", "stopped", 'adrift']
stations_id_set = set()

print(f'Avant Filtre: {stations_df.shape[0]}')

# Liste pour collecter les indices Ã  supprimer
indices_a_supprimer = []

# Parcours des lignes de la DataFrame
for idx, row in stations_df.iterrows():
    station_id = row["Station"]
    station_Location = row["Hull No./Config and Location"]  # Extraire la valeur de la cellule pour chaque ligne
    
    # Extraction du nom de la station si un ")" est trouvÃ©
    if ")" in station_Location:
        station_name = station_Location.split(')')[1].rstrip(" )")  # On enlÃ¨ve l'espace et la parenthÃ¨se en fin de chaÃ®ne
    else:
        station_name = station_Location.strip()  # Si pas de ")", on garde toute la chaÃ®ne

    station_name = station_name.rstrip(" )").replace("(", "").replace(")", "").strip()

    # Nettoyage final pour enlever toute parenthÃ¨se ou espace en fin de nom
    station_name = station_name.rstrip(" )")

    # VÃ©rifier si "Remark" n'est pas NaN et si un des Ã©lÃ©ments de blacklist est dans "Remark"
    if isinstance(row["Remark"], str) and any(blacklist_word.lower() in row["Remark"].lower() for blacklist_word in blacklist):
        # Ajouter l'index Ã  la liste
        indices_a_supprimer.append(idx)
        print(f'Buoy {station_id} Failed the Remark Test !')
        url = get_buoy_url(station_id)
        access_error_url_list.append(url)
    else:
        print(f'Buoy {station_id} Passed the Remark Test !')

# Supprimer les lignes aprÃ¨s la boucle
stations_df.drop(index=indices_a_supprimer, inplace=True)

print(f'AprÃ¨s Filtre: {stations_df.shape[0]}')

Avant Filtre: 146
Buoy 41001 Failed the Remark Test !
Buoy 41002 Failed the Remark Test !
Buoy 41004 Passed the Remark Test !
Buoy 41008 Passed the Remark Test !
Buoy 41009 Failed the Remark Test !
Buoy 41010 Passed the Remark Test !
Buoy 41013 Passed the Remark Test !
Buoy 41025 Failed the Remark Test !
Buoy 41040 Passed the Remark Test !
Buoy 41041 Failed the Remark Test !
Buoy 41043 Passed the Remark Test !
Buoy 41044 Passed the Remark Test !
Buoy 41046 Failed the Remark Test !
Buoy 41047 Failed the Remark Test !
Buoy 41048 Failed the Remark Test !
Buoy 41049 Passed the Remark Test !
Buoy 42001 Passed the Remark Test !
Buoy 42002 Passed the Remark Test !
Buoy 42003 Passed the Remark Test !
Buoy 42012 Passed the Remark Test !
Buoy 42019 Passed the Remark Test !
Buoy 42020 Passed the Remark Test !
Buoy 42035 Passed the Remark Test !
Buoy 42036 Passed the Remark Test !
Buoy 42039 Failed the Remark Test !
Buoy 42040 Failed the Remark Test !
Buoy 42055 Failed the Remark Test !
Buoy 42056 Passed the Remark Test !
Buoy 42057 Passed the Remark Test !
Buoy 42058 Passed the Remark Test !
Buoy 42059 Failed the Remark Test !
Buoy 42060 Passed the Remark Test !
Buoy 44005 Failed the Remark Test !
Buoy 44007 Passed the Remark Test !
Buoy 44008 Failed the Remark Test !
Buoy 44009 Passed the Remark Test !
Buoy 44011 Passed the Remark Test !
Buoy 44013 Passed the Remark Test !
Buoy 44014 Passed the Remark Test !
Buoy 44017 Failed the Remark Test !
Buoy 44018 Failed the Remark Test !
Buoy 44020 Passed the Remark Test !
Buoy 44025 Passed the Remark Test !
Buoy 44027 Passed the Remark Test !
Buoy 44065 Passed the Remark Test !
Buoy 44066 Failed the Remark Test !
Buoy 45001 Failed the Remark Test !
Buoy 45002 Failed the Remark Test !
Buoy 45003 Failed the Remark Test !
Buoy 45004 Failed the Remark Test !
Buoy 45005 Failed the Remark Test !
Buoy 45006 Failed the Remark Test !
Buoy 45007 Failed the Remark Test !
Buoy 45008 Failed the Remark Test !
Buoy 45012 Failed the Remark Test !
Buoy 46001 Passed the Remark Test !
Buoy 46002 Failed the Remark Test !
Buoy 46005 Failed the Remark Test !
Buoy 46006 Passed the Remark Test !
Buoy 46011 Failed the Remark Test !
Buoy 46012 Failed the Remark Test !
Buoy 46013 Failed the Remark Test !
Buoy 46014 Passed the Remark Test !
Buoy 46015 Failed the Remark Test !
Buoy 46022 Passed the Remark Test !
Buoy 46025 Passed the Remark Test !
Buoy 46026 Failed the Remark Test !
Buoy 46027 Passed the Remark Test !
Buoy 46028 Failed the Remark Test !
Buoy 46029 Passed the Remark Test !
Buoy 46035 Failed the Remark Test !
Buoy 46041 Failed the Remark Test !
Buoy 46042 Failed the Remark Test !
Buoy 46047 Failed the Remark Test !
Buoy 46050 Failed the Remark Test !
Buoy 46053 Passed the Remark Test !
Buoy 46054 Failed the Remark Test !
Buoy 46059 Failed the Remark Test !
Buoy 46060 Failed the Remark Test !
Buoy 46061 Failed the Remark Test !
Buoy 46066 Failed the Remark Test !
Buoy 46069 Passed the Remark Test !
Buoy 46070 Failed the Remark Test !
Buoy 46071 Passed the Remark Test !
Buoy 46072 Passed the Remark Test !
Buoy 46073 Failed the Remark Test !
Buoy 46075 Failed the Remark Test !
Buoy 46076 Failed the Remark Test !
Buoy 46077 Failed the Remark Test !
Buoy 46078 Passed the Remark Test !
Buoy 46080 Failed the Remark Test !
Buoy 46081 Failed the Remark Test !
Buoy 46082 Failed the Remark Test !
Buoy 46083 Failed the Remark Test !
Buoy 46084 Passed the Remark Test !
Buoy 46085 Failed the Remark Test !
Buoy 46086 Passed the Remark Test !
Buoy 46087 Passed the Remark Test !
Buoy 46088 Passed the Remark Test !
Buoy 46089 Failed the Remark Test !
Buoy 51000 Passed the Remark Test !
Buoy 51001 Passed the Remark Test !
Buoy 51002 Passed the Remark Test !
Buoy 51003 Failed the Remark Test !
Buoy 51004 Failed the Remark Test !
Buoy 51101 Failed the Remark Test !
Buoy AMAA2 Passed the Remark Test !
Buoy AUGA2 Failed the Remark Test !
Buoy BLIA2 Failed the Remark Test !
Buoy BURL1 Passed the Remark Test !
Buoy BUZM3 Failed the Remark Test !
Buoy CDRF1 Failed the Remark Test !
Buoy CLKN7 Failed the Remark Test !
Buoy DBLN6 Passed the Remark Test !
Buoy DESW1 Failed the Remark Test !
Buoy DISW3 Passed the Remark Test !
Buoy FBIS1 Failed the Remark Test !
Buoy FFIA2 Passed the Remark Test !
Buoy FILA2 Passed the Remark Test !
Buoy FWYF1 Failed the Remark Test !
Buoy IOSN3 Passed the Remark Test !
Buoy KTNF1 Passed the Remark Test !
Buoy LONF1 Passed the Remark Test !
Buoy MDRM1 Passed the Remark Test !
Buoy MISM1 Failed the Remark Test !
Buoy MRKA2 Passed the Remark Test !
Buoy NWPO3 Failed the Remark Test !
Buoy PILA2 Failed the Remark Test !
Buoy PILM4 Failed the Remark Test !
Buoy POTA2 Passed the Remark Test !
Buoy PTAT2 Failed the Remark Test !
Buoy PTGC1 Passed the Remark Test !
Buoy ROAM4 Passed the Remark Test !
Buoy SANF1 Passed the Remark Test !
Buoy SAUF1 Failed the Remark Test !
Buoy SBIO1 Passed the Remark Test !
Buoy SGNW3 Failed the Remark Test !
Buoy SGOF1 Failed the Remark Test !
Buoy SISW1 Passed the Remark Test !
Buoy SMKF1 Passed the Remark Test !
Buoy SPGF1 Failed the Remark Test !
Buoy SRST2 Failed the Remark Test !
Buoy STDM4 Failed the Remark Test !
Buoy TPLM2 Failed the Remark Test !
Buoy VENF1 Failed the Remark Test !
Buoy WPOW1 Passed the Remark Test !
AprÃ¨s Filtre: 43

Build Buoys_datas Dict

In [7]:
# Dictionnaire pour stocker les DataFrames, clÃ© : ID de la bouÃ©e, valeur : DataFrame
buoy_datas = {}
buoy_list = []

# Parcours de chaque bouÃ©e dans stations_df
for index, row in stations_df.iterrows():
    buoy_id = row['Station']
    metadata = get_station_metadata(buoy_id)

    # âœ… RÃ©cupÃ©rer les donnÃ©es sous forme de dictionnaire
    buoy_info = parse_buoy_json(metadata)

    # âœ… Stocker directement les donnÃ©es dans buoy_datas
    buoy_datas[buoy_id] = buoy_info
    buoy_list.append(buoy_id)

# Affichage du nombre de bouÃ©es rÃ©ussies et Ã©chouÃ©es
print(f"Nombre de bouÃ©es traitÃ©es : {len(buoy_datas)}\n")

# Afficher le contenu de buoy_datas

first_key =next(iter(buoy_datas))
first_key
buoy_datas[first_key]

ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : grays reef
ğŸ†” Station ID : 41008
âœ… CoordonnÃ©es extraites : Latitude = 31.40N, Longitude = 80.87W
ğŸŒŠ Water Depth : 16 m
ğŸŒ¡ï¸ Sea Temp Depth : 2
ğŸŒ¬ï¸ Barometer Elevation : 2.4
ğŸ’¨ Anemometer Height : 3.8
ğŸŒ¤ï¸ Air Temp Height : 3.4
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=41008
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : ne st martin
ğŸ†” Station ID : 41044
âœ… CoordonnÃ©es extraites : Latitude = 21.58N, Longitude = 58.63W
ğŸŒŠ Water Depth : 5419 m
ğŸŒ¡ï¸ Sea Temp Depth : 2
ğŸŒ¬ï¸ Barometer Elevation : 2.4
ğŸ’¨ Anemometer Height : 3.8
ğŸŒ¤ï¸ Air Temp Height : 3.4
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=41044
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : south bermuda
ğŸ†” Station ID : 41049
âœ… CoordonnÃ©es extraites : Latitude = 27.50N, Longitude = 62.27W
ğŸŒŠ Water Depth : 5480 m
ğŸŒ¡ï¸ Sea Temp Depth : 1.5
ğŸŒ¬ï¸ Barometer Elevation : 2.7
ğŸ’¨ Anemometer Height : 4.1
ğŸŒ¤ï¸ Air Temp Height : 3.7
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=41049
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : mid gulf
ğŸ†” Station ID : 42001
âœ… CoordonnÃ©es extraites : Latitude = 25.93N, Longitude = 89.66W
ğŸŒŠ Water Depth : 3200 m
ğŸŒ¡ï¸ Sea Temp Depth : 1.5
ğŸŒ¬ï¸ Barometer Elevation : 2.7
ğŸ’¨ Anemometer Height : 4.1
ğŸŒ¤ï¸ Air Temp Height : 3.7
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=42001
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : west gulf
ğŸ†” Station ID : 42002
âœ… CoordonnÃ©es extraites : Latitude = 25.95N, Longitude = 93.78W
ğŸŒŠ Water Depth : 3208 m
ğŸŒ¡ï¸ Sea Temp Depth : 1.5
ğŸŒ¬ï¸ Barometer Elevation : 2.7
ğŸ’¨ Anemometer Height : 4.1
ğŸŒ¤ï¸ Air Temp Height : 3.7
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=42002
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : orange beach
ğŸ†” Station ID : 42012
âœ… CoordonnÃ©es extraites : Latitude = 30.06N, Longitude = 87.55W
ğŸŒŠ Water Depth : 23.5 m
ğŸŒ¡ï¸ Sea Temp Depth : 2
ğŸŒ¬ï¸ Barometer Elevation : 2.4
ğŸ’¨ Anemometer Height : 3.8
ğŸŒ¤ï¸ Air Temp Height : 3.4
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=42012
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : west tampa
ğŸ†” Station ID : 42036
âœ… CoordonnÃ©es extraites : Latitude = 28.50N, Longitude = 84.50W
ğŸŒŠ Water Depth : 53.3 m
ğŸŒ¡ï¸ Sea Temp Depth : 2
ğŸŒ¬ï¸ Barometer Elevation : 2.4
ğŸ’¨ Anemometer Height : 3.8
ğŸŒ¤ï¸ Air Temp Height : 3.4
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=42036
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : yucatan basin
ğŸ†” Station ID : 42056
âœ… CoordonnÃ©es extraites : Latitude = 19.82N, Longitude = 84.98W
ğŸŒŠ Water Depth : 4578 m
ğŸŒ¡ï¸ Sea Temp Depth : 1.5
ğŸŒ¬ï¸ Barometer Elevation : 2.7
ğŸ’¨ Anemometer Height : 4.1
ğŸŒ¤ï¸ Air Temp Height : 3.7
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=42056
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : central caribbean
ğŸ†” Station ID : 42058
âœ… CoordonnÃ©es extraites : Latitude = 14.51N, Longitude = 75.15W
ğŸŒŠ Water Depth : 4136 m
ğŸŒ¡ï¸ Sea Temp Depth : 1.5
ğŸŒ¬ï¸ Barometer Elevation : 2.7
ğŸ’¨ Anemometer Height : 4.1
ğŸŒ¤ï¸ Air Temp Height : 3.7
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=42058
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : portland
ğŸ†” Station ID : 44007
âœ… CoordonnÃ©es extraites : Latitude = 43.52N, Longitude = 70.14W
ğŸŒŠ Water Depth : 49 m
ğŸŒ¡ï¸ Sea Temp Depth : 2
ğŸŒ¬ï¸ Barometer Elevation : 2.4
ğŸ’¨ Anemometer Height : 3.8
ğŸŒ¤ï¸ Air Temp Height : 3.4
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=44007
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : nantucket sound
ğŸ†” Station ID : 44020
âœ… CoordonnÃ©es extraites : Latitude = 41.50N, Longitude = 70.28W
ğŸŒŠ Water Depth : 16.5 m
ğŸŒ¡ï¸ Sea Temp Depth : 1.5
ğŸŒ¬ï¸ Barometer Elevation : 2.7
ğŸ’¨ Anemometer Height : 4.1
ğŸŒ¤ï¸ Air Temp Height : 3.7
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=44020
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : long island
ğŸ†” Station ID : 44025
âœ… CoordonnÃ©es extraites : Latitude = 40.26N, Longitude = 73.17W
ğŸŒŠ Water Depth : 40.2 m
ğŸŒ¡ï¸ Sea Temp Depth : 1.5
ğŸŒ¬ï¸ Barometer Elevation : 2.7
ğŸ’¨ Anemometer Height : 4.1
ğŸŒ¤ï¸ Air Temp Height : 3.7
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=44025
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : jonesport, me
ğŸ†” Station ID : 44027
âœ… CoordonnÃ©es extraites : Latitude = 44.28N, Longitude = 67.30W
ğŸŒŠ Water Depth : 188 m
ğŸŒ¡ï¸ Sea Temp Depth : 1.5
ğŸŒ¬ï¸ Barometer Elevation : 2.7
ğŸ’¨ Anemometer Height : 4.1
ğŸŒ¤ï¸ Air Temp Height : 3.7
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=44027
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : new york harbor entrance
ğŸ†” Station ID : 44065
âœ… CoordonnÃ©es extraites : Latitude = 40.37N, Longitude = 73.70W
ğŸŒŠ Water Depth : 26 m
ğŸŒ¡ï¸ Sea Temp Depth : 1.5
ğŸŒ¬ï¸ Barometer Elevation : 2.7
ğŸ’¨ Anemometer Height : 4.1
ğŸŒ¤ï¸ Air Temp Height : 3.7
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=44065
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : western gulf of alaska
ğŸ†” Station ID : 46001
âœ… CoordonnÃ©es extraites : Latitude = 56.30N, Longitude = 148.03W
ğŸŒŠ Water Depth : 4123 m
ğŸŒ¡ï¸ Sea Temp Depth : 2
ğŸŒ¬ï¸ Barometer Elevation : 2.4
ğŸ’¨ Anemometer Height : 3.8
ğŸŒ¤ï¸ Air Temp Height : 3.4
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=46001
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : southeast papa
ğŸ†” Station ID : 46006
âœ… CoordonnÃ©es extraites : Latitude = 40.76N, Longitude = 137.38W
ğŸŒŠ Water Depth : 4347 m
ğŸŒ¡ï¸ Sea Temp Depth : 2
ğŸŒ¬ï¸ Barometer Elevation : 2.4
ğŸ’¨ Anemometer Height : 3.8
ğŸŒ¤ï¸ Air Temp Height : 3.4
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=46006
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : pt arena
ğŸ†” Station ID : 46014
âœ… CoordonnÃ©es extraites : Latitude = 39.23N, Longitude = 123.98W
ğŸŒŠ Water Depth : 335 m
ğŸŒ¡ï¸ Sea Temp Depth : 2
ğŸŒ¬ï¸ Barometer Elevation : 2.4
ğŸ’¨ Anemometer Height : 3.8
ğŸŒ¤ï¸ Air Temp Height : 3.4
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=46014
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : eel river
ğŸ†” Station ID : 46022
âœ… CoordonnÃ©es extraites : Latitude = 40.72N, Longitude = 124.54W
ğŸŒŠ Water Depth : 456 m
ğŸŒ¡ï¸ Sea Temp Depth : 1.5
ğŸŒ¬ï¸ Barometer Elevation : 3.7
ğŸ’¨ Anemometer Height : 4.1
ğŸŒ¤ï¸ Air Temp Height : 3.7
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=46022
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : santa monica basin
ğŸ†” Station ID : 46025
âœ… CoordonnÃ©es extraites : Latitude = 33.76N, Longitude = 119.05W
ğŸŒŠ Water Depth : 890 m
ğŸŒ¡ï¸ Sea Temp Depth : 2
ğŸŒ¬ï¸ Barometer Elevation : 2.4
ğŸ’¨ Anemometer Height : 3.8
ğŸŒ¤ï¸ Air Temp Height : 3.4
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=46025
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : st georges
ğŸ†” Station ID : 46027
âœ… CoordonnÃ©es extraites : Latitude = 41.84N, Longitude = 124.38W
ğŸŒŠ Water Depth : 60 m
ğŸŒ¡ï¸ Sea Temp Depth : 2
ğŸŒ¬ï¸ Barometer Elevation : 2.4
ğŸ’¨ Anemometer Height : 3.8
ğŸŒ¤ï¸ Air Temp Height : 3.4
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=46027
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : columbia river bar
ğŸ†” Station ID : 46029
âœ… CoordonnÃ©es extraites : Latitude = 46.16N, Longitude = 124.49W
ğŸŒŠ Water Depth : 131 m
ğŸŒ¡ï¸ Sea Temp Depth : 2
ğŸŒ¬ï¸ Barometer Elevation : 2.4
ğŸ’¨ Anemometer Height : 3.8
ğŸŒ¤ï¸ Air Temp Height : 3.4
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=46029
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : east santa barbara
ğŸ†” Station ID : 46053
âœ… CoordonnÃ©es extraites : Latitude = 34.24N, Longitude = 119.84W
ğŸŒŠ Water Depth : 405 m
ğŸŒ¡ï¸ Sea Temp Depth : 1.1
ğŸŒ¬ï¸ Barometer Elevation : 1.8
ğŸ’¨ Anemometer Height : 3.2
ğŸŒ¤ï¸ Air Temp Height : 2.8
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=46053
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : south santa rosa
ğŸ†” Station ID : 46069
âœ… CoordonnÃ©es extraites : Latitude = 33.68N, Longitude = 120.21W
ğŸŒŠ Water Depth : 977.8 m
ğŸŒ¡ï¸ Sea Temp Depth : 2
ğŸŒ¬ï¸ Barometer Elevation : 2.4
ğŸ’¨ Anemometer Height : 3.8
ğŸŒ¤ï¸ Air Temp Height : 3.4
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=46069
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : western aleutians
ğŸ†” Station ID : 46071
âœ… CoordonnÃ©es extraites : Latitude = 51.04N, Longitude = 179.76E
ğŸŒŠ Water Depth : 3967 m
ğŸŒ¡ï¸ Sea Temp Depth : 2
ğŸŒ¬ï¸ Barometer Elevation : 2.4
ğŸ’¨ Anemometer Height : 3.8
ğŸŒ¤ï¸ Air Temp Height : 3.4
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=46071
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : central aleutians 230 nm sw dutch harbor
ğŸ†” Station ID : 46072
âœ… CoordonnÃ©es extraites : Latitude = 51.65N, Longitude = 172.15W
ğŸŒŠ Water Depth : 3589 m
ğŸŒ¡ï¸ Sea Temp Depth : 2
ğŸŒ¬ï¸ Barometer Elevation : 2.4
ğŸ’¨ Anemometer Height : 3.8
ğŸŒ¤ï¸ Air Temp Height : 3.4
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=46072
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : albatross bank
ğŸ†” Station ID : 46078
âœ… CoordonnÃ©es extraites : Latitude = 55.56N, Longitude = 152.60W
ğŸŒŠ Water Depth : 5361 m
ğŸŒ¡ï¸ Sea Temp Depth : 2
ğŸŒ¬ï¸ Barometer Elevation : 2.4
ğŸ’¨ Anemometer Height : 3.8
ğŸŒ¤ï¸ Air Temp Height : 3.4
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=46078
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : cape edgecumbe
ğŸ†” Station ID : 46084
âœ… CoordonnÃ©es extraites : Latitude = 56.61N, Longitude = 136.04W
ğŸŒŠ Water Depth : 1149 m
ğŸŒ¡ï¸ Sea Temp Depth : 2
ğŸŒ¬ï¸ Barometer Elevation : 2.4
ğŸ’¨ Anemometer Height : 3.8
ğŸŒ¤ï¸ Air Temp Height : 3.4
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=46084
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : san clemente basin
ğŸ†” Station ID : 46086
âœ… CoordonnÃ©es extraites : Latitude = 32.50N, Longitude = 118.05W
ğŸŒŠ Water Depth : 1844.7 m
ğŸŒ¡ï¸ Sea Temp Depth : 1.5
ğŸŒ¬ï¸ Barometer Elevation : 2.7
ğŸ’¨ Anemometer Height : 4.1
ğŸŒ¤ï¸ Air Temp Height : 3.7
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=46086
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : neah bay
ğŸ†” Station ID : 46087
âœ… CoordonnÃ©es extraites : Latitude = 48.49N, Longitude = 124.73W
ğŸŒŠ Water Depth : 262.4 m
ğŸŒ¡ï¸ Sea Temp Depth : 2
ğŸŒ¬ï¸ Barometer Elevation : 2.4
ğŸ’¨ Anemometer Height : 3.8
ğŸŒ¤ï¸ Air Temp Height : 3.4
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=46087
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : new dungeness
ğŸ†” Station ID : 46088
âœ… CoordonnÃ©es extraites : Latitude = 48.33N, Longitude = 123.18W
ğŸŒŠ Water Depth : 115.5 m
ğŸŒ¡ï¸ Sea Temp Depth : 2
ğŸŒ¬ï¸ Barometer Elevation : 2.4
ğŸ’¨ Anemometer Height : 3.8
ğŸŒ¤ï¸ Air Temp Height : 3.4
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=46088
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : northern hawaii one
ğŸ†” Station ID : 51000
âœ… CoordonnÃ©es extraites : Latitude = 23.53N, Longitude = 153.79W
ğŸŒŠ Water Depth : 4762 m
ğŸŒ¡ï¸ Sea Temp Depth : 1.5
ğŸŒ¬ï¸ Barometer Elevation : 2.7
ğŸ’¨ Anemometer Height : 4.1
ğŸŒ¤ï¸ Air Temp Height : 3.7
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=51000
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : northwestern hawaii one
ğŸ†” Station ID : 51001
âœ… CoordonnÃ©es extraites : Latitude = 24.48N, Longitude = 162.03W
ğŸŒŠ Water Depth : 4895 m
ğŸŒ¡ï¸ Sea Temp Depth : 1.1
ğŸŒ¬ï¸ Barometer Elevation : 1.8
ğŸ’¨ Anemometer Height : 3.2
ğŸŒ¤ï¸ Air Temp Height : 2.8
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=51001
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : southwest hawaii
ğŸ†” Station ID : 51002
âœ… CoordonnÃ©es extraites : Latitude = 17.07N, Longitude = 157.75W
ğŸŒŠ Water Depth : 4979 m
ğŸŒ¡ï¸ Sea Temp Depth : 1.5
ğŸŒ¬ï¸ Barometer Elevation : 2.7
ğŸ’¨ Anemometer Height : 4.1
ğŸŒ¤ï¸ Air Temp Height : 3.7
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=51002
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : southwest pass, la
ğŸ†” Station ID : BURL1
âœ… CoordonnÃ©es extraites : Latitude = 28.91N, Longitude = 89.43W
ğŸŒŠ Water Depth : N/A
ğŸŒ¡ï¸ Sea Temp Depth : None
ğŸŒ¬ï¸ Barometer Elevation : 13.4
ğŸ’¨ Anemometer Height : 38
ğŸŒ¤ï¸ Air Temp Height : 13.7
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=BURL1
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : five fingers, ak
ğŸ†” Station ID : FFIA2
âœ… CoordonnÃ©es extraites : Latitude = 57.27N, Longitude = 133.63W
ğŸŒŠ Water Depth : N/A
ğŸŒ¡ï¸ Sea Temp Depth : None
ğŸŒ¬ï¸ Barometer Elevation : 21.3
ğŸ’¨ Anemometer Height : 22
ğŸŒ¤ï¸ Air Temp Height : 4.3
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=FFIA2
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : keaton beach, fl
ğŸ†” Station ID : KTNF1
âœ… CoordonnÃ©es extraites : Latitude = 29.82N, Longitude = 83.59W
ğŸŒŠ Water Depth : N/A
ğŸŒ¡ï¸ Sea Temp Depth : None
ğŸŒ¬ï¸ Barometer Elevation : 3
ğŸ’¨ Anemometer Height : 10
ğŸŒ¤ï¸ Air Temp Height : 9.1
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=KTNF1
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : long key, fl
ğŸ†” Station ID : LONF1
âœ… CoordonnÃ©es extraites : Latitude = 24.84N, Longitude = 80.86W
ğŸŒŠ Water Depth : N/A
ğŸŒ¡ï¸ Sea Temp Depth : None
ğŸŒ¬ï¸ Barometer Elevation : 5.03
ğŸ’¨ Anemometer Height : 6.34
ğŸŒ¤ï¸ Air Temp Height : 6.1
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=LONF1
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : mt. desert rock, me
ğŸ†” Station ID : MDRM1
âœ… CoordonnÃ©es extraites : Latitude = 43.97N, Longitude = 68.13W
ğŸŒŠ Water Depth : N/A
ğŸŒ¡ï¸ Sea Temp Depth : None
ğŸŒ¬ï¸ Barometer Elevation : 16.5
ğŸ’¨ Anemometer Height : 22.6
ğŸŒ¤ï¸ Air Temp Height : 15.2
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=MDRM1
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : middle rock light, ak
ğŸ†” Station ID : MRKA2
âœ… CoordonnÃ©es extraites : Latitude = 61.08N, Longitude = 146.66W
ğŸŒŠ Water Depth : N/A
ğŸŒ¡ï¸ Sea Temp Depth : None
ğŸŒ¬ï¸ Barometer Elevation : 10.9
ğŸ’¨ Anemometer Height : 15.9
ğŸŒ¤ï¸ Air Temp Height : 15.4
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=MRKA2
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : potato point, ak
ğŸ†” Station ID : POTA2
âœ… CoordonnÃ©es extraites : Latitude = 61.06N, Longitude = 146.70W
ğŸŒŠ Water Depth : N/A
ğŸŒ¡ï¸ Sea Temp Depth : None
ğŸŒ¬ï¸ Barometer Elevation : 8.5
ğŸ’¨ Anemometer Height : 10
ğŸŒ¤ï¸ Air Temp Height : 9.1
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=POTA2
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : sand key, fl
ğŸ†” Station ID : SANF1
âœ… CoordonnÃ©es extraites : Latitude = 24.46N, Longitude = 81.88W
ğŸŒŠ Water Depth : N/A
ğŸŒ¡ï¸ Sea Temp Depth : None
ğŸŒ¬ï¸ Barometer Elevation : 13.6
ğŸ’¨ Anemometer Height : 14.8
ğŸŒ¤ï¸ Air Temp Height : 14.6
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=SANF1
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : south bass island, oh
ğŸ†” Station ID : SBIO1
âœ… CoordonnÃ©es extraites : Latitude = 41.63N, Longitude = 82.84W
ğŸŒŠ Water Depth : N/A
ğŸŒ¡ï¸ Sea Temp Depth : None
ğŸŒ¬ï¸ Barometer Elevation : 178.4
ğŸ’¨ Anemometer Height : 24.3
ğŸŒ¤ï¸ Air Temp Height : 23.4
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=SBIO1
âœ… Parsing terminÃ© !


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : sombrero key, fl
ğŸ†” Station ID : SMKF1
âœ… CoordonnÃ©es extraites : Latitude = 24.63N, Longitude = 81.11W
ğŸŒŠ Water Depth : N/A
ğŸŒ¡ï¸ Sea Temp Depth : None
ğŸŒ¬ï¸ Barometer Elevation : 6
ğŸ’¨ Anemometer Height : 7.2
ğŸŒ¤ï¸ Air Temp Height : 7
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=SMKF1
âœ… Parsing terminÃ© !

Nombre de bouÃ©es traitÃ©es : 43

{'station_zone': 'grays reef',
 'lat_buoy': '31.40N',
 'lon_buoy': '80.87W',
 'Water_depth': '16 m',
 'sea_temp_depth': '2',
 'Barometer_elevation': '2.4',
 'Anemometer_height': '3.8',
 'Air_temp_height': '3.4',
 'url': 'https://www.ndbc.noaa.gov/station_page.php?station=41008'}

In [8]:
def create_table_in_mysql(df: pd.DataFrame, table_name: str, engine):
    # VÃ©rifier si la table existe dÃ©jÃ 
    check_table_sql = f"SHOW TABLES LIKE '{table_name}';"

    try:
        with engine.connect() as connection:
            result = connection.execute(text(check_table_sql))
            if result.fetchone():
                print(f"âš ï¸ La table '{table_name}' existe dÃ©jÃ  dans MySQL.")
                return  # Ne pas recrÃ©er la table si elle existe dÃ©jÃ 

            # DÃ©finition des colonnes
            column_definitions = []
            for column_name, dtype in df.dtypes.items():
                if dtype == 'object': 
                    column_type = "VARCHAR(255)"
                elif dtype == 'int64':  
                    column_type = "INT"
                elif dtype == 'float64': 
                    column_type = "FLOAT"
                elif dtype == 'datetime64[ns]': 
                    column_type = "DATETIME"
                elif dtype == 'datetime64[ns, UTC]': 
                    column_type = "DATETIME"
                elif dtype == 'timedelta64[ns]':  
                    column_type = "TIME"
                elif dtype == 'bool':  
                    column_type = "BOOLEAN"
                elif dtype == 'time64[ns]': 
                    column_type = "TIME"
                else:
                    column_type = "VARCHAR(255)" 

                column_definitions.append(f"`{column_name}` {column_type}")

            # CrÃ©ation de la table
            create_table_sql = f"CREATE TABLE `{table_name}` ({', '.join(column_definitions)});"
            connection.execute(text(create_table_sql))
            print(f"âœ… Table '{table_name}' crÃ©Ã©e avec succÃ¨s dans MySQL.")

    except Exception as e:
        print(f"âŒ Erreur lors de la crÃ©ation de la table : {e}")

In [ ]:
def insert_new_rows(engine, df: pd.DataFrame, table_name: str):
    """
    InsÃ¨re uniquement les nouvelles lignes de df dans MySQL en comparant la colonne 'Datetime'.
    """
    try:
        # VÃ©rifier si la table existe et rÃ©cupÃ©rer la valeur max de Datetime
        query = f"SELECT MAX(Datetime) FROM `{table_name}`;"
        with engine.connect() as connection:
            result = connection.execute(text(query)).scalar()  # RÃ©cupÃ©rer la valeur max
        
        # Si la table est vide, insÃ©rer tout le DataFrame
        if result is None:
            print(f"ğŸ’¾ Aucune donnÃ©e dans '{table_name}', insertion de toutes les lignes.")
            df.to_sql(name=table_name, con=engine, if_exists='append', index=False)
            print(f"âœ… {len(df)} nouvelles lignes insÃ©rÃ©es dans '{table_name}'.")
            return
        
        # Filtrer les nouvelles lignes (celles avec un Datetime plus grand que la valeur max en base)
        df["Datetime"] = pd.to_datetime(df["Datetime"])  # S'assurer que la colonne est bien en datetime
        new_rows = df[df["Datetime"] > result]

        if new_rows.empty:
            print(f"âœ… Aucune nouvelle ligne Ã  insÃ©rer dans '{table_name}'.")
            return

        # InsÃ©rer uniquement les nouvelles lignes
        new_rows.to_sql(name=table_name, con=engine, if_exists='append', index=False)
        print(f"âœ… {len(new_rows)} nouvelles lignes insÃ©rÃ©es dans '{table_name}'.")

    except Exception as e:
        print(f"âŒ Erreur lors de l'insertion des nouvelles lignes : {e}")

In [20]:
# ğŸš€ DÃ©marrage du processus
print("\nğŸš€ DÃ©marrage du processus de collecte et d'insertion des donnÃ©es...\n")

# Initialisation des compteurs
marine_data_collected_successfully = marine_data_collected_failed = 0
marine_data_inserted_successfully = marine_data_inserted_failed = 0
meteo_data_collected_successfully = meteo_data_collected_failed = 0
meteo_data_inserted_successfully = meteo_data_inserted_failed = 0

success = False
total_stations = stations_df.shape[0]
count = 0

# ğŸ”„ Parcours des bouÃ©es / stations
for idx, row in stations_df.iterrows():
    buoy_id = row["Station"]

    ######### ğŸŒŠ MARINE DATA #########
    try:
        df_marine = NDBC.realtime_observations(buoy_id)
        if df_marine is None or df_marine.empty:
            marine_data_collected_failed += 1
            continue

        marine_data_collected_successfully += 1
    except Exception as e:
        print(f"âš ï¸ Erreur collecte marine {buoy_id}: {e}")
        marine_data_collected_failed += 1
        continue

    # Ajout des mÃ©tadonnÃ©es
    try:
        buoy_info = buoy_datas.get(buoy_id, {})
        Lat, Lon = buoy_info.get('lat_buoy'), buoy_info.get('lon_buoy')
        if Lat is None or Lon is None:
            raise ValueError(f"DonnÃ©es manquantes pour {buoy_id}")

        df_marine['Lat'] = Lat
        df_marine['Lon'] = Lon
        df_marine['Water_depth'] = buoy_info.get('Water_depth', None)
        df_marine.columns = ['Datetime' if 'date' in col.lower() or 'time' in col.lower() else col for col in df_marine.columns]

        station_zone = safe_get(parse_buoy_json(get_station_metadata(buoy_id)), "station_zone")
        Bronze_Marine_table_Name = f"bronze_station_{buoy_id}_marine_{station_zone}".replace('.', '_').replace('-', '_')

        print(f"âœ… DonnÃ©es marines collectÃ©es {buoy_id}")
    except Exception as e:
        print(f"âš ï¸ Erreur mÃ©tadonnÃ©es marine {buoy_id}: {e}")
        marine_data_collected_failed += 1
        continue

    # CrÃ©ation de la table et insertion des nouvelles lignes
    try:
        create_table_in_mysql(engine=engine, df=df_marine, table_name=Bronze_Marine_table_Name)
        insert_new_rows(engine=engine, df=df_marine, table_name=Bronze_Marine_table_Name)
        marine_data_inserted_successfully += 1
    except Exception as e:
        print(f"âŒğŸ’¾ Erreur insertion marine {buoy_id}: {e}")
        marine_data_inserted_failed += 1
        continue

    ######### â›… METEO DATA #########
    try:
        df_meteo = meteo_api_request([Lat, Lon])
        if df_meteo is None or df_meteo.empty:
            meteo_data_collected_failed += 1
            continue

        df_meteo.columns = ['Datetime' if 'date' in col.lower() or 'time' in col.lower() else col for col in df_meteo.columns]
        meteo_data_collected_successfully += 1
    except Exception as e:
        print(f"âš ï¸ Erreur collecte mÃ©tÃ©o {buoy_id}: {e}")
        meteo_data_collected_failed += 1
        continue

    # CrÃ©ation de la table et insertion des nouvelles lignes
    try:
        Bronze_Meteo_table_Name = f"bronze_station_{buoy_id}_meteo_{station_zone}".replace('.', '_').replace('-', '_')
        create_table_in_mysql(engine=engine, df=df_meteo, table_name=Bronze_Meteo_table_Name)
        insert_new_rows(engine=engine, df=df_meteo, table_name=Bronze_Meteo_table_Name)
        meteo_data_inserted_successfully += 1
    except Exception as e:
        print(f"âŒğŸ’¾ Erreur insertion mÃ©tÃ©o {buoy_id}: {e}")
        meteo_data_inserted_failed += 1
        continue

    count += 1
    if count == total_stations:
        success = True

# ğŸ”š RÃ©sumÃ© final
if success:
    print("\nğŸ“ RÃ©sumÃ© final :")
    print(f"ğŸŒŠ Marine - Collecte âœ… {marine_data_collected_successfully} âŒ {marine_data_collected_failed}")
    print(f"ğŸŒŠ Marine - Insertion âœ… {marine_data_inserted_successfully} âŒ {marine_data_inserted_failed}")
    print(f"â›… MÃ©tÃ©o - Collecte âœ… {meteo_data_collected_successfully} âŒ {meteo_data_collected_failed}")
    print(f"â›… MÃ©tÃ©o - Insertion âœ… {meteo_data_inserted_successfully} âŒ {meteo_data_inserted_failed}")

ğŸš€ DÃ©marrage du processus de collecte et d'insertion des donnÃ©es...


ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : grays reef
ğŸ†” Station ID : 41008
âœ… CoordonnÃ©es extraites : Latitude = 31.40N, Longitude = 80.87W
ğŸŒŠ Water Depth : 16 m
ğŸŒ¡ï¸ Sea Temp Depth : 2
ğŸŒ¬ï¸ Barometer Elevation : 2.4
ğŸ’¨ Anemometer Height : 3.8
ğŸŒ¤ï¸ Air Temp Height : 3.4
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=41008
âœ… Parsing terminÃ© !

ğŸ“Š station_zone : grays reef
âœ… DonnÃ©es marines collectÃ©es 41008
âš ï¸ La table 'bronze_station_41008_marine_grays reef' existe dÃ©jÃ  dans MySQL.
âŒ Erreur lors de l'insertion des nouvelles lignes : Invalid comparison between dtype=datetime64[ns, UTC] and datetime
âœ… Table 'bronze_station_41008_meteo_grays reef' crÃ©Ã©e avec succÃ¨s dans MySQL.
âš ï¸ Aucune donnÃ©e dans 'bronze_station_41008_meteo_grays reef', insertion de toutes les lignes.
âœ… 2376 nouvelles lignes insÃ©rÃ©es dans 'bronze_station_41008_meteo_grays reef'.

ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : ne st martin
ğŸ†” Station ID : 41044
âœ… CoordonnÃ©es extraites : Latitude = 21.58N, Longitude = 58.63W
ğŸŒŠ Water Depth : 5419 m
ğŸŒ¡ï¸ Sea Temp Depth : 2
ğŸŒ¬ï¸ Barometer Elevation : 2.4
ğŸ’¨ Anemometer Height : 3.8
ğŸŒ¤ï¸ Air Temp Height : 3.4
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=41044
âœ… Parsing terminÃ© !

ğŸ“Š station_zone : ne st martin
âœ… DonnÃ©es marines collectÃ©es 41044
âš ï¸ La table 'bronze_station_41044_marine_ne st martin' existe dÃ©jÃ  dans MySQL.
âŒ Erreur lors de l'insertion des nouvelles lignes : Invalid comparison between dtype=datetime64[ns, UTC] and datetime
âœ… Table 'bronze_station_41044_meteo_ne st martin' crÃ©Ã©e avec succÃ¨s dans MySQL.
âš ï¸ Aucune donnÃ©e dans 'bronze_station_41044_meteo_ne st martin', insertion de toutes les lignes.
âœ… 2376 nouvelles lignes insÃ©rÃ©es dans 'bronze_station_41044_meteo_ne st martin'.

ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : south bermuda
ğŸ†” Station ID : 41049
âœ… CoordonnÃ©es extraites : Latitude = 27.50N, Longitude = 62.27W
ğŸŒŠ Water Depth : 5480 m
ğŸŒ¡ï¸ Sea Temp Depth : 1.5
ğŸŒ¬ï¸ Barometer Elevation : 2.7
ğŸ’¨ Anemometer Height : 4.1
ğŸŒ¤ï¸ Air Temp Height : 3.7
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=41049
âœ… Parsing terminÃ© !

ğŸ“Š station_zone : south bermuda
âœ… DonnÃ©es marines collectÃ©es 41049
âš ï¸ La table 'bronze_station_41049_marine_south bermuda' existe dÃ©jÃ  dans MySQL.
âŒ Erreur lors de l'insertion des nouvelles lignes : Invalid comparison between dtype=datetime64[ns, UTC] and datetime
âœ… Table 'bronze_station_41049_meteo_south bermuda' crÃ©Ã©e avec succÃ¨s dans MySQL.
âš ï¸ Aucune donnÃ©e dans 'bronze_station_41049_meteo_south bermuda', insertion de toutes les lignes.
âœ… 2376 nouvelles lignes insÃ©rÃ©es dans 'bronze_station_41049_meteo_south bermuda'.

ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : mid gulf
ğŸ†” Station ID : 42001
âœ… CoordonnÃ©es extraites : Latitude = 25.93N, Longitude = 89.66W
ğŸŒŠ Water Depth : 3200 m
ğŸŒ¡ï¸ Sea Temp Depth : 1.5
ğŸŒ¬ï¸ Barometer Elevation : 2.7
ğŸ’¨ Anemometer Height : 4.1
ğŸŒ¤ï¸ Air Temp Height : 3.7
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=42001
âœ… Parsing terminÃ© !

ğŸ“Š station_zone : mid gulf
âœ… DonnÃ©es marines collectÃ©es 42001
âš ï¸ La table 'bronze_station_42001_marine_mid gulf' existe dÃ©jÃ  dans MySQL.
âŒ Erreur lors de l'insertion des nouvelles lignes : Invalid comparison between dtype=datetime64[ns, UTC] and datetime
âœ… Table 'bronze_station_42001_meteo_mid gulf' crÃ©Ã©e avec succÃ¨s dans MySQL.
âš ï¸ Aucune donnÃ©e dans 'bronze_station_42001_meteo_mid gulf', insertion de toutes les lignes.
âœ… 2376 nouvelles lignes insÃ©rÃ©es dans 'bronze_station_42001_meteo_mid gulf'.

ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : west gulf
ğŸ†” Station ID : 42002
âœ… CoordonnÃ©es extraites : Latitude = 25.95N, Longitude = 93.78W
ğŸŒŠ Water Depth : 3208 m
ğŸŒ¡ï¸ Sea Temp Depth : 1.5
ğŸŒ¬ï¸ Barometer Elevation : 2.7
ğŸ’¨ Anemometer Height : 4.1
ğŸŒ¤ï¸ Air Temp Height : 3.7
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=42002
âœ… Parsing terminÃ© !

ğŸ“Š station_zone : west gulf
âœ… DonnÃ©es marines collectÃ©es 42002
âš ï¸ La table 'bronze_station_42002_marine_west gulf' existe dÃ©jÃ  dans MySQL.
âŒ Erreur lors de l'insertion des nouvelles lignes : Invalid comparison between dtype=datetime64[ns, UTC] and datetime
âœ… Table 'bronze_station_42002_meteo_west gulf' crÃ©Ã©e avec succÃ¨s dans MySQL.
âš ï¸ Aucune donnÃ©e dans 'bronze_station_42002_meteo_west gulf', insertion de toutes les lignes.
âœ… 2376 nouvelles lignes insÃ©rÃ©es dans 'bronze_station_42002_meteo_west gulf'.

ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : orange beach
ğŸ†” Station ID : 42012
âœ… CoordonnÃ©es extraites : Latitude = 30.06N, Longitude = 87.55W
ğŸŒŠ Water Depth : 23.5 m
ğŸŒ¡ï¸ Sea Temp Depth : 2
ğŸŒ¬ï¸ Barometer Elevation : 2.4
ğŸ’¨ Anemometer Height : 3.8
ğŸŒ¤ï¸ Air Temp Height : 3.4
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=42012
âœ… Parsing terminÃ© !

ğŸ“Š station_zone : orange beach
âœ… DonnÃ©es marines collectÃ©es 42012
âš ï¸ La table 'bronze_station_42012_marine_orange beach' existe dÃ©jÃ  dans MySQL.
âŒ Erreur lors de l'insertion des nouvelles lignes : Invalid comparison between dtype=datetime64[ns, UTC] and datetime
âœ… Table 'bronze_station_42012_meteo_orange beach' crÃ©Ã©e avec succÃ¨s dans MySQL.
âš ï¸ Aucune donnÃ©e dans 'bronze_station_42012_meteo_orange beach', insertion de toutes les lignes.
âœ… 2376 nouvelles lignes insÃ©rÃ©es dans 'bronze_station_42012_meteo_orange beach'.

ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : west tampa
ğŸ†” Station ID : 42036
âœ… CoordonnÃ©es extraites : Latitude = 28.50N, Longitude = 84.50W
ğŸŒŠ Water Depth : 53.3 m
ğŸŒ¡ï¸ Sea Temp Depth : 2
ğŸŒ¬ï¸ Barometer Elevation : 2.4
ğŸ’¨ Anemometer Height : 3.8
ğŸŒ¤ï¸ Air Temp Height : 3.4
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=42036
âœ… Parsing terminÃ© !

ğŸ“Š station_zone : west tampa
âœ… DonnÃ©es marines collectÃ©es 42036
âš ï¸ La table 'bronze_station_42036_marine_west tampa' existe dÃ©jÃ  dans MySQL.
âŒ Erreur lors de l'insertion des nouvelles lignes : Invalid comparison between dtype=datetime64[ns, UTC] and datetime
âœ… Table 'bronze_station_42036_meteo_west tampa' crÃ©Ã©e avec succÃ¨s dans MySQL.
âš ï¸ Aucune donnÃ©e dans 'bronze_station_42036_meteo_west tampa', insertion de toutes les lignes.
âœ… 2376 nouvelles lignes insÃ©rÃ©es dans 'bronze_station_42036_meteo_west tampa'.

ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : yucatan basin
ğŸ†” Station ID : 42056
âœ… CoordonnÃ©es extraites : Latitude = 19.82N, Longitude = 84.98W
ğŸŒŠ Water Depth : 4578 m
ğŸŒ¡ï¸ Sea Temp Depth : 1.5
ğŸŒ¬ï¸ Barometer Elevation : 2.7
ğŸ’¨ Anemometer Height : 4.1
ğŸŒ¤ï¸ Air Temp Height : 3.7
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=42056
âœ… Parsing terminÃ© !

ğŸ“Š station_zone : yucatan basin
âœ… DonnÃ©es marines collectÃ©es 42056
âš ï¸ La table 'bronze_station_42056_marine_yucatan basin' existe dÃ©jÃ  dans MySQL.
âŒ Erreur lors de l'insertion des nouvelles lignes : Invalid comparison between dtype=datetime64[ns, UTC] and datetime
âœ… Table 'bronze_station_42056_meteo_yucatan basin' crÃ©Ã©e avec succÃ¨s dans MySQL.
âš ï¸ Aucune donnÃ©e dans 'bronze_station_42056_meteo_yucatan basin', insertion de toutes les lignes.
âœ… 2376 nouvelles lignes insÃ©rÃ©es dans 'bronze_station_42056_meteo_yucatan basin'.

ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : central caribbean
ğŸ†” Station ID : 42058
âœ… CoordonnÃ©es extraites : Latitude = 14.51N, Longitude = 75.15W
ğŸŒŠ Water Depth : 4136 m
ğŸŒ¡ï¸ Sea Temp Depth : 1.5
ğŸŒ¬ï¸ Barometer Elevation : 2.7
ğŸ’¨ Anemometer Height : 4.1
ğŸŒ¤ï¸ Air Temp Height : 3.7
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=42058
âœ… Parsing terminÃ© !

ğŸ“Š station_zone : central caribbean
âœ… DonnÃ©es marines collectÃ©es 42058
âš ï¸ La table 'bronze_station_42058_marine_central caribbean' existe dÃ©jÃ  dans MySQL.
âŒ Erreur lors de l'insertion des nouvelles lignes : Invalid comparison between dtype=datetime64[ns, UTC] and datetime
âœ… Table 'bronze_station_42058_meteo_central caribbean' crÃ©Ã©e avec succÃ¨s dans MySQL.
âš ï¸ Aucune donnÃ©e dans 'bronze_station_42058_meteo_central caribbean', insertion de toutes les lignes.
âœ… 2376 nouvelles lignes insÃ©rÃ©es dans 'bronze_station_42058_meteo_central caribbean'.

ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : portland
ğŸ†” Station ID : 44007
âœ… CoordonnÃ©es extraites : Latitude = 43.52N, Longitude = 70.14W
ğŸŒŠ Water Depth : 49 m
ğŸŒ¡ï¸ Sea Temp Depth : 2
ğŸŒ¬ï¸ Barometer Elevation : 2.4
ğŸ’¨ Anemometer Height : 3.8
ğŸŒ¤ï¸ Air Temp Height : 3.4
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=44007
âœ… Parsing terminÃ© !

ğŸ“Š station_zone : portland
âœ… DonnÃ©es marines collectÃ©es 44007
âš ï¸ La table 'bronze_station_44007_marine_portland' existe dÃ©jÃ  dans MySQL.
âŒ Erreur lors de l'insertion des nouvelles lignes : Invalid comparison between dtype=datetime64[ns, UTC] and datetime
âœ… Table 'bronze_station_44007_meteo_portland' crÃ©Ã©e avec succÃ¨s dans MySQL.
âš ï¸ Aucune donnÃ©e dans 'bronze_station_44007_meteo_portland', insertion de toutes les lignes.
âœ… 2376 nouvelles lignes insÃ©rÃ©es dans 'bronze_station_44007_meteo_portland'.

ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : nantucket sound
ğŸ†” Station ID : 44020
âœ… CoordonnÃ©es extraites : Latitude = 41.50N, Longitude = 70.28W
ğŸŒŠ Water Depth : 16.5 m
ğŸŒ¡ï¸ Sea Temp Depth : 1.5
ğŸŒ¬ï¸ Barometer Elevation : 2.7
ğŸ’¨ Anemometer Height : 4.1
ğŸŒ¤ï¸ Air Temp Height : 3.7
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=44020
âœ… Parsing terminÃ© !

ğŸ“Š station_zone : nantucket sound
âœ… DonnÃ©es marines collectÃ©es 44020
âš ï¸ La table 'bronze_station_44020_marine_nantucket sound' existe dÃ©jÃ  dans MySQL.
âŒ Erreur lors de l'insertion des nouvelles lignes : Invalid comparison between dtype=datetime64[ns, UTC] and datetime
âœ… Table 'bronze_station_44020_meteo_nantucket sound' crÃ©Ã©e avec succÃ¨s dans MySQL.
âš ï¸ Aucune donnÃ©e dans 'bronze_station_44020_meteo_nantucket sound', insertion de toutes les lignes.
âœ… 2376 nouvelles lignes insÃ©rÃ©es dans 'bronze_station_44020_meteo_nantucket sound'.

ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : long island
ğŸ†” Station ID : 44025
âœ… CoordonnÃ©es extraites : Latitude = 40.26N, Longitude = 73.17W
ğŸŒŠ Water Depth : 40.2 m
ğŸŒ¡ï¸ Sea Temp Depth : 1.5
ğŸŒ¬ï¸ Barometer Elevation : 2.7
ğŸ’¨ Anemometer Height : 4.1
ğŸŒ¤ï¸ Air Temp Height : 3.7
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=44025
âœ… Parsing terminÃ© !

ğŸ“Š station_zone : long island
âœ… DonnÃ©es marines collectÃ©es 44025
âš ï¸ La table 'bronze_station_44025_marine_long island' existe dÃ©jÃ  dans MySQL.
âŒ Erreur lors de l'insertion des nouvelles lignes : Invalid comparison between dtype=datetime64[ns, UTC] and datetime
âœ… Table 'bronze_station_44025_meteo_long island' crÃ©Ã©e avec succÃ¨s dans MySQL.
âš ï¸ Aucune donnÃ©e dans 'bronze_station_44025_meteo_long island', insertion de toutes les lignes.
âœ… 2376 nouvelles lignes insÃ©rÃ©es dans 'bronze_station_44025_meteo_long island'.

ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : jonesport, me
ğŸ†” Station ID : 44027
âœ… CoordonnÃ©es extraites : Latitude = 44.28N, Longitude = 67.30W
ğŸŒŠ Water Depth : 188 m
ğŸŒ¡ï¸ Sea Temp Depth : 1.5
ğŸŒ¬ï¸ Barometer Elevation : 2.7
ğŸ’¨ Anemometer Height : 4.1
ğŸŒ¤ï¸ Air Temp Height : 3.7
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=44027
âœ… Parsing terminÃ© !

ğŸ“Š station_zone : jonesport, me
âœ… DonnÃ©es marines collectÃ©es 44027
âš ï¸ La table 'bronze_station_44027_marine_jonesport, me' existe dÃ©jÃ  dans MySQL.
âŒ Erreur lors de l'insertion des nouvelles lignes : Invalid comparison between dtype=datetime64[ns, UTC] and datetime
âœ… Table 'bronze_station_44027_meteo_jonesport, me' crÃ©Ã©e avec succÃ¨s dans MySQL.
âš ï¸ Aucune donnÃ©e dans 'bronze_station_44027_meteo_jonesport, me', insertion de toutes les lignes.
âœ… 2376 nouvelles lignes insÃ©rÃ©es dans 'bronze_station_44027_meteo_jonesport, me'.

ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : new york harbor entrance
ğŸ†” Station ID : 44065
âœ… CoordonnÃ©es extraites : Latitude = 40.37N, Longitude = 73.70W
ğŸŒŠ Water Depth : 26 m
ğŸŒ¡ï¸ Sea Temp Depth : 1.5
ğŸŒ¬ï¸ Barometer Elevation : 2.7
ğŸ’¨ Anemometer Height : 4.1
ğŸŒ¤ï¸ Air Temp Height : 3.7
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=44065
âœ… Parsing terminÃ© !

ğŸ“Š station_zone : new york harbor entrance
âœ… DonnÃ©es marines collectÃ©es 44065
âš ï¸ La table 'bronze_station_44065_marine_new york harbor entrance' existe dÃ©jÃ  dans MySQL.
âŒ Erreur lors de l'insertion des nouvelles lignes : Invalid comparison between dtype=datetime64[ns, UTC] and datetime
âœ… Table 'bronze_station_44065_meteo_new york harbor entrance' crÃ©Ã©e avec succÃ¨s dans MySQL.
âš ï¸ Aucune donnÃ©e dans 'bronze_station_44065_meteo_new york harbor entrance', insertion de toutes les lignes.
âœ… 2376 nouvelles lignes insÃ©rÃ©es dans 'bronze_station_44065_meteo_new york harbor entrance'.

ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : western gulf of alaska
ğŸ†” Station ID : 46001
âœ… CoordonnÃ©es extraites : Latitude = 56.30N, Longitude = 148.03W
ğŸŒŠ Water Depth : 4123 m
ğŸŒ¡ï¸ Sea Temp Depth : 2
ğŸŒ¬ï¸ Barometer Elevation : 2.4
ğŸ’¨ Anemometer Height : 3.8
ğŸŒ¤ï¸ Air Temp Height : 3.4
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=46001
âœ… Parsing terminÃ© !

ğŸ“Š station_zone : western gulf of alaska
âœ… DonnÃ©es marines collectÃ©es 46001
âš ï¸ La table 'bronze_station_46001_marine_western gulf of alaska' existe dÃ©jÃ  dans MySQL.
âŒ Erreur lors de l'insertion des nouvelles lignes : Invalid comparison between dtype=datetime64[ns, UTC] and datetime
âœ… Table 'bronze_station_46001_meteo_western gulf of alaska' crÃ©Ã©e avec succÃ¨s dans MySQL.
âš ï¸ Aucune donnÃ©e dans 'bronze_station_46001_meteo_western gulf of alaska', insertion de toutes les lignes.
âœ… 2376 nouvelles lignes insÃ©rÃ©es dans 'bronze_station_46001_meteo_western gulf of alaska'.

ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : southeast papa
ğŸ†” Station ID : 46006
âœ… CoordonnÃ©es extraites : Latitude = 40.76N, Longitude = 137.38W
ğŸŒŠ Water Depth : 4347 m
ğŸŒ¡ï¸ Sea Temp Depth : 2
ğŸŒ¬ï¸ Barometer Elevation : 2.4
ğŸ’¨ Anemometer Height : 3.8
ğŸŒ¤ï¸ Air Temp Height : 3.4
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=46006
âœ… Parsing terminÃ© !

ğŸ“Š station_zone : southeast papa
âœ… DonnÃ©es marines collectÃ©es 46006
âš ï¸ La table 'bronze_station_46006_marine_southeast papa' existe dÃ©jÃ  dans MySQL.
âŒ Erreur lors de l'insertion des nouvelles lignes : Invalid comparison between dtype=datetime64[ns, UTC] and datetime
âœ… Table 'bronze_station_46006_meteo_southeast papa' crÃ©Ã©e avec succÃ¨s dans MySQL.
âš ï¸ Aucune donnÃ©e dans 'bronze_station_46006_meteo_southeast papa', insertion de toutes les lignes.
âœ… 2376 nouvelles lignes insÃ©rÃ©es dans 'bronze_station_46006_meteo_southeast papa'.

ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : pt arena
ğŸ†” Station ID : 46014
âœ… CoordonnÃ©es extraites : Latitude = 39.23N, Longitude = 123.98W
ğŸŒŠ Water Depth : 335 m
ğŸŒ¡ï¸ Sea Temp Depth : 2
ğŸŒ¬ï¸ Barometer Elevation : 2.4
ğŸ’¨ Anemometer Height : 3.8
ğŸŒ¤ï¸ Air Temp Height : 3.4
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=46014
âœ… Parsing terminÃ© !

ğŸ“Š station_zone : pt arena
âœ… DonnÃ©es marines collectÃ©es 46014
âš ï¸ La table 'bronze_station_46014_marine_pt arena' existe dÃ©jÃ  dans MySQL.
âŒ Erreur lors de l'insertion des nouvelles lignes : Invalid comparison between dtype=datetime64[ns, UTC] and datetime
âœ… Table 'bronze_station_46014_meteo_pt arena' crÃ©Ã©e avec succÃ¨s dans MySQL.
âš ï¸ Aucune donnÃ©e dans 'bronze_station_46014_meteo_pt arena', insertion de toutes les lignes.
âœ… 2376 nouvelles lignes insÃ©rÃ©es dans 'bronze_station_46014_meteo_pt arena'.

ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : eel river
ğŸ†” Station ID : 46022
âœ… CoordonnÃ©es extraites : Latitude = 40.72N, Longitude = 124.54W
ğŸŒŠ Water Depth : 456 m
ğŸŒ¡ï¸ Sea Temp Depth : 1.5
ğŸŒ¬ï¸ Barometer Elevation : 3.7
ğŸ’¨ Anemometer Height : 4.1
ğŸŒ¤ï¸ Air Temp Height : 3.7
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=46022
âœ… Parsing terminÃ© !

ğŸ“Š station_zone : eel river
âœ… DonnÃ©es marines collectÃ©es 46022
âš ï¸ La table 'bronze_station_46022_marine_eel river' existe dÃ©jÃ  dans MySQL.
âŒ Erreur lors de l'insertion des nouvelles lignes : Invalid comparison between dtype=datetime64[ns, UTC] and datetime
âœ… Table 'bronze_station_46022_meteo_eel river' crÃ©Ã©e avec succÃ¨s dans MySQL.
âš ï¸ Aucune donnÃ©e dans 'bronze_station_46022_meteo_eel river', insertion de toutes les lignes.
âœ… 2376 nouvelles lignes insÃ©rÃ©es dans 'bronze_station_46022_meteo_eel river'.

ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : santa monica basin
ğŸ†” Station ID : 46025
âœ… CoordonnÃ©es extraites : Latitude = 33.76N, Longitude = 119.05W
ğŸŒŠ Water Depth : 890 m
ğŸŒ¡ï¸ Sea Temp Depth : 2
ğŸŒ¬ï¸ Barometer Elevation : 2.4
ğŸ’¨ Anemometer Height : 3.8
ğŸŒ¤ï¸ Air Temp Height : 3.4
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=46025
âœ… Parsing terminÃ© !

ğŸ“Š station_zone : santa monica basin
âœ… DonnÃ©es marines collectÃ©es 46025
âš ï¸ La table 'bronze_station_46025_marine_santa monica basin' existe dÃ©jÃ  dans MySQL.
âŒ Erreur lors de l'insertion des nouvelles lignes : Invalid comparison between dtype=datetime64[ns, UTC] and datetime
âœ… Table 'bronze_station_46025_meteo_santa monica basin' crÃ©Ã©e avec succÃ¨s dans MySQL.
âš ï¸ Aucune donnÃ©e dans 'bronze_station_46025_meteo_santa monica basin', insertion de toutes les lignes.
âœ… 2376 nouvelles lignes insÃ©rÃ©es dans 'bronze_station_46025_meteo_santa monica basin'.

ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : st georges
ğŸ†” Station ID : 46027
âœ… CoordonnÃ©es extraites : Latitude = 41.84N, Longitude = 124.38W
ğŸŒŠ Water Depth : 60 m
ğŸŒ¡ï¸ Sea Temp Depth : 2
ğŸŒ¬ï¸ Barometer Elevation : 2.4
ğŸ’¨ Anemometer Height : 3.8
ğŸŒ¤ï¸ Air Temp Height : 3.4
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=46027
âœ… Parsing terminÃ© !

ğŸ“Š station_zone : st georges
âœ… DonnÃ©es marines collectÃ©es 46027
âš ï¸ La table 'bronze_station_46027_marine_st georges' existe dÃ©jÃ  dans MySQL.
âŒ Erreur lors de l'insertion des nouvelles lignes : Invalid comparison between dtype=datetime64[ns, UTC] and datetime
âœ… Table 'bronze_station_46027_meteo_st georges' crÃ©Ã©e avec succÃ¨s dans MySQL.
âš ï¸ Aucune donnÃ©e dans 'bronze_station_46027_meteo_st georges', insertion de toutes les lignes.
âœ… 2376 nouvelles lignes insÃ©rÃ©es dans 'bronze_station_46027_meteo_st georges'.

ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : columbia river bar
ğŸ†” Station ID : 46029
âœ… CoordonnÃ©es extraites : Latitude = 46.16N, Longitude = 124.49W
ğŸŒŠ Water Depth : 131 m
ğŸŒ¡ï¸ Sea Temp Depth : 2
ğŸŒ¬ï¸ Barometer Elevation : 2.4
ğŸ’¨ Anemometer Height : 3.8
ğŸŒ¤ï¸ Air Temp Height : 3.4
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=46029
âœ… Parsing terminÃ© !

ğŸ“Š station_zone : columbia river bar
âœ… DonnÃ©es marines collectÃ©es 46029

C:\Users\f.gionnane\AppData\Local\Temp\ipykernel_6036\1306807727.py:14: UserWarning: The provided table name 'bronze_station_BURL1_meteo_southwest pass, la' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(name=table_name, con=engine, if_exists='append', index=False)

âœ… 2376 nouvelles lignes insÃ©rÃ©es dans 'bronze_station_BURL1_meteo_southwest pass, la'.

ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : five fingers, ak
ğŸ†” Station ID : FFIA2
âœ… CoordonnÃ©es extraites : Latitude = 57.27N, Longitude = 133.63W
ğŸŒŠ Water Depth : N/A
ğŸŒ¡ï¸ Sea Temp Depth : None
ğŸŒ¬ï¸ Barometer Elevation : 21.3
ğŸ’¨ Anemometer Height : 22
ğŸŒ¤ï¸ Air Temp Height : 4.3
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=FFIA2
âœ… Parsing terminÃ© !

ğŸ“Š station_zone : five fingers, ak
âœ… DonnÃ©es marines collectÃ©es FFIA2
âš ï¸ La table 'bronze_station_FFIA2_marine_five fingers, ak' existe dÃ©jÃ  dans MySQL.
âŒ Erreur lors de l'insertion des nouvelles lignes : Invalid comparison between dtype=datetime64[ns, UTC] and datetime
âœ… Table 'bronze_station_FFIA2_meteo_five fingers, ak' crÃ©Ã©e avec succÃ¨s dans MySQL.
âš ï¸ Aucune donnÃ©e dans 'bronze_station_FFIA2_meteo_five fingers, ak', insertion de toutes les lignes.

C:\Users\f.gionnane\AppData\Local\Temp\ipykernel_6036\1306807727.py:14: UserWarning: The provided table name 'bronze_station_FFIA2_meteo_five fingers, ak' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(name=table_name, con=engine, if_exists='append', index=False)

âœ… 2376 nouvelles lignes insÃ©rÃ©es dans 'bronze_station_FFIA2_meteo_five fingers, ak'.
âš ï¸ Erreur collecte marine KTNF1: Error accessing https://www.ndbc.noaa.gov/data/realtime2/KTNF1.txt
Server Error ( 404: Not Found)

ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : long key, fl
ğŸ†” Station ID : LONF1
âœ… CoordonnÃ©es extraites : Latitude = 24.84N, Longitude = 80.86W
ğŸŒŠ Water Depth : N/A
ğŸŒ¡ï¸ Sea Temp Depth : None
ğŸŒ¬ï¸ Barometer Elevation : 5.03
ğŸ’¨ Anemometer Height : 6.34
ğŸŒ¤ï¸ Air Temp Height : 6.1
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=LONF1
âœ… Parsing terminÃ© !

ğŸ“Š station_zone : long key, fl
âœ… DonnÃ©es marines collectÃ©es LONF1
âš ï¸ La table 'bronze_station_LONF1_marine_long key, fl' existe dÃ©jÃ  dans MySQL.
âŒ Erreur lors de l'insertion des nouvelles lignes : Invalid comparison between dtype=datetime64[ns, UTC] and datetime
âœ… Table 'bronze_station_LONF1_meteo_long key, fl' crÃ©Ã©e avec succÃ¨s dans MySQL.
âš ï¸ Aucune donnÃ©e dans 'bronze_station_LONF1_meteo_long key, fl', insertion de toutes les lignes.
âœ… 2376 nouvelles lignes insÃ©rÃ©es dans 'bronze_station_LONF1_meteo_long key, fl'.

C:\Users\f.gionnane\AppData\Local\Temp\ipykernel_6036\1306807727.py:14: UserWarning: The provided table name 'bronze_station_LONF1_meteo_long key, fl' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(name=table_name, con=engine, if_exists='append', index=False)

ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : mt. desert rock, me
ğŸ†” Station ID : MDRM1
âœ… CoordonnÃ©es extraites : Latitude = 43.97N, Longitude = 68.13W
ğŸŒŠ Water Depth : N/A
ğŸŒ¡ï¸ Sea Temp Depth : None
ğŸŒ¬ï¸ Barometer Elevation : 16.5
ğŸ’¨ Anemometer Height : 22.6
ğŸŒ¤ï¸ Air Temp Height : 15.2
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=MDRM1
âœ… Parsing terminÃ© !

ğŸ“Š station_zone : mt. desert rock, me
âœ… DonnÃ©es marines collectÃ©es MDRM1
âš ï¸ La table 'bronze_station_MDRM1_marine_mt_ desert rock, me' existe dÃ©jÃ  dans MySQL.
âŒ Erreur lors de l'insertion des nouvelles lignes : Invalid comparison between dtype=datetime64[ns, UTC] and datetime
âœ… Table 'bronze_station_MDRM1_meteo_mt_ desert rock, me' crÃ©Ã©e avec succÃ¨s dans MySQL.
âš ï¸ Aucune donnÃ©e dans 'bronze_station_MDRM1_meteo_mt_ desert rock, me', insertion de toutes les lignes.

C:\Users\f.gionnane\AppData\Local\Temp\ipykernel_6036\1306807727.py:14: UserWarning: The provided table name 'bronze_station_MDRM1_meteo_mt_ desert rock, me' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(name=table_name, con=engine, if_exists='append', index=False)

âœ… 2376 nouvelles lignes insÃ©rÃ©es dans 'bronze_station_MDRM1_meteo_mt_ desert rock, me'.

ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : middle rock light, ak
ğŸ†” Station ID : MRKA2
âœ… CoordonnÃ©es extraites : Latitude = 61.08N, Longitude = 146.66W
ğŸŒŠ Water Depth : N/A
ğŸŒ¡ï¸ Sea Temp Depth : None
ğŸŒ¬ï¸ Barometer Elevation : 10.9
ğŸ’¨ Anemometer Height : 15.9
ğŸŒ¤ï¸ Air Temp Height : 15.4
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=MRKA2
âœ… Parsing terminÃ© !

ğŸ“Š station_zone : middle rock light, ak
âœ… DonnÃ©es marines collectÃ©es MRKA2
âš ï¸ La table 'bronze_station_MRKA2_marine_middle rock light, ak' existe dÃ©jÃ  dans MySQL.
âŒ Erreur lors de l'insertion des nouvelles lignes : Invalid comparison between dtype=datetime64[ns, UTC] and datetime
âœ… Table 'bronze_station_MRKA2_meteo_middle rock light, ak' crÃ©Ã©e avec succÃ¨s dans MySQL.
âš ï¸ Aucune donnÃ©e dans 'bronze_station_MRKA2_meteo_middle rock light, ak', insertion de toutes les lignes.

C:\Users\f.gionnane\AppData\Local\Temp\ipykernel_6036\1306807727.py:14: UserWarning: The provided table name 'bronze_station_MRKA2_meteo_middle rock light, ak' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(name=table_name, con=engine, if_exists='append', index=False)

âœ… 2376 nouvelles lignes insÃ©rÃ©es dans 'bronze_station_MRKA2_meteo_middle rock light, ak'.

ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : potato point, ak
ğŸ†” Station ID : POTA2
âœ… CoordonnÃ©es extraites : Latitude = 61.06N, Longitude = 146.70W
ğŸŒŠ Water Depth : N/A
ğŸŒ¡ï¸ Sea Temp Depth : None
ğŸŒ¬ï¸ Barometer Elevation : 8.5
ğŸ’¨ Anemometer Height : 10
ğŸŒ¤ï¸ Air Temp Height : 9.1
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=POTA2
âœ… Parsing terminÃ© !

ğŸ“Š station_zone : potato point, ak
âœ… DonnÃ©es marines collectÃ©es POTA2
âš ï¸ La table 'bronze_station_POTA2_marine_potato point, ak' existe dÃ©jÃ  dans MySQL.
âŒ Erreur lors de l'insertion des nouvelles lignes : Invalid comparison between dtype=datetime64[ns, UTC] and datetime
âœ… Table 'bronze_station_POTA2_meteo_potato point, ak' crÃ©Ã©e avec succÃ¨s dans MySQL.
âš ï¸ Aucune donnÃ©e dans 'bronze_station_POTA2_meteo_potato point, ak', insertion de toutes les lignes.
âœ… 2376 nouvelles lignes insÃ©rÃ©es dans 'bronze_station_POTA2_meteo_potato point, ak'.

C:\Users\f.gionnane\AppData\Local\Temp\ipykernel_6036\1306807727.py:14: UserWarning: The provided table name 'bronze_station_POTA2_meteo_potato point, ak' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(name=table_name, con=engine, if_exists='append', index=False)

ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : sand key, fl
ğŸ†” Station ID : SANF1
âœ… CoordonnÃ©es extraites : Latitude = 24.46N, Longitude = 81.88W
ğŸŒŠ Water Depth : N/A
ğŸŒ¡ï¸ Sea Temp Depth : None
ğŸŒ¬ï¸ Barometer Elevation : 13.6
ğŸ’¨ Anemometer Height : 14.8
ğŸŒ¤ï¸ Air Temp Height : 14.6
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=SANF1
âœ… Parsing terminÃ© !

ğŸ“Š station_zone : sand key, fl
âœ… DonnÃ©es marines collectÃ©es SANF1
âš ï¸ La table 'bronze_station_SANF1_marine_sand key, fl' existe dÃ©jÃ  dans MySQL.
âŒ Erreur lors de l'insertion des nouvelles lignes : Invalid comparison between dtype=datetime64[ns, UTC] and datetime
âœ… Table 'bronze_station_SANF1_meteo_sand key, fl' crÃ©Ã©e avec succÃ¨s dans MySQL.
âš ï¸ Aucune donnÃ©e dans 'bronze_station_SANF1_meteo_sand key, fl', insertion de toutes les lignes.
âœ… 2376 nouvelles lignes insÃ©rÃ©es dans 'bronze_station_SANF1_meteo_sand key, fl'.

C:\Users\f.gionnane\AppData\Local\Temp\ipykernel_6036\1306807727.py:14: UserWarning: The provided table name 'bronze_station_SANF1_meteo_sand key, fl' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(name=table_name, con=engine, if_exists='append', index=False)

ğŸ” DÃ©but du parsing de la bouÃ©e...
ğŸŒ Zone de la station : south bass island, oh
ğŸ†” Station ID : SBIO1
âœ… CoordonnÃ©es extraites : Latitude = 41.63N, Longitude = 82.84W
ğŸŒŠ Water Depth : N/A
ğŸŒ¡ï¸ Sea Temp Depth : None
ğŸŒ¬ï¸ Barometer Elevation : 178.4
ğŸ’¨ Anemometer Height : 24.3
ğŸŒ¤ï¸ Air Temp Height : 23.4
ğŸ”— URL de la bouÃ©e : https://www.ndbc.noaa.gov/station_page.php?station=SBIO1
âœ… Parsing terminÃ© !

ğŸ“Š station_zone : south bass island, oh
âœ… DonnÃ©es marines collectÃ©es SBIO1
âš ï¸ La table 'bronze_station_SBIO1_marine_south bass island, oh' existe dÃ©jÃ  dans MySQL.
âŒ Erreur lors de l'insertion des nouvelles lignes : Invalid comparison between dtype=datetime64[ns, UTC] and datetime
âœ… Table 'bronze_station_SBIO1_meteo_south bass island, oh' crÃ©Ã©e avec succÃ¨s dans MySQL.
âš ï¸ Aucune donnÃ©e dans 'bronze_station_SBIO1_meteo_south bass island, oh', insertion de toutes les lignes.
âœ… 2376 nouvelles lignes insÃ©rÃ©es dans 'bronze_station_SBIO1_meteo_south bass island, oh'.

C:\Users\f.gionnane\AppData\Local\Temp\ipykernel_6036\1306807727.py:14: UserWarning: The provided table name 'bronze_station_SBIO1_meteo_south bass island, oh' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(name=table_name, con=engine, if_exists='append', index=False)

âš ï¸ Erreur collecte marine SMKF1: Error accessing https://www.ndbc.noaa.gov/data/realtime2/SMKF1.txt
Server Error ( 404: Not Found)

In [11]:
# # Convertir le dictionnaire en DataFrame, en utilisant 'buoy_id' comme index
# df_buoy_datas = pd.DataFrame.from_dict(buoy_datas, orient='index')

# # RÃ©initialiser l'index et renommer la colonne
# df_buoy_datas = df_buoy_datas.reset_index(drop=False)
# df_buoy_datas.rename(columns={"index": "Station ID"}, inplace=True)

# table_name="buoy_datas"
# # Charger les donnÃ©es dans la table
# try:
#     load_data_in_table_sqlalchemy(conn=conn, schema=schema, df=df_buoy_datas, table_name=table_name, key_column="Station ID")
#     print(f"DonnÃ©es chargÃ©es avec succÃ¨s dans la table {table_name}.")
# except Exception as e:
#     print(f"Erreur lors du chargement des donnÃ©es : {e}")

# # Affichage du DataFrame
# df_buoy_datas.head()

Map Visualization

In [12]:
# list_coords=[]

# for id in buoy_list:
#     metadata = get_station_metadata(id)
    
#     station_id, station_zone, lat_buoy, lon_buoy = parse_buoy_json(metadata)
#     lat_buoy, lon_buoy = convert_coordinates(lat_buoy,lon_buoy)
#     coords = [station_id, station_zone, lat_buoy, lon_buoy]
#     list_coords.append(coords)

# def barycentre(coords):
#     x_coords = [item[2] for item in coords]
#     y_coords = [item[3] for item in coords]

#     x_barycentre = sum(x_coords) / len(coords)
#     y_barycentre = sum(y_coords) / len(coords)

#     return [x_barycentre, y_barycentre]

# # Exemple d'utilisation
# coords = [[1, 2], [3, 4], [5, 6], [7, 8]]
# centre = barycentre(list_coords)
# print(list_coords)
# print("CoordonnÃ©es du barycentre :", centre)

In [13]:
# map = folium.Map(location=(centre[0],centre[1]), 
#                  tiles="Esri.WorldImagery", 
#                  zoom_start=2.5, attr="DonnÃ©es fournies par Esri")
# for loc in list_coords:
#     lat = loc[2]
#     lon = loc[3]
#     station_id = loc[0]
#     station_zone = loc[1]
#     folium.Marker(
#     location=[lat, lon],
#     popup=f"Station ID: {station_id}\n\nZone: {station_zone}\nLat: {lat}\n\nLon: {lon}",
#     icon=folium.Icon(icon="cloud"),
# ).add_to(map)

# map

Columns Check Tests

In [14]:
choice = random.choice(buoy_list)
choice

'46027'

In [15]:
df_marine_test = NDBC.realtime_observations(choice)
print(f'{df_marine_test.shape[0]} rows \n\n{df_marine_test.isna().sum()}')
df_marine_test.head(1)

6527 rows

wind_direction               46
wind_speed                    5
wind_gust                     5
wave_height                3180
dominant_wave_period       4352
average_wave_period        3181
dominant_wave_direction    3181
pressure                      4
air_temperature               9
water_temperature            53
dewpoint                      9
visibility                 6527
3hr_pressure_tendency      5440
water_level_above_mean     6527
time                          0
dtype: int64

,wind_direction,wind_speed,wind_gust,wave_height,dominant_wave_period,average_wave_period,dominant_wave_direction,pressure,air_temperature,water_temperature,dewpoint,visibility,3hr_pressure_tendency,water_level_above_mean,time
0,350.0,6.0,8.0,NaN,NaN,NaN,NaN,1016.4,8.4,10.8,5.3,NaN,NaN,NaN,2025-04-02 12:30:00+00:00

Check test API Open-Meteo

In [16]:
df_meteo_test = meteo_api_request(coordinates=[12, 23])
print(f'{df_meteo_test.shape[0]} rows \n{df_meteo_test.isna().sum()}')
df_meteo_test.head(1)

2376 rows
date                        0
temperature_2m            331
relative_humidity_2m      331
dew_point_2m              331
precipitation             331
rain                      331
showers                   331
pressure_msl              331
surface_pressure          331
cloud_cover               331
cloud_cover_low           331
cloud_cover_mid           331
cloud_cover_high          331
visibility                331
wind_speed_10m            331
soil_temperature_0cm      359
soil_moisture_0_to_1cm    359
is_day                      0
dtype: int64

,date,temperature_2m,relative_humidity_2m,dew_point_2m,precipitation,rain,showers,pressure_msl,surface_pressure,cloud_cover,cloud_cover_low,cloud_cover_mid,cloud_cover_high,visibility,wind_speed_10m,soil_temperature_0cm,soil_moisture_0_to_1cm,is_day
0,2024-12-31 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [17]:
metadata_extracted = get_station_metadata(choice)
metadata_extracted

{'Watch circle radius': '136 yards',
 'Water depth': '60 m',
 'Sea temp depth': '2 m below water line',
 'Barometer elevation': '2.4 m above mean sea level',
 'Anemometer height': '3.8 m above site elevation',
 'Air temp height': '3.4 m above site elevation',
 'Site elevation': 'sea level',
 'Location': '41.840 N 124.382 W (41Â°50\'24" N 124Â°22\'54" W)',
 'Statation Type': 'Owned and maintained by National Data Buoy Center, 3-meter discus buoy w/ seal cage, SCOOP payload',
 'Name': 'Station 46027 (LLNR 562) - ST GEORGES - 8 NM NW of Crescent City, CA'}

In [ ]:
# def drop_schema_or_tables(conn, schema_name, drop_schema=False):
#     try:
#         if drop_schema:
#             # Supprimer le schÃ©ma si drop_schema est True
#             print(f"Dropping schema {schema_name}...")
#             conn.execute(text(f"DROP SCHEMA IF EXISTS \"{schema_name}\" CASCADE;"))
#             conn.commit()
#             print(f"Schema {schema_name} dropped successfully.")
#         else:
#             # Supprimer toutes les tables dans le schÃ©ma
#             print(f"Dropping all tables in schema {schema_name}...")
#             conn.execute(text(f"""
#                 DO $$ 
#                 DECLARE
#                     r RECORD;
#                 BEGIN
#                     FOR r IN 
#                         SELECT table_name 
#                         FROM information_schema.tables 
#                         WHERE table_schema = :schema_name
#                     LOOP
#                         EXECUTE 'DROP TABLE IF EXISTS "' || :schema_name || '".' || quote_ident(r.table_name) || ' CASCADE';
#                     END LOOP;
#                 END $$;
#             """), {'schema_name': schema_name})
#             conn.commit()
#             print(f"All tables in schema {schema_name} dropped successfully.")
#     except Exception as e:
#         print(f"An error occurred: {e}")
#         conn.rollback()
#         print("Transaction rolled back.")

# drop_schema_or_tables(conn=conn, schema_name=schema, drop_schema=False)

In [ ]:
# def explore_dict(d, indent=0):
#     """ Fonction rÃ©cursive pour afficher toute la structure du dictionnaire """
#     for key, value in d.items():
#         print(" " * indent + f"- {key}: {type(value)}")
#         if isinstance(value, dict):
#             explore_dict(value, indent + 4)  # Explorer rÃ©cursivement avec une indentation
#         elif isinstance(value, list):
#             if len(value) > 0:
#                 print(" " * (indent + 4) + f"Liste ({len(value)} Ã©lÃ©ments), type du premier Ã©lÃ©ment: {type(value[0])}")
#                 if isinstance(value[0], dict):
#                     explore_dict(value[0], indent + 8)  # Explorer si c'est une liste de dicts
#         else:
#             print(" " * (indent + 4) + f"Valeur: {value}")

# # RÃ©cupÃ©rer la premiÃ¨re clÃ© du dictionnaire
# first_key = next(iter(buoy_datas))
# print(f"Exploration de la premiÃ¨re clÃ©: {first_key}\n")

# # ExÃ©cuter la fonction sur le premier Ã©lÃ©ment uniquement
# explore_dict({first_key: buoy_datas[first_key]})

In [ ]:
# openmongo_creds = r'C:\Users\f.gionnane\Documents\Data Engineering\Credentials\mongo_creds.json'

# with open(openmongo_creds, 'r') as file:
#     content = json.load(file)
#     mongo_user = content["user"]
#     mongo_password = content["password"]
#     mongo_string = content["connection_string"]

# uri = mongo_string
# # Create a new client and connect to the server
# client = MongoClient(uri, server_api=ServerApi('1'))

# # Send a ping to confirm a successful connection
# try:
#     client.admin.command('ping')
#     print("Pinged your deployment. You successfully connected to MongoDB!")
# except Exception as e:
#     print(e)
#     print(f'{mongo_user}\n{mongo_password}\n{mongo_string}')

In [ ]:
# Charger le fichier GeoJSON depuis l'URL
url = "https://gist.githubusercontent.com/jrrickard/8755532505a40f3b8317/raw/ecd98849d3a5f4502b773b986254f19af3b8d8fb/oceans.json"
geojson_data = requests.get(url).json()

# CrÃ©er une carte avec un fond satellite ESRI
m = folium.Map(location=[0, 0], zoom_start=3, tiles="Esri.WorldImagery")

# Ajouter le GeoJSON (les ocÃ©ans) Ã  la carte
folium.GeoJson(geojson_data, name="Oceans").add_to(m)

# Fonction pour gÃ©nÃ©rer des coordonnÃ©es alÃ©atoires dans l'ocÃ©an
def random_ocean_coords():
    lat = random.uniform(-60, 60)  # Latitude dans les eaux de l'ocÃ©an
    lon = random.uniform(-180, 180)  # Longitude dans les eaux de l'ocÃ©an
    return lat, lon

# GÃ©nÃ©rer un DataFrame avec des coordonnÃ©es, tempÃ©ratures, hauteur des vagues, vitesse du vent, etc.
data = {
    "Coordinates": [],
    "Temperature (Â°C)": [],
    "Wave Height (m)": [],
    "Wind Speed (km/h)": []
}

# GÃ©nÃ©rer 10 marqueurs avec des valeurs alÃ©atoires
for _ in range(10):
    lat, lon = random_ocean_coords()
    
    # GÃ©nÃ©rer des valeurs alÃ©atoires pour la tempÃ©rature, la hauteur des vagues et la vitesse du vent
    temperature = random.uniform(15, 30)  # TempÃ©rature entre 15 et 30Â°C
    wave_height = random.uniform(0.5, 5)  # Hauteur des vagues entre 0.5m et 5m
    wind_speed = random.uniform(10, 50)  # Vitesse du vent entre 10 km/h et 50 km/h
    
    # Ajouter ces valeurs dans le DataFrame
    data["Coordinates"].append((lat, lon))
    data["Temperature (Â°C)"].append(temperature)
    data["Wave Height (m)"].append(wave_height)
    data["Wind Speed (km/h)"].append(wind_speed)

# CrÃ©er un DataFrame pandas avec ces donnÃ©es
df = pd.DataFrame(data)

# Ajouter les marqueurs et cercles Ã  la carte avec des couleurs dÃ©pendant de la tempÃ©rature
for index, row in df.iterrows():
    lat, lon = row["Coordinates"]
    temperature = row["Temperature (Â°C)"]
    
    # DÃ©terminer la couleur du cercle en fonction de la tempÃ©rature
    if temperature < 20:
        fill_color = "blue"
    elif temperature < 25:
        fill_color = "green"
    else:
        fill_color = "red"
    
    # Ajouter un marqueur
    folium.Marker(
        location=[lat, lon],
        icon=folium.Icon(color="blue", icon="info-sign")
    ).add_to(m)
    
    # Ajouter un cercle autour du marqueur
    folium.CircleMarker(
        location=[lat, lon],
        radius=15,  # Rayon du cercle
        color="black",
        fill=True,
        fill_color=fill_color,
        fill_opacity=0.5
    ).add_to(m)

# Ajouter une couche de contrÃ´le pour la carte
folium.LayerControl().add_to(m)

# Sauvegarder la carte dans un fichier HTML
m.save("ocean_markers_map.html")

# Affichage de la carte dans l'environnement interactif (si vous Ãªtes dans un environnement Jupyter)

In [ ]:
m