In [ ]:
%pip install -q -r requirements.txt

In [103]:
from imports import *
from functions import *
from IPython.core.display import *

In [104]:
path_postgresql_creds = r"C:\Users\f.gionnane\Documents\Data Engineering\Credentials\postgresql_creds.json"
with open(path_postgresql_creds, 'r') as file:
    content = json.load(file)
    user = content["user"]
    password = content["password"]
    host = content["host"]
    port = content["port"]

db = "MyProjects"
schema = "End_To_End_Oceanography_ML"

# Cr√©er l'engine PostgreSQL
engine = create_engine(f"postgresql+psycopg2://{user}:{password}@{host}:{port}/{db}")
conn = engine.connect()

Get Available Stations ID List
Filter Dysfunctional Stations

In [105]:
# get all stations and some metadata as a Pandas DataFrame
stations_df = api.stations()
# parse the response as a dictionary
stations_df = api.stations(as_df=True)
stations_df.head()

,Station,Hull No./Config and Location,Location Lat/Long,Wind Speed,Wind Direction,Sea Level Pressure,Wave Height,Dominant Period,Air Temp,Water Temp,Dew Point,Remark
0,41001,East Hatteras,34.70N 72.23W,Sensor/system failure.,Sensor/system failure.,Sensor/system failure.,Sensor/system failure.,Sensor/system failure.,Sensor/system failure.,Sensor/system failure.,Sensor/system failure.,"Buoy recovered 10/26/24, data release stopped."
1,41002,3DV33 (SC) South Hatteras,31.75N 74.93W,Sensor/system failure.,Sensor/system failure.,Sensor/system failure.,Sensor/system failure.,Sensor/system failure.,Sensor/system failure.,Sensor/system failure.,Sensor/system failure.,Buoy adrift 12/30/24.
2,41004,3DV02 (SC) Edisto,32.50N 79.08W,100,100,100,100,100,100,99,97,Dewpoint is intermittent.
3,41008,3D36 (SC) Grays Reef,31.40N 80.85W,97,97,100,99,99,97,99,96,All data is intermittent after 8/18/23.
4,41009,3D65 (SC) Canaveral,28.50N 80.18W,100,100,100,1,1,95,95,95,Wave data ceased 3/6/25. Water temperature cea...

In [106]:
access_error_url_list = []

# Liste de mots √† rechercher dans la colonne "Remark"
blacklist = ["Failure", "ceased", "failed", "recovered", "stopped", 'adrift']
stations_id_set = set()

print(f'Avant Filtre: {stations_df.shape[0]}')

# Liste pour collecter les indices √† supprimer
indices_a_supprimer = []

# Parcours des lignes de la DataFrame
for idx, row in stations_df.iterrows():
    station_id = row["Station"]
    station_Location = row["Hull No./Config and Location"]  # Extraire la valeur de la cellule pour chaque ligne
    
    # Extraction du nom de la station si un ")" est trouv√©
    if ")" in station_Location:
        station_name = station_Location.split(')')[1].rstrip(" )")  # On enl√®ve l'espace et la parenth√®se en fin de cha√Æne
    else:
        station_name = station_Location.strip()  # Si pas de ")", on garde toute la cha√Æne

    station_name = station_name.rstrip(" )").replace("(", "").replace(")", "").strip()

    # Nettoyage final pour enlever toute parenth√®se ou espace en fin de nom
    station_name = station_name.rstrip(" )")

    # V√©rifier si "Remark" n'est pas NaN et si un des √©l√©ments de blacklist est dans "Remark"
    if isinstance(row["Remark"], str) and any(blacklist_word.lower() in row["Remark"].lower() for blacklist_word in blacklist):
        # Ajouter l'index √† la liste
        indices_a_supprimer.append(idx)
    else:
        try:
            # Effectuer l'appel API
            buoy_data = NDBC.realtime_observations(station_id)
            
            # V√©rifier si les donn√©es de l'API sont valides (si le DataFrame n'est pas vide)
            if not buoy_data.empty:
                print(f'Buoy {station_id}: {station_name} passed the Remarks and API Test!')
                stations_id_set.add(station_id)
            else:
                print(f'Buoy {station_id}: {station_name} did not return valid data. Deleting.')
                indices_a_supprimer.append(idx)

        except Exception as e:
            # Si l'erreur est un HTTPError, on peut essayer d'afficher le code d'erreur
            if isinstance(e, HTTPError):
                print(f'Buoy {station_id}: {station_name} API Call returned {e.code}. Deleting.')
            else:
                # Dans tous les autres cas d'exception, on affiche le message d'erreur complet
                print(f'Buoy {station_id}: {station_name} API Call encountered an error. Deleting.')
                
                if str(e).startswith("Error accessing"):
                    url = f"https://www.ndbc.noaa.gov/station_page.php?station={station_id}"
                    access_error_url_list.append([station_id, url])
            # Ajouter l'index √† la liste en cas d'erreur
            indices_a_supprimer.append(idx)

# Supprimer les lignes apr√®s la boucle
stations_df.drop(index=indices_a_supprimer, inplace=True)

print(f'Apr√®s Filtre: {stations_df.shape[0]}')

Avant Filtre: 146
Buoy 41004: Edisto passed the Remarks and API Test!
Buoy 41008: Grays Reef passed the Remarks and API Test!
Buoy 41010: Canaveral East passed the Remarks and API Test!
Buoy 41013: Frying Pan Shoals, Nc buoy passed the Remarks and API Test!
Buoy 41040: North Equatorial One passed the Remarks and API Test!
Buoy 41043: Ne Puerto Rico passed the Remarks and API Test!
Buoy 41044: Ne St Martin passed the Remarks and API Test!
Buoy 41049: South Bermuda passed the Remarks and API Test!
Buoy 42001: Mid Gulf passed the Remarks and API Test!
Buoy 42002: West Gulf passed the Remarks and API Test!
Buoy 42003: East Gulf API Call encountered an error. Deleting.
Buoy 42012: Orange Beach, Al passed the Remarks and API Test!
Buoy 42019: Freeport, Tx passed the Remarks and API Test!
Buoy 42020: Corpus Christi, Tx passed the Remarks and API Test!
Buoy 42035: Galveston, Tx passed the Remarks and API Test!
Buoy 42036: West Tampa passed the Remarks and API Test!
Buoy 42056: Yucatan Basin passed the Remarks and API Test!
Buoy 42058: Central Caribbean passed the Remarks and API Test!
Buoy 42060: Caribbean Valley passed the Remarks and API Test!
Buoy 44007: Portland, Me passed the Remarks and API Test!
Buoy 44009: Delaware Bay passed the Remarks and API Test!
Buoy 44011: Georges Bank passed the Remarks and API Test!
Buoy 44013: Boston passed the Remarks and API Test!
Buoy 44014: Virginia Beach passed the Remarks and API Test!
Buoy 44020: Nantucket Sound passed the Remarks and API Test!
Buoy 44025: Long Island passed the Remarks and API Test!
Buoy 44027: Jonesport, Me passed the Remarks and API Test!
Buoy 44065: New York Harbor Entrance passed the Remarks and API Test!
Buoy 46001: Western Gulf Of Alaska passed the Remarks and API Test!
Buoy 46006: Southeast Papa passed the Remarks and API Test!
Buoy 46014: Pt Arena passed the Remarks and API Test!
Buoy 46022: Eel River passed the Remarks and API Test!
Buoy 46025: Santa Monica Basin passed the Remarks and API Test!
Buoy 46027: St Georges passed the Remarks and API Test!
Buoy 46029: Columbia River Bar passed the Remarks and API Test!
Buoy 46053: East Santa Barb passed the Remarks and API Test!
Buoy 46069: South Santa Rosa Is passed the Remarks and API Test!
Buoy 46071: Western Aleutians passed the Remarks and API Test!
Buoy 46072: Central Aleutians passed the Remarks and API Test!
Buoy 46078: Albatross Bank passed the Remarks and API Test!
Buoy 46084: Cape Edgecumbe passed the Remarks and API Test!
Buoy 46086: San Clemente Basin passed the Remarks and API Test!
Buoy 46087: Neah Bay, Wa passed the Remarks and API Test!
Buoy 46088: New Dungeness, Wa passed the Remarks and API Test!
Buoy 51000: Northern Hawaii One passed the Remarks and API Test!
Buoy 51001: Northwestern Hawaii One passed the Remarks and API Test!
Buoy 51002: Southwestern Hawaii passed the Remarks and API Test!
Buoy AMAA2: East Amatuli Island Light passed the Remarks and API Test!
Buoy BURL1: Southwest Pass , La passed the Remarks and API Test!
Buoy DBLN6: Dunkirk, Ny passed the Remarks and API Test!
Buoy DISW3: Devils Island, Wi passed the Remarks and API Test!
Buoy FFIA2: Five Fingers ,ak passed the Remarks and API Test!
Buoy FILA2: Flat Island Light passed the Remarks and API Test!
Buoy IOSN3: Isle Of Shoals, Nh passed the Remarks and API Test!
Buoy KTNF1: Keaton Beach, Fl API Call encountered an error. Deleting.
Buoy LONF1: Long Key, Fl passed the Remarks and API Test!
Buoy MDRM1: Mt Desert Rock, Me passed the Remarks and API Test!
Buoy MRKA2: Middle Rock Light, Ak passed the Remarks and API Test!
Buoy POTA2: Potato Point, Ak passed the Remarks and API Test!
Buoy PTGC1: Point Arguello, Ca API Call encountered an error. Deleting.
Buoy ROAM4: Rock Of Ages, Mi passed the Remarks and API Test!
Buoy SANF1: Sand Key, Fl passed the Remarks and API Test!
Buoy SBIO1: South Bass Island, Oh passed the Remarks and API Test!
Buoy SISW1: Smith Island, Wa passed the Remarks and API Test!
Buoy SMKF1: Sombrero Key, Fl API Call encountered an error. Deleting.
Buoy WPOW1: West Point, Wa passed the Remarks and API Test!
Apr√®s Filtre: 39

In [107]:
for item in access_error_url_list:
    print(f"Access error for buoy {item[0]}")
    print(f"{item[1]}\n")

Access error for buoy 42003
https://www.ndbc.noaa.gov/station_page.php?station=42003

Access error for buoy KTNF1
https://www.ndbc.noaa.gov/station_page.php?station=KTNF1

Access error for buoy PTGC1
https://www.ndbc.noaa.gov/station_page.php?station=PTGC1

Access error for buoy SMKF1
https://www.ndbc.noaa.gov/station_page.php?station=SMKF1

In [108]:
stations_id_list = list(stations_id_set)

for item in stations_id_list:
    metadata = get_station_metadata(item)
    station_name, station_id, station_zone, lat_buoy, lon_buoy, marine_data_table_name = parse_buoy_json(metadata)
    print(f"Name: {station_name}")
    print(f"Station ID: {station_id}")
    print(f"Lat: {lat_buoy}")
    print(f"Lon: {lon_buoy}")
    print(f"Zone: {station_zone}")
    print(f"Base Table Name: {marine_data_table_name}\n")

Name: station 41040
Station ID: 41040
Lat: 14.536
Lon: -53.136
Zone: north equatorial one
Base Table Name: station_41040_north_equatorial_one_14_536_-53_136

Name: station ffia2
Station ID: FFIA2
Lat: 57.272
Lon: -133.63
Zone: five fingers, ak
Base Table Name: station_ffia2_five_fingers_ak_57_272_-133_63

Name: station 44027
Station ID: 44027
Lat: 44.284
Lon: -67.301
Zone: jonesport, me
Base Table Name: station_44027_jonesport_me_44_284_-67_301

Name: station 44009
Station ID: 44009
Lat: 38.46
Lon: -74.692
Zone: delaware bay 26 nm southeast of cape may, nj
Base Table Name: station_44009_delaware_bay_26_nm_southeast_of_cape_may_nj_38_46_-74_692

Name: station 46014
Station ID: 46014
Lat: 39.225
Lon: -123.98
Zone: pt arena
Base Table Name: station_46014_pt_arena_39_225_-123_98

Name: station 46072
Station ID: 46072
Lat: 51.645
Lon: -172.145
Zone: central aleutians 230 nm sw dutch harbor
Base Table Name: station_46072_central_aleutians_230_nm_sw_dutch_harbor_51_645_-172_145

Name: station 44013
Station ID: 44013
Lat: 42.346
Lon: -70.651
Zone: boston 16 nm east of boston, ma
Base Table Name: station_44013_boston_16_nm_east_of_boston_ma_42_346_-70_651

Name: station 41043
Station ID: 41043
Lat: 21.026
Lon: -64.793
Zone: ne puerto rico
Base Table Name: station_41043_ne_puerto_rico_21_026_-64_793

Name: station 46022
Station ID: 46022
Lat: 40.716
Lon: -124.54
Zone: eel river
Base Table Name: station_46022_eel_river_40_716_-124_54

Name: station 42060
Station ID: 42060
Lat: 16.434
Lon: -63.329
Zone: caribbean valley
Base Table Name: station_42060_caribbean_valley_16_434_-63_329

Name: station 42035
Station ID: 42035
Lat: 29.235
Lon: -94.41
Zone: galveston,tx
Base Table Name: station_42035_galvestontx_29_235_-94_41

Name: station 44025
Station ID: 44025
Lat: 40.258
Lon: -73.175
Zone: long island
Base Table Name: station_44025_long_island_40_258_-73_175

Name: station 46069
Station ID: 46069
Lat: 33.677
Lon: -120.213
Zone: south santa rosa
Base Table Name: station_46069_south_santa_rosa_33_677_-120_213

Name: station lonf1
Station ID: LONF1
Lat: 24.844
Lon: -80.864
Zone: long key, fl
Base Table Name: station_lonf1_long_key_fl_24_844_-80_864

Name: station 42012
Station ID: 42012
Lat: 30.06
Lon: -87.548
Zone: orange beach
Base Table Name: station_42012_orange_beach_30_06_-87_548

Name: station 51000
Station ID: 51000
Lat: 23.528
Lon: -153.792
Zone: northern hawaii one
Base Table Name: station_51000_northern_hawaii_one_23_528_-153_792

Name: station iosn3
Station ID: IOSN3
Lat: 42.967
Lon: -70.623
Zone: isle of shoals, nh
Base Table Name: station_iosn3_isle_of_shoals_nh_42_967_-70_623

Name: station 42020
Station ID: 42020
Lat: 26.97
Lon: -96.679
Zone: corpus christi, tx
Base Table Name: station_42020_corpus_christi_tx_26_97_-96_679

Name: station 44014
Station ID: 44014
Lat: 36.603
Lon: -74.837
Zone: virginia beach 64 nm east of virginia beach, va
Base Table Name: station_44014_virginia_beach_64_nm_east_of_virginia_beach_va_36_603_-74_837

Name: station 46006
Station ID: 46006
Lat: 40.764
Lon: -137.377
Zone: southeast papa
Base Table Name: station_46006_southeast_papa_40_764_-137_377

Name: station mdrm1
Station ID: MDRM1
Lat: 43.969
Lon: -68.128
Zone: mt. desert rock, me
Base Table Name: station_mdrm1_mt__desert_rock_me_43_969_-68_128

Name: station 46027
Station ID: 46027
Lat: 41.84
Lon: -124.382
Zone: st georges
Base Table Name: station_46027_st_georges_41_84_-124_382

Name: station 41010
Station ID: 41010
Lat: 28.878
Lon: -78.467
Zone: canaveral east
Base Table Name: station_41010_canaveral_east_28_878_-78_467

Name: station 46029
Station ID: 46029
Lat: 46.163
Lon: -124.487
Zone: columbia river bar
Base Table Name: station_46029_columbia_river_bar_46_163_-124_487

Name: station roam4
Station ID: ROAM4
Lat: 47.867
Lon: -89.315
Zone: rock of ages, mi
Base Table Name: station_roam4_rock_of_ages_mi_47_867_-89_315

Name: station sbio1
Station ID: SBIO1
Lat: 41.629
Lon: -82.841
Zone: south bass island, oh
Base Table Name: station_sbio1_south_bass_island_oh_41_629_-82_841

Name: station 42056
Station ID: 42056
Lat: 19.82
Lon: -84.98
Zone: yucatan basin
Base Table Name: station_42056_yucatan_basin_19_82_-84_98

Name: station mrka2
Station ID: MRKA2
Lat: 61.082
Lon: -146.662
Zone: middle rock light, ak
Base Table Name: station_mrka2_middle_rock_light_ak_61_082_-146_662

Name: station 46088
Station ID: 46088
Lat: 48.332
Lon: -123.179
Zone: new dungeness
Base Table Name: station_46088_new_dungeness_48_332_-123_179

Name: station 46084
Station ID: 46084
Lat: 56.614
Lon: -136.04
Zone: cape edgecumbe
Base Table Name: station_46084_cape_edgecumbe_56_614_-136_04

Name: station 51002
Station ID: 51002
Lat: 17.07
Lon: -157.755
Zone: southwest hawaii
Base Table Name: station_51002_southwest_hawaii_17_07_-157_755

Name: station sisw1
Station ID: SISW1
Lat: 48.321
Lon: -122.831
Zone: smith island, wa
Base Table Name: station_sisw1_smith_island_wa_48_321_-122_831

Name: station 42019
Station ID: 42019
Lat: 27.908
Lon: -95.343
Zone: freeport, tx
Base Table Name: station_42019_freeport_tx_27_908_-95_343

Name: station wpow1
Station ID: WPOW1
Lat: 47.662
Lon: -122.435
Zone: west point, wa
Base Table Name: station_wpow1_west_point_wa_47_662_-122_435

Name: station 46025
Station ID: 46025
Lat: 33.755
Lon: -119.045
Zone: santa monica basin
Base Table Name: station_46025_santa_monica_basin_33_755_-119_045

Name: station 42001
Station ID: 42001
Lat: 25.926
Lon: -89.662
Zone: mid gulf
Base Table Name: station_42001_mid_gulf_25_926_-89_662

Name: station pota2
Station ID: POTA2
Lat: 61.06
Lon: -146.7
Zone: potato point, ak
Base Table Name: station_pota2_potato_point_ak_61_06_-146_7

Name: station 41049
Station ID: 41049
Lat: 27.505
Lon: -62.271
Zone: south bermuda
Base Table Name: station_41049_south_bermuda_27_505_-62_271

Name: station 46053
Station ID: 46053
Lat: 34.241
Lon: -119.839
Zone: east santa barbara
Base Table Name: station_46053_east_santa_barbara_34_241_-119_839

Name: station 51001
Station ID: 51001
Lat: 24.475
Lon: -162.03
Zone: northwestern hawaii one
Base Table Name: station_51001_northwestern_hawaii_one_24_475_-162_03

Name: station disw3
Station ID: DISW3
Lat: 47.079
Lon: -90.728
Zone: devils island, wi
Base Table Name: station_disw3_devils_island_wi_47_079_-90_728

Name: station amaa2
Station ID: AMAA2
Lat: 58.915
Lon: -151.952
Zone: east amatuli island light, ak
Base Table Name: station_amaa2_east_amatuli_island_light_ak_58_915_-151_952

Name: station fila2
Station ID: FILA2
Lat: 59.332
Lon: -151.995
Zone: flat island light, ak
Base Table Name: station_fila2_flat_island_light_ak_59_332_-151_995

Name: station 42002
Station ID: 42002
Lat: 25.95
Lon: -93.78
Zone: west gulf
Base Table Name: station_42002_west_gulf_25_95_-93_78

Name: station 42058
Station ID: 42058
Lat: 14.512
Lon: -75.153
Zone: central caribbean
Base Table Name: station_42058_central_caribbean_14_512_-75_153

Name: station 41008
Station ID: 41008
Lat: 31.4
Lon: -80.866
Zone: grays reef
Base Table Name: station_41008_grays_reef_31_4_-80_866

Name: station 41044
Station ID: 41044
Lat: 21.582
Lon: -58.63
Zone: ne st martin
Base Table Name: station_41044_ne_st_martin_21_582_-58_63

Name: station 44011
Station ID: 44011
Lat: 41.093
Lon: -66.562
Zone: georges bank 170 nm east of hyannis, ma
Base Table Name: station_44011_georges_bank_170_nm_east_of_hyannis_ma_41_093_-66_562

Name: station 46078
Station ID: 46078
Lat: 55.561
Lon: -152.599
Zone: albatross bank
Base Table Name: station_46078_albatross_bank_55_561_-152_599

Name: station 44007
Station ID: 44007
Lat: 43.525
Lon: -70.14
Zone: portland
Base Table Name: station_44007_portland_43_525_-70_14

Name: station 46001
Station ID: 46001
Lat: 56.296
Lon: -148.027
Zone: western gulf of alaska
Base Table Name: station_46001_western_gulf_of_alaska_56_296_-148_027

Name: station 41004
Station ID: 41004
Lat: 32.502
Lon: -79.099
Zone: edisto
Base Table Name: station_41004_edisto_32_502_-79_099

Name: station 46087
Station ID: 46087
Lat: 48.493
Lon: -124.727
Zone: neah bay
Base Table Name: station_46087_neah_bay_48_493_-124_727

Name: station 44020
Station ID: 44020
Lat: 41.497
Lon: -70.283
Zone: nantucket sound
Base Table Name: station_44020_nantucket_sound_41_497_-70_283

Name: station 44065
Station ID: 44065
Lat: 40.368
Lon: -73.701
Zone: new york harbor entrance
Base Table Name: station_44065_new_york_harbor_entrance_40_368_-73_701

Name: station dbln6
Station ID: DBLN6
Lat: 42.494
Lon: -79.354
Zone: dunkirk, ny
Base Table Name: station_dbln6_dunkirk_ny_42_494_-79_354

Name: station sanf1
Station ID: SANF1
Lat: 24.456
Lon: -81.877
Zone: sand key, fl
Base Table Name: station_sanf1_sand_key_fl_24_456_-81_877

Name: station 46071
Station ID: 46071
Lat: 51.04
Lon: 179.764
Zone: western aleutians
Base Table Name: station_46071_western_aleutians_51_04_179_764

Name: station 46086
Station ID: 46086
Lat: 32.499
Lon: -118.052
Zone: san clemente basin
Base Table Name: station_46086_san_clemente_basin_32_499_-118_052

Name: station burl1
Station ID: BURL1
Lat: 28.906
Lon: -89.429
Zone: southwest pass, la
Base Table Name: station_burl1_southwest_pass_la_28_906_-89_429

Name: station 41013
Station ID: 41013
Lat: 33.441
Lon: -77.764
Zone: frying pan shoals, nc
Base Table Name: station_41013_frying_pan_shoals_nc_33_441_-77_764

Name: station 42036
Station ID: 42036
Lat: 28.5
Lon: -84.505
Zone: west tampa
Base Table Name: station_42036_west_tampa_28_5_-84_505

In [109]:
metadata = get_station_metadata("FFIA2")
station_name, station_id, station_zone, lat_buoy, lon_buoy, marine_data_table_name = parse_buoy_json(metadata)
print(station_zone)
for key, value in metadata.items():
    print(key)
    print(value)
    print(" ")

five fingers, ak
Barometer elevation
21.3 m above mean sea level

Anemometer height
22 m above site elevation

Air temp height
4.3 m above site elevation

Site elevation
6.7 m above mean sea level

Location
57.272 N 133.630 W (57¬∞16'18" N 133¬∞37'48" W)

Statation Type
Owned and maintained by National Data Buoy Center, C-MAN Station, Sutron XPERT payload

Name
Station FFIA2  - Five Fingers, AK

In [110]:
stations_dict = {}

for station in stations_id_list:
    metadata = get_station_metadata(station)  # R√©cup√©rer les m√©tadonn√©es de la station

    # Assurez-vous que les m√©tadonn√©es sont correctement r√©cup√©r√©es avant de les analyser
    if metadata:
        # Parser les m√©tadonn√©es de la station
        station_name, station_id, station_zone, lat_buoy, lon_buoy, marine_data_table_name = parse_buoy_json(metadata)
        stations_dict[station_id] = {}

        # Remplir le dictionnaire avec les donn√©es trait√©es
        stations_dict[station_id]["Station Name"] = station_name
        stations_dict[station_id]["Lat"] = lat_buoy
        stations_dict[station_id]["Lon"] = lon_buoy
        stations_dict[station_id]["Zone"] = station_zone
        stations_dict[station_id]["Table Name"] = marine_data_table_name

        # Affichage pour chaque station
        print(f"Name: {station_name}")
        print(f"Station ID: {station_id}")
        print(f"Lat: {lat_buoy}")
        print(f"Lon: {lon_buoy}")
        print(f"Zone: {station_zone}")
        print(f"Base Table Name: {marine_data_table_name}\n")

# R√©sultat final du dictionnaire des stations
stations_dict

Name: station 41040
Station ID: 41040
Lat: 14.536
Lon: -53.136
Zone: north equatorial one
Base Table Name: station_41040_north_equatorial_one_14_536_-53_136

Name: station ffia2
Station ID: FFIA2
Lat: 57.272
Lon: -133.63
Zone: five fingers, ak
Base Table Name: station_ffia2_five_fingers_ak_57_272_-133_63

Name: station 44027
Station ID: 44027
Lat: 44.284
Lon: -67.301
Zone: jonesport, me
Base Table Name: station_44027_jonesport_me_44_284_-67_301

Name: station 44009
Station ID: 44009
Lat: 38.46
Lon: -74.692
Zone: delaware bay 26 nm southeast of cape may, nj
Base Table Name: station_44009_delaware_bay_26_nm_southeast_of_cape_may_nj_38_46_-74_692

Name: station 46014
Station ID: 46014
Lat: 39.225
Lon: -123.98
Zone: pt arena
Base Table Name: station_46014_pt_arena_39_225_-123_98

Name: station 46072
Station ID: 46072
Lat: 51.645
Lon: -172.145
Zone: central aleutians 230 nm sw dutch harbor
Base Table Name: station_46072_central_aleutians_230_nm_sw_dutch_harbor_51_645_-172_145

Name: station 44013
Station ID: 44013
Lat: 42.346
Lon: -70.651
Zone: boston 16 nm east of boston, ma
Base Table Name: station_44013_boston_16_nm_east_of_boston_ma_42_346_-70_651

Name: station 41043
Station ID: 41043
Lat: 21.026
Lon: -64.793
Zone: ne puerto rico
Base Table Name: station_41043_ne_puerto_rico_21_026_-64_793

Name: station 46022
Station ID: 46022
Lat: 40.716
Lon: -124.54
Zone: eel river
Base Table Name: station_46022_eel_river_40_716_-124_54

Name: station 42060
Station ID: 42060
Lat: 16.434
Lon: -63.329
Zone: caribbean valley
Base Table Name: station_42060_caribbean_valley_16_434_-63_329

Name: station 42035
Station ID: 42035
Lat: 29.235
Lon: -94.41
Zone: galveston,tx
Base Table Name: station_42035_galvestontx_29_235_-94_41

Name: station 44025
Station ID: 44025
Lat: 40.258
Lon: -73.175
Zone: long island
Base Table Name: station_44025_long_island_40_258_-73_175

Name: station 46069
Station ID: 46069
Lat: 33.677
Lon: -120.213
Zone: south santa rosa
Base Table Name: station_46069_south_santa_rosa_33_677_-120_213

Name: station lonf1
Station ID: LONF1
Lat: 24.844
Lon: -80.864
Zone: long key, fl
Base Table Name: station_lonf1_long_key_fl_24_844_-80_864

Name: station 42012
Station ID: 42012
Lat: 30.06
Lon: -87.548
Zone: orange beach
Base Table Name: station_42012_orange_beach_30_06_-87_548

Name: station 51000
Station ID: 51000
Lat: 23.528
Lon: -153.792
Zone: northern hawaii one
Base Table Name: station_51000_northern_hawaii_one_23_528_-153_792

Name: station iosn3
Station ID: IOSN3
Lat: 42.967
Lon: -70.623
Zone: isle of shoals, nh
Base Table Name: station_iosn3_isle_of_shoals_nh_42_967_-70_623

Name: station 42020
Station ID: 42020
Lat: 26.97
Lon: -96.679
Zone: corpus christi, tx
Base Table Name: station_42020_corpus_christi_tx_26_97_-96_679

Name: station 44014
Station ID: 44014
Lat: 36.603
Lon: -74.837
Zone: virginia beach 64 nm east of virginia beach, va
Base Table Name: station_44014_virginia_beach_64_nm_east_of_virginia_beach_va_36_603_-74_837

Name: station 46006
Station ID: 46006
Lat: 40.764
Lon: -137.377
Zone: southeast papa
Base Table Name: station_46006_southeast_papa_40_764_-137_377

Name: station mdrm1
Station ID: MDRM1
Lat: 43.969
Lon: -68.128
Zone: mt. desert rock, me
Base Table Name: station_mdrm1_mt__desert_rock_me_43_969_-68_128

Name: station 46027
Station ID: 46027
Lat: 41.84
Lon: -124.382
Zone: st georges
Base Table Name: station_46027_st_georges_41_84_-124_382

Name: station 41010
Station ID: 41010
Lat: 28.878
Lon: -78.467
Zone: canaveral east
Base Table Name: station_41010_canaveral_east_28_878_-78_467

Name: station 46029
Station ID: 46029
Lat: 46.163
Lon: -124.487
Zone: columbia river bar
Base Table Name: station_46029_columbia_river_bar_46_163_-124_487

Name: station roam4
Station ID: ROAM4
Lat: 47.867
Lon: -89.315
Zone: rock of ages, mi
Base Table Name: station_roam4_rock_of_ages_mi_47_867_-89_315

Name: station sbio1
Station ID: SBIO1
Lat: 41.629
Lon: -82.841
Zone: south bass island, oh
Base Table Name: station_sbio1_south_bass_island_oh_41_629_-82_841

Name: station 42056
Station ID: 42056
Lat: 19.82
Lon: -84.98
Zone: yucatan basin
Base Table Name: station_42056_yucatan_basin_19_82_-84_98

Name: station mrka2
Station ID: MRKA2
Lat: 61.082
Lon: -146.662
Zone: middle rock light, ak
Base Table Name: station_mrka2_middle_rock_light_ak_61_082_-146_662

Name: station 46088
Station ID: 46088
Lat: 48.332
Lon: -123.179
Zone: new dungeness
Base Table Name: station_46088_new_dungeness_48_332_-123_179

Name: station 46084
Station ID: 46084
Lat: 56.614
Lon: -136.04
Zone: cape edgecumbe
Base Table Name: station_46084_cape_edgecumbe_56_614_-136_04

Name: station 51002
Station ID: 51002
Lat: 17.07
Lon: -157.755
Zone: southwest hawaii
Base Table Name: station_51002_southwest_hawaii_17_07_-157_755

Name: station sisw1
Station ID: SISW1
Lat: 48.321
Lon: -122.831
Zone: smith island, wa
Base Table Name: station_sisw1_smith_island_wa_48_321_-122_831

Name: station 42019
Station ID: 42019
Lat: 27.908
Lon: -95.343
Zone: freeport, tx
Base Table Name: station_42019_freeport_tx_27_908_-95_343

Name: station wpow1
Station ID: WPOW1
Lat: 47.662
Lon: -122.435
Zone: west point, wa
Base Table Name: station_wpow1_west_point_wa_47_662_-122_435

Name: station 46025
Station ID: 46025
Lat: 33.755
Lon: -119.045
Zone: santa monica basin
Base Table Name: station_46025_santa_monica_basin_33_755_-119_045

Name: station 42001
Station ID: 42001
Lat: 25.926
Lon: -89.662
Zone: mid gulf
Base Table Name: station_42001_mid_gulf_25_926_-89_662

Name: station pota2
Station ID: POTA2
Lat: 61.06
Lon: -146.7
Zone: potato point, ak
Base Table Name: station_pota2_potato_point_ak_61_06_-146_7

Name: station 41049
Station ID: 41049
Lat: 27.505
Lon: -62.271
Zone: south bermuda
Base Table Name: station_41049_south_bermuda_27_505_-62_271

Name: station 46053
Station ID: 46053
Lat: 34.241
Lon: -119.839
Zone: east santa barbara
Base Table Name: station_46053_east_santa_barbara_34_241_-119_839

Name: station 51001
Station ID: 51001
Lat: 24.475
Lon: -162.03
Zone: northwestern hawaii one
Base Table Name: station_51001_northwestern_hawaii_one_24_475_-162_03

Name: station disw3
Station ID: DISW3
Lat: 47.079
Lon: -90.728
Zone: devils island, wi
Base Table Name: station_disw3_devils_island_wi_47_079_-90_728

Name: station amaa2
Station ID: AMAA2
Lat: 58.915
Lon: -151.952
Zone: east amatuli island light, ak
Base Table Name: station_amaa2_east_amatuli_island_light_ak_58_915_-151_952

Name: station fila2
Station ID: FILA2
Lat: 59.332
Lon: -151.995
Zone: flat island light, ak
Base Table Name: station_fila2_flat_island_light_ak_59_332_-151_995

Name: station 42002
Station ID: 42002
Lat: 25.95
Lon: -93.78
Zone: west gulf
Base Table Name: station_42002_west_gulf_25_95_-93_78

Name: station 42058
Station ID: 42058
Lat: 14.512
Lon: -75.153
Zone: central caribbean
Base Table Name: station_42058_central_caribbean_14_512_-75_153

Name: station 41008
Station ID: 41008
Lat: 31.4
Lon: -80.866
Zone: grays reef
Base Table Name: station_41008_grays_reef_31_4_-80_866

Name: station 41044
Station ID: 41044
Lat: 21.582
Lon: -58.63
Zone: ne st martin
Base Table Name: station_41044_ne_st_martin_21_582_-58_63

Name: station 44011
Station ID: 44011
Lat: 41.093
Lon: -66.562
Zone: georges bank 170 nm east of hyannis, ma
Base Table Name: station_44011_georges_bank_170_nm_east_of_hyannis_ma_41_093_-66_562

Name: station 46078
Station ID: 46078
Lat: 55.561
Lon: -152.599
Zone: albatross bank
Base Table Name: station_46078_albatross_bank_55_561_-152_599

Name: station 44007
Station ID: 44007
Lat: 43.525
Lon: -70.14
Zone: portland
Base Table Name: station_44007_portland_43_525_-70_14

Name: station 46001
Station ID: 46001
Lat: 56.296
Lon: -148.027
Zone: western gulf of alaska
Base Table Name: station_46001_western_gulf_of_alaska_56_296_-148_027

Name: station 41004
Station ID: 41004
Lat: 32.502
Lon: -79.099
Zone: edisto
Base Table Name: station_41004_edisto_32_502_-79_099

Name: station 46087
Station ID: 46087
Lat: 48.493
Lon: -124.727
Zone: neah bay
Base Table Name: station_46087_neah_bay_48_493_-124_727

Name: station 44020
Station ID: 44020
Lat: 41.497
Lon: -70.283
Zone: nantucket sound
Base Table Name: station_44020_nantucket_sound_41_497_-70_283

Name: station 44065
Station ID: 44065
Lat: 40.368
Lon: -73.701
Zone: new york harbor entrance
Base Table Name: station_44065_new_york_harbor_entrance_40_368_-73_701

Name: station dbln6
Station ID: DBLN6
Lat: 42.494
Lon: -79.354
Zone: dunkirk, ny
Base Table Name: station_dbln6_dunkirk_ny_42_494_-79_354

Name: station sanf1
Station ID: SANF1
Lat: 24.456
Lon: -81.877
Zone: sand key, fl
Base Table Name: station_sanf1_sand_key_fl_24_456_-81_877

Name: station 46071
Station ID: 46071
Lat: 51.04
Lon: 179.764
Zone: western aleutians
Base Table Name: station_46071_western_aleutians_51_04_179_764

Name: station 46086
Station ID: 46086
Lat: 32.499
Lon: -118.052
Zone: san clemente basin
Base Table Name: station_46086_san_clemente_basin_32_499_-118_052

Name: station burl1
Station ID: BURL1
Lat: 28.906
Lon: -89.429
Zone: southwest pass, la
Base Table Name: station_burl1_southwest_pass_la_28_906_-89_429

Name: station 41013
Station ID: 41013
Lat: 33.441
Lon: -77.764
Zone: frying pan shoals, nc
Base Table Name: station_41013_frying_pan_shoals_nc_33_441_-77_764

Name: station 42036
Station ID: 42036
Lat: 28.5
Lon: -84.505
Zone: west tampa
Base Table Name: station_42036_west_tampa_28_5_-84_505

{'41040': {'Station Name': 'station 41040',
  'Lat': 14.536,
  'Lon': -53.136,
  'Zone': 'north equatorial one',
  'Table Name': 'station_41040_north_equatorial_one_14_536_-53_136'},
 'FFIA2': {'Station Name': 'station ffia2',
  'Lat': 57.272,
  'Lon': -133.63,
  'Zone': 'five fingers, ak',
  'Table Name': 'station_ffia2_five_fingers_ak_57_272_-133_63'},
 '44027': {'Station Name': 'station 44027',
  'Lat': 44.284,
  'Lon': -67.301,
  'Zone': 'jonesport, me',
  'Table Name': 'station_44027_jonesport_me_44_284_-67_301'},
 '44009': {'Station Name': 'station 44009',
  'Lat': 38.46,
  'Lon': -74.692,
  'Zone': 'delaware bay 26 nm southeast of cape may, nj',
  'Table Name': 'station_44009_delaware_bay_26_nm_southeast_of_cape_may_nj_38_46_-74_692'},
 '46014': {'Station Name': 'station 46014',
  'Lat': 39.225,
  'Lon': -123.98,
  'Zone': 'pt arena',
  'Table Name': 'station_46014_pt_arena_39_225_-123_98'},
 '46072': {'Station Name': 'station 46072',
  'Lat': 51.645,
  'Lon': -172.145,
  'Zone': 'central aleutians 230 nm sw dutch harbor',
  'Table Name': 'station_46072_central_aleutians_230_nm_sw_dutch_harbor_51_645_-172_145'},
 '44013': {'Station Name': 'station 44013',
  'Lat': 42.346,
  'Lon': -70.651,
  'Zone': 'boston 16 nm east of boston, ma',
  'Table Name': 'station_44013_boston_16_nm_east_of_boston_ma_42_346_-70_651'},
 '41043': {'Station Name': 'station 41043',
  'Lat': 21.026,
  'Lon': -64.793,
  'Zone': 'ne puerto rico',
  'Table Name': 'station_41043_ne_puerto_rico_21_026_-64_793'},
 '46022': {'Station Name': 'station 46022',
  'Lat': 40.716,
  'Lon': -124.54,
  'Zone': 'eel river',
  'Table Name': 'station_46022_eel_river_40_716_-124_54'},
 '42060': {'Station Name': 'station 42060',
  'Lat': 16.434,
  'Lon': -63.329,
  'Zone': 'caribbean valley',
  'Table Name': 'station_42060_caribbean_valley_16_434_-63_329'},
 '42035': {'Station Name': 'station 42035',
  'Lat': 29.235,
  'Lon': -94.41,
  'Zone': 'galveston,tx',
  'Table Name': 'station_42035_galvestontx_29_235_-94_41'},
 '44025': {'Station Name': 'station 44025',
  'Lat': 40.258,
  'Lon': -73.175,
  'Zone': 'long island',
  'Table Name': 'station_44025_long_island_40_258_-73_175'},
 '46069': {'Station Name': 'station 46069',
  'Lat': 33.677,
  'Lon': -120.213,
  'Zone': 'south santa rosa',
  'Table Name': 'station_46069_south_santa_rosa_33_677_-120_213'},
 'LONF1': {'Station Name': 'station lonf1',
  'Lat': 24.844,
  'Lon': -80.864,
  'Zone': 'long key, fl',
  'Table Name': 'station_lonf1_long_key_fl_24_844_-80_864'},
 '42012': {'Station Name': 'station 42012',
  'Lat': 30.06,
  'Lon': -87.548,
  'Zone': 'orange beach',
  'Table Name': 'station_42012_orange_beach_30_06_-87_548'},
 '51000': {'Station Name': 'station 51000',
  'Lat': 23.528,
  'Lon': -153.792,
  'Zone': 'northern hawaii one',
  'Table Name': 'station_51000_northern_hawaii_one_23_528_-153_792'},
 'IOSN3': {'Station Name': 'station iosn3',
  'Lat': 42.967,
  'Lon': -70.623,
  'Zone': 'isle of shoals, nh',
  'Table Name': 'station_iosn3_isle_of_shoals_nh_42_967_-70_623'},
 '42020': {'Station Name': 'station 42020',
  'Lat': 26.97,
  'Lon': -96.679,
  'Zone': 'corpus christi, tx',
  'Table Name': 'station_42020_corpus_christi_tx_26_97_-96_679'},
 '44014': {'Station Name': 'station 44014',
  'Lat': 36.603,
  'Lon': -74.837,
  'Zone': 'virginia beach 64 nm east of virginia beach, va',
  'Table Name': 'station_44014_virginia_beach_64_nm_east_of_virginia_beach_va_36_603_-74_837'},
 '46006': {'Station Name': 'station 46006',
  'Lat': 40.764,
  'Lon': -137.377,
  'Zone': 'southeast papa',
  'Table Name': 'station_46006_southeast_papa_40_764_-137_377'},
 'MDRM1': {'Station Name': 'station mdrm1',
  'Lat': 43.969,
  'Lon': -68.128,
  'Zone': 'mt. desert rock, me',
  'Table Name': 'station_mdrm1_mt__desert_rock_me_43_969_-68_128'},
 '46027': {'Station Name': 'station 46027',
  'Lat': 41.84,
  'Lon': -124.382,
  'Zone': 'st georges',
  'Table Name': 'station_46027_st_georges_41_84_-124_382'},
 '41010': {'Station Name': 'station 41010',
  'Lat': 28.878,
  'Lon': -78.467,
  'Zone': 'canaveral east',
  'Table Name': 'station_41010_canaveral_east_28_878_-78_467'},
 '46029': {'Station Name': 'station 46029',
  'Lat': 46.163,
  'Lon': -124.487,
  'Zone': 'columbia river bar',
  'Table Name': 'station_46029_columbia_river_bar_46_163_-124_487'},
 'ROAM4': {'Station Name': 'station roam4',
  'Lat': 47.867,
  'Lon': -89.315,
  'Zone': 'rock of ages, mi',
  'Table Name': 'station_roam4_rock_of_ages_mi_47_867_-89_315'},
 'SBIO1': {'Station Name': 'station sbio1',
  'Lat': 41.629,
  'Lon': -82.841,
  'Zone': 'south bass island, oh',
  'Table Name': 'station_sbio1_south_bass_island_oh_41_629_-82_841'},
 '42056': {'Station Name': 'station 42056',
  'Lat': 19.82,
  'Lon': -84.98,
  'Zone': 'yucatan basin',
  'Table Name': 'station_42056_yucatan_basin_19_82_-84_98'},
 'MRKA2': {'Station Name': 'station mrka2',
  'Lat': 61.082,
  'Lon': -146.662,
  'Zone': 'middle rock light, ak',
  'Table Name': 'station_mrka2_middle_rock_light_ak_61_082_-146_662'},
 '46088': {'Station Name': 'station 46088',
  'Lat': 48.332,
  'Lon': -123.179,
  'Zone': 'new dungeness',
  'Table Name': 'station_46088_new_dungeness_48_332_-123_179'},
 '46084': {'Station Name': 'station 46084',
  'Lat': 56.614,
  'Lon': -136.04,
  'Zone': 'cape edgecumbe',
  'Table Name': 'station_46084_cape_edgecumbe_56_614_-136_04'},
 '51002': {'Station Name': 'station 51002',
  'Lat': 17.07,
  'Lon': -157.755,
  'Zone': 'southwest hawaii',
  'Table Name': 'station_51002_southwest_hawaii_17_07_-157_755'},
 'SISW1': {'Station Name': 'station sisw1',
  'Lat': 48.321,
  'Lon': -122.831,
  'Zone': 'smith island, wa',
  'Table Name': 'station_sisw1_smith_island_wa_48_321_-122_831'},
 '42019': {'Station Name': 'station 42019',
  'Lat': 27.908,
  'Lon': -95.343,
  'Zone': 'freeport, tx',
  'Table Name': 'station_42019_freeport_tx_27_908_-95_343'},
 'WPOW1': {'Station Name': 'station wpow1',
  'Lat': 47.662,
  'Lon': -122.435,
  'Zone': 'west point, wa',
  'Table Name': 'station_wpow1_west_point_wa_47_662_-122_435'},
 '46025': {'Station Name': 'station 46025',
  'Lat': 33.755,
  'Lon': -119.045,
  'Zone': 'santa monica basin',
  'Table Name': 'station_46025_santa_monica_basin_33_755_-119_045'},
 '42001': {'Station Name': 'station 42001',
  'Lat': 25.926,
  'Lon': -89.662,
  'Zone': 'mid gulf',
  'Table Name': 'station_42001_mid_gulf_25_926_-89_662'},
 'POTA2': {'Station Name': 'station pota2',
  'Lat': 61.06,
  'Lon': -146.7,
  'Zone': 'potato point, ak',
  'Table Name': 'station_pota2_potato_point_ak_61_06_-146_7'},
 '41049': {'Station Name': 'station 41049',
  'Lat': 27.505,
  'Lon': -62.271,
  'Zone': 'south bermuda',
  'Table Name': 'station_41049_south_bermuda_27_505_-62_271'},
 '46053': {'Station Name': 'station 46053',
  'Lat': 34.241,
  'Lon': -119.839,
  'Zone': 'east santa barbara',
  'Table Name': 'station_46053_east_santa_barbara_34_241_-119_839'},
 '51001': {'Station Name': 'station 51001',
  'Lat': 24.475,
  'Lon': -162.03,
  'Zone': 'northwestern hawaii one',
  'Table Name': 'station_51001_northwestern_hawaii_one_24_475_-162_03'},
 'DISW3': {'Station Name': 'station disw3',
  'Lat': 47.079,
  'Lon': -90.728,
  'Zone': 'devils island, wi',
  'Table Name': 'station_disw3_devils_island_wi_47_079_-90_728'},
 'AMAA2': {'Station Name': 'station amaa2',
  'Lat': 58.915,
  'Lon': -151.952,
  'Zone': 'east amatuli island light, ak',
  'Table Name': 'station_amaa2_east_amatuli_island_light_ak_58_915_-151_952'},
 'FILA2': {'Station Name': 'station fila2',
  'Lat': 59.332,
  'Lon': -151.995,
  'Zone': 'flat island light, ak',
  'Table Name': 'station_fila2_flat_island_light_ak_59_332_-151_995'},
 '42002': {'Station Name': 'station 42002',
  'Lat': 25.95,
  'Lon': -93.78,
  'Zone': 'west gulf',
  'Table Name': 'station_42002_west_gulf_25_95_-93_78'},
 '42058': {'Station Name': 'station 42058',
  'Lat': 14.512,
  'Lon': -75.153,
  'Zone': 'central caribbean',
  'Table Name': 'station_42058_central_caribbean_14_512_-75_153'},
 '41008': {'Station Name': 'station 41008',
  'Lat': 31.4,
  'Lon': -80.866,
  'Zone': 'grays reef',
  'Table Name': 'station_41008_grays_reef_31_4_-80_866'},
 '41044': {'Station Name': 'station 41044',
  'Lat': 21.582,
  'Lon': -58.63,
  'Zone': 'ne st martin',
  'Table Name': 'station_41044_ne_st_martin_21_582_-58_63'},
 '44011': {'Station Name': 'station 44011',
  'Lat': 41.093,
  'Lon': -66.562,
  'Zone': 'georges bank 170 nm east of hyannis, ma',
  'Table Name': 'station_44011_georges_bank_170_nm_east_of_hyannis_ma_41_093_-66_562'},
 '46078': {'Station Name': 'station 46078',
  'Lat': 55.561,
  'Lon': -152.599,
  'Zone': 'albatross bank',
  'Table Name': 'station_46078_albatross_bank_55_561_-152_599'},
 '44007': {'Station Name': 'station 44007',
  'Lat': 43.525,
  'Lon': -70.14,
  'Zone': 'portland',
  'Table Name': 'station_44007_portland_43_525_-70_14'},
 '46001': {'Station Name': 'station 46001',
  'Lat': 56.296,
  'Lon': -148.027,
  'Zone': 'western gulf of alaska',
  'Table Name': 'station_46001_western_gulf_of_alaska_56_296_-148_027'},
 '41004': {'Station Name': 'station 41004',
  'Lat': 32.502,
  'Lon': -79.099,
  'Zone': 'edisto',
  'Table Name': 'station_41004_edisto_32_502_-79_099'},
 '46087': {'Station Name': 'station 46087',
  'Lat': 48.493,
  'Lon': -124.727,
  'Zone': 'neah bay',
  'Table Name': 'station_46087_neah_bay_48_493_-124_727'},
 '44020': {'Station Name': 'station 44020',
  'Lat': 41.497,
  'Lon': -70.283,
  'Zone': 'nantucket sound',
  'Table Name': 'station_44020_nantucket_sound_41_497_-70_283'},
 '44065': {'Station Name': 'station 44065',
  'Lat': 40.368,
  'Lon': -73.701,
  'Zone': 'new york harbor entrance',
  'Table Name': 'station_44065_new_york_harbor_entrance_40_368_-73_701'},
 'DBLN6': {'Station Name': 'station dbln6',
  'Lat': 42.494,
  'Lon': -79.354,
  'Zone': 'dunkirk, ny',
  'Table Name': 'station_dbln6_dunkirk_ny_42_494_-79_354'},
 'SANF1': {'Station Name': 'station sanf1',
  'Lat': 24.456,
  'Lon': -81.877,
  'Zone': 'sand key, fl',
  'Table Name': 'station_sanf1_sand_key_fl_24_456_-81_877'},
 '46071': {'Station Name': 'station 46071',
  'Lat': 51.04,
  'Lon': 179.764,
  'Zone': 'western aleutians',
  'Table Name': 'station_46071_western_aleutians_51_04_179_764'},
 '46086': {'Station Name': 'station 46086',
  'Lat': 32.499,
  'Lon': -118.052,
  'Zone': 'san clemente basin',
  'Table Name': 'station_46086_san_clemente_basin_32_499_-118_052'},
 'BURL1': {'Station Name': 'station burl1',
  'Lat': 28.906,
  'Lon': -89.429,
  'Zone': 'southwest pass, la',
  'Table Name': 'station_burl1_southwest_pass_la_28_906_-89_429'},
 '41013': {'Station Name': 'station 41013',
  'Lat': 33.441,
  'Lon': -77.764,
  'Zone': 'frying pan shoals, nc',
  'Table Name': 'station_41013_frying_pan_shoals_nc_33_441_-77_764'},
 '42036': {'Station Name': 'station 42036',
  'Lat': 28.5,
  'Lon': -84.505,
  'Zone': 'west tampa',
  'Table Name': 'station_42036_west_tampa_28_5_-84_505'}}

In [95]:
def print_with_flush(message):
    sys.stdout.write(f'\r{message}  ')  # \r permet de revenir au d√©but de la ligne
    sys.stdout.flush()  # Force l'affichage imm√©diat

Build Bronze Layer Table Names

In [33]:
bronze_tables_list = []

for item in station_table_mapping.values():
    bronze_table_name = f'bronze_{item["table name"]}'
    bronze_tables_list.append(bronze_table_name)
bronze_tables_list

['bronze_station_smkf1_sombrero_key_fl_24_628_-81_109',
 'bronze_station_46025_santa_monica_basin_33_755_-119_045',
 'bronze_station_46086_san_clemente_basin_32_499_-118_052',
 'bronze_station_46022_eel_river_40_716_-124_54',
 'bronze_station_41044_ne_st_martin_21_582_-58_63',
 'bronze_station_46071_western_aleutians_51_04_179_764',
 'bronze_station_46072_central_aleutians_230_nm_sw_dutch_harbor_51_645_-172_145',
 'bronze_station_42058_central_caribbean_14_512_-75_153',
 'bronze_station_mrka2_middle_rock_light_ak_61_082_-146_662',
 'bronze_station_46014_pt_arena_39_225_-123_98',
 'bronze_station_ffia2_five_fingers_ak_57_272_-133_63',
 'bronze_station_46001_western_gulf_of_alaska_56_296_-148_027',
 'bronze_station_sbio1_south_bass_island_oh_41_629_-82_841',
 'bronze_station_46069_south_santa_rosa_33_677_-120_213',
 'bronze_station_51002_southwest_hawaii_17_07_-157_755',
 'bronze_station_42001_mid_gulf_25_926_-89_662',
 'bronze_station_46084_cape_edgecumbe_56_614_-136_04',
 'bronze_station_41008_grays_reef_31_4_-80_866',
 'bronze_station_44007_portland_43_525_-70_14',
 'bronze_station_46078_albatross_bank_55_561_-152_599',
 'bronze_station_46088_new_dungeness_48_332_-123_179',
 'bronze_station_44027_jonesport_me_44_284_-67_301',
 'bronze_station_51000_northern_hawaii_one_23_528_-153_792',
 'bronze_station_46027_st_georges_41_84_-124_382',
 'bronze_station_46087_neah_bay_48_493_-124_727',
 'bronze_station_42012_orange_beach_30_06_-87_548',
 'bronze_station_51001_northwestern_hawaii_one_24_475_-162_03',
 'bronze_station_pota2_potato_point_ak_61_06_-146_7',
 'bronze_station_44020_nantucket_sound_41_497_-70_283',
 'bronze_station_42036_west_tampa_28_5_-84_505',
 'bronze_station_46029_columbia_river_bar_46_163_-124_487',
 'bronze_station_sanf1_sand_key_fl_24_456_-81_877',
 'bronze_station_ktnf1_keaton_beach_fl_29_819_-83_593',
 'bronze_station_46053_east_santa_barbara_34_241_-119_839',
 'bronze_station_lonf1_long_key_fl_24_844_-80_864',
 'bronze_station_44025_long_island_40_258_-73_175',
 'bronze_station_42002_west_gulf_25_95_-93_78',
 'bronze_station_mdrm1_mt__desert_rock_me_43_969_-68_128',
 'bronze_station_42056_yucatan_basin_19_82_-84_98',
 'bronze_station_46006_southeast_papa_40_764_-137_377',
 'bronze_station_burl1_southwest_pass_la_28_906_-89_429',
 'bronze_station_44065_new_york_harbor_entrance_40_368_-73_701',
 'bronze_station_41049_south_bermuda_27_505_-62_271']

In [39]:
# Define possible data types to try
data_types = ['txt', 'drift', 'cwind', 'spec', 'ocean', 'srad', 'dart', 'supl', 'rain']

# Iterating over each key in station_table_mapping
for key in station_table_mapping:
    try:
        # Check the type of the key
        key_type = type(key)
        print(f"Key: {key}, Type: {key_type}")

        # Initialize a flag to track whether the data was fetched successfully
        data_fetched = False

        # Attempt to fetch data with different types if the first call fails
        for data_type in data_types:
            try:
                # Make an API call using the buoy ID as the key and the current data type
                print(f"Attempting to fetch data for buoy {key} with data type: {data_type}")
                buoy_data = NDBC.realtime_observations(key, data_type=data_type)
                
                # If the API call is successful, store the data and mark it as fetched
                station_table_mapping[key] = {"data": "success", "error": None, "data_type": data_type}
                print(f"API Call successful for buoy {key}. Data: success with type {data_type}\n")
                data_fetched = True
                break  # Exit the loop once a successful data fetch is made

            except HTTPError as e:
                # Log the error and continue trying the next data type
                print(f"HTTPError occurred for buoy {key} with data type {data_type}. Error: {str(e)}")
                continue  # Try the next data type

            except Exception as e:
                # Log any unexpected error and continue trying the next data type
                print(f"An unexpected error occurred for buoy {key} with data type {data_type}. Error: {str(e)}")
                continue  # Try the next data type

        # If no data was fetched after trying all data types, log the error
        if not data_fetched:
            station_table_mapping[key] = {"data": None, "error": "No data available for all data types", "data_type": None}
            print(f"Failed to fetch data for buoy {key} after trying all data types.\n")

    except Exception as e:
        # Log any top-level unexpected error for the buoy
        station_table_mapping[key] = {"data": None, "error": str(e), "data_type": None}
        print(f"An unexpected error occurred for buoy {key}. Error: {str(e)}")

# Print the final station_table_mapping dictionary with API data and errors
print("\nFinal station_table_mapping with API data and errors:")

Key: SMKF1, Type: <class 'str'>
Attempting to fetch data for buoy SMKF1 with data type: txt
An unexpected error occurred for buoy SMKF1 with data type txt. Error: Error accessing https://www.ndbc.noaa.gov/data/realtime2/SMKF1.txt
Server Error ( 404: Not Found)
Attempting to fetch data for buoy SMKF1 with data type: drift
An unexpected error occurred for buoy SMKF1 with data type drift. Error: Error accessing https://www.ndbc.noaa.gov/data/realtime2/SMKF1.drift
Server Error ( 404: Not Found)
Attempting to fetch data for buoy SMKF1 with data type: cwind
An unexpected error occurred for buoy SMKF1 with data type cwind. Error: Error accessing https://www.ndbc.noaa.gov/data/realtime2/SMKF1.cwind
Server Error ( 404: Not Found)
Attempting to fetch data for buoy SMKF1 with data type: spec
An unexpected error occurred for buoy SMKF1 with data type spec. Error: Error accessing https://www.ndbc.noaa.gov/data/realtime2/SMKF1.spec
Server Error ( 404: Not Found)
Attempting to fetch data for buoy SMKF1 with data type: ocean
An unexpected error occurred for buoy SMKF1 with data type ocean. Error: Error accessing https://www.ndbc.noaa.gov/data/realtime2/SMKF1.ocean
Server Error ( 404: Not Found)
Attempting to fetch data for buoy SMKF1 with data type: srad
An unexpected error occurred for buoy SMKF1 with data type srad. Error: Error accessing https://www.ndbc.noaa.gov/data/realtime2/SMKF1.srad
Server Error ( 404: Not Found)
Attempting to fetch data for buoy SMKF1 with data type: dart
An unexpected error occurred for buoy SMKF1 with data type dart. Error: Error accessing https://www.ndbc.noaa.gov/data/realtime2/SMKF1.dart
Server Error ( 404: Not Found)
Attempting to fetch data for buoy SMKF1 with data type: supl
An unexpected error occurred for buoy SMKF1 with data type supl. Error: Error accessing https://www.ndbc.noaa.gov/data/realtime2/SMKF1.supl
Server Error ( 404: Not Found)
Attempting to fetch data for buoy SMKF1 with data type: rain
An unexpected error occurred for buoy SMKF1 with data type rain. Error: Error accessing https://www.ndbc.noaa.gov/data/realtime2/SMKF1.rain
Server Error ( 404: Not Found)
Failed to fetch data for buoy SMKF1 after trying all data types.

Key: 46025, Type: <class 'str'>
Attempting to fetch data for buoy 46025 with data type: txt
API Call successful for buoy 46025. Data: success with type txt

Key: 46086, Type: <class 'str'>
Attempting to fetch data for buoy 46086 with data type: txt
API Call successful for buoy 46086. Data: success with type txt

Key: 46022, Type: <class 'str'>
Attempting to fetch data for buoy 46022 with data type: txt
API Call successful for buoy 46022. Data: success with type txt

Key: 41044, Type: <class 'str'>
Attempting to fetch data for buoy 41044 with data type: txt
API Call successful for buoy 41044. Data: success with type txt

Key: 46071, Type: <class 'str'>
Attempting to fetch data for buoy 46071 with data type: txt
API Call successful for buoy 46071. Data: success with type txt

Key: 46072, Type: <class 'str'>
Attempting to fetch data for buoy 46072 with data type: txt
API Call successful for buoy 46072. Data: success with type txt

Key: 42058, Type: <class 'str'>
Attempting to fetch data for buoy 42058 with data type: txt
API Call successful for buoy 42058. Data: success with type txt

Key: MRKA2, Type: <class 'str'>
Attempting to fetch data for buoy MRKA2 with data type: txt
API Call successful for buoy MRKA2. Data: success with type txt

Key: 46014, Type: <class 'str'>
Attempting to fetch data for buoy 46014 with data type: txt
API Call successful for buoy 46014. Data: success with type txt

Key: FFIA2, Type: <class 'str'>
Attempting to fetch data for buoy FFIA2 with data type: txt
API Call successful for buoy FFIA2. Data: success with type txt

Key: 46001, Type: <class 'str'>
Attempting to fetch data for buoy 46001 with data type: txt
API Call successful for buoy 46001. Data: success with type txt

Key: SBIO1, Type: <class 'str'>
Attempting to fetch data for buoy SBIO1 with data type: txt
API Call successful for buoy SBIO1. Data: success with type txt

Key: 46069, Type: <class 'str'>
Attempting to fetch data for buoy 46069 with data type: txt
API Call successful for buoy 46069. Data: success with type txt

Key: 51002, Type: <class 'str'>
Attempting to fetch data for buoy 51002 with data type: txt
API Call successful for buoy 51002. Data: success with type txt

Key: 42001, Type: <class 'str'>
Attempting to fetch data for buoy 42001 with data type: txt
API Call successful for buoy 42001. Data: success with type txt

Key: 46084, Type: <class 'str'>
Attempting to fetch data for buoy 46084 with data type: txt
API Call successful for buoy 46084. Data: success with type txt

Key: 41008, Type: <class 'str'>
Attempting to fetch data for buoy 41008 with data type: txt
API Call successful for buoy 41008. Data: success with type txt

Key: 44007, Type: <class 'str'>
Attempting to fetch data for buoy 44007 with data type: txt
API Call successful for buoy 44007. Data: success with type txt

Key: 46078, Type: <class 'str'>
Attempting to fetch data for buoy 46078 with data type: txt
API Call successful for buoy 46078. Data: success with type txt

Key: 46088, Type: <class 'str'>
Attempting to fetch data for buoy 46088 with data type: txt
API Call successful for buoy 46088. Data: success with type txt

Key: 44027, Type: <class 'str'>
Attempting to fetch data for buoy 44027 with data type: txt
API Call successful for buoy 44027. Data: success with type txt

Key: 51000, Type: <class 'str'>
Attempting to fetch data for buoy 51000 with data type: txt
API Call successful for buoy 51000. Data: success with type txt

Key: 46027, Type: <class 'str'>
Attempting to fetch data for buoy 46027 with data type: txt
API Call successful for buoy 46027. Data: success with type txt

Key: 46087, Type: <class 'str'>
Attempting to fetch data for buoy 46087 with data type: txt
API Call successful for buoy 46087. Data: success with type txt

Key: 42012, Type: <class 'str'>
Attempting to fetch data for buoy 42012 with data type: txt
API Call successful for buoy 42012. Data: success with type txt

Key: 51001, Type: <class 'str'>
Attempting to fetch data for buoy 51001 with data type: txt
API Call successful for buoy 51001. Data: success with type txt

Key: POTA2, Type: <class 'str'>
Attempting to fetch data for buoy POTA2 with data type: txt
API Call successful for buoy POTA2. Data: success with type txt

Key: 44020, Type: <class 'str'>
Attempting to fetch data for buoy 44020 with data type: txt
API Call successful for buoy 44020. Data: success with type txt

Key: 42036, Type: <class 'str'>
Attempting to fetch data for buoy 42036 with data type: txt
API Call successful for buoy 42036. Data: success with type txt

Key: 46029, Type: <class 'str'>
Attempting to fetch data for buoy 46029 with data type: txt
API Call successful for buoy 46029. Data: success with type txt

Key: SANF1, Type: <class 'str'>
Attempting to fetch data for buoy SANF1 with data type: txt
API Call successful for buoy SANF1. Data: success with type txt

Key: KTNF1, Type: <class 'str'>
Attempting to fetch data for buoy KTNF1 with data type: txt
An unexpected error occurred for buoy KTNF1 with data type txt. Error: Error accessing https://www.ndbc.noaa.gov/data/realtime2/KTNF1.txt
Server Error ( 404: Not Found)
Attempting to fetch data for buoy KTNF1 with data type: drift
An unexpected error occurred for buoy KTNF1 with data type drift. Error: Error accessing https://www.ndbc.noaa.gov/data/realtime2/KTNF1.drift
Server Error ( 404: Not Found)
Attempting to fetch data for buoy KTNF1 with data type: cwind
An unexpected error occurred for buoy KTNF1 with data type cwind. Error: Error accessing https://www.ndbc.noaa.gov/data/realtime2/KTNF1.cwind
Server Error ( 404: Not Found)
Attempting to fetch data for buoy KTNF1 with data type: spec
An unexpected error occurred for buoy KTNF1 with data type spec. Error: Error accessing https://www.ndbc.noaa.gov/data/realtime2/KTNF1.spec
Server Error ( 404: Not Found)
Attempting to fetch data for buoy KTNF1 with data type: ocean
An unexpected error occurred for buoy KTNF1 with data type ocean. Error: Error accessing https://www.ndbc.noaa.gov/data/realtime2/KTNF1.ocean
Server Error ( 404: Not Found)
Attempting to fetch data for buoy KTNF1 with data type: srad
An unexpected error occurred for buoy KTNF1 with data type srad. Error: Error accessing https://www.ndbc.noaa.gov/data/realtime2/KTNF1.srad
Server Error ( 404: Not Found)
Attempting to fetch data for buoy KTNF1 with data type: dart
An unexpected error occurred for buoy KTNF1 with data type dart. Error: Error accessing https://www.ndbc.noaa.gov/data/realtime2/KTNF1.dart
Server Error ( 404: Not Found)
Attempting to fetch data for buoy KTNF1 with data type: supl
An unexpected error occurred for buoy KTNF1 with data type supl. Error: Error accessing https://www.ndbc.noaa.gov/data/realtime2/KTNF1.supl
Server Error ( 404: Not Found)
Attempting to fetch data for buoy KTNF1 with data type: rain
An unexpected error occurred for buoy KTNF1 with data type rain. Error: Error accessing https://www.ndbc.noaa.gov/data/realtime2/KTNF1.rain
Server Error ( 404: Not Found)
Failed to fetch data for buoy KTNF1 after trying all data types.

Key: 46053, Type: <class 'str'>
Attempting to fetch data for buoy 46053 with data type: txt
API Call successful for buoy 46053. Data: success with type txt

Key: LONF1, Type: <class 'str'>
Attempting to fetch data for buoy LONF1 with data type: txt
API Call successful for buoy LONF1. Data: success with type txt

Key: 44025, Type: <class 'str'>
Attempting to fetch data for buoy 44025 with data type: txt
API Call successful for buoy 44025. Data: success with type txt

Key: 42002, Type: <class 'str'>
Attempting to fetch data for buoy 42002 with data type: txt
API Call successful for buoy 42002. Data: success with type txt

Key: MDRM1, Type: <class 'str'>
Attempting to fetch data for buoy MDRM1 with data type: txt
API Call successful for buoy MDRM1. Data: success with type txt

Key: 42056, Type: <class 'str'>
Attempting to fetch data for buoy 42056 with data type: txt
API Call successful for buoy 42056. Data: success with type txt

Key: 46006, Type: <class 'str'>
Attempting to fetch data for buoy 46006 with data type: txt
API Call successful for buoy 46006. Data: success with type txt

Key: BURL1, Type: <class 'str'>
Attempting to fetch data for buoy BURL1 with data type: txt
API Call successful for buoy BURL1. Data: success with type txt

Key: 44065, Type: <class 'str'>
Attempting to fetch data for buoy 44065 with data type: txt
API Call successful for buoy 44065. Data: success with type txt

Key: 41049, Type: <class 'str'>
Attempting to fetch data for buoy 41049 with data type: txt
API Call successful for buoy 41049. Data: success with type txt


Final station_table_mapping with API data and errors:
SMKF1: {'data': None, 'error': 'No data available for all data types', 'data_type': None}
46025: {'data': 'success', 'error': None, 'data_type': 'txt'}
46086: {'data': 'success', 'error': None, 'data_type': 'txt'}
46022: {'data': 'success', 'error': None, 'data_type': 'txt'}
41044: {'data': 'success', 'error': None, 'data_type': 'txt'}
46071: {'data': 'success', 'error': None, 'data_type': 'txt'}
46072: {'data': 'success', 'error': None, 'data_type': 'txt'}
42058: {'data': 'success', 'error': None, 'data_type': 'txt'}
MRKA2: {'data': 'success', 'error': None, 'data_type': 'txt'}
46014: {'data': 'success', 'error': None, 'data_type': 'txt'}
FFIA2: {'data': 'success', 'error': None, 'data_type': 'txt'}
46001: {'data': 'success', 'error': None, 'data_type': 'txt'}
SBIO1: {'data': 'success', 'error': None, 'data_type': 'txt'}
46069: {'data': 'success', 'error': None, 'data_type': 'txt'}
51002: {'data': 'success', 'error': None, 'data_type': 'txt'}
42001: {'data': 'success', 'error': None, 'data_type': 'txt'}
46084: {'data': 'success', 'error': None, 'data_type': 'txt'}
41008: {'data': 'success', 'error': None, 'data_type': 'txt'}
44007: {'data': 'success', 'error': None, 'data_type': 'txt'}
46078: {'data': 'success', 'error': None, 'data_type': 'txt'}
46088: {'data': 'success', 'error': None, 'data_type': 'txt'}
44027: {'data': 'success', 'error': None, 'data_type': 'txt'}
51000: {'data': 'success', 'error': None, 'data_type': 'txt'}
46027: {'data': 'success', 'error': None, 'data_type': 'txt'}
46087: {'data': 'success', 'error': None, 'data_type': 'txt'}
42012: {'data': 'success', 'error': None, 'data_type': 'txt'}
51001: {'data': 'success', 'error': None, 'data_type': 'txt'}
POTA2: {'data': 'success', 'error': None, 'data_type': 'txt'}
44020: {'data': 'success', 'error': None, 'data_type': 'txt'}
42036: {'data': 'success', 'error': None, 'data_type': 'txt'}
46029: {'data': 'success', 'error': None, 'data_type': 'txt'}
SANF1: {'data': 'success', 'error': None, 'data_type': 'txt'}
KTNF1: {'data': None, 'error': 'No data available for all data types', 'data_type': None}
46053: {'data': 'success', 'error': None, 'data_type': 'txt'}
LONF1: {'data': 'success', 'error': None, 'data_type': 'txt'}
44025: {'data': 'success', 'error': None, 'data_type': 'txt'}
42002: {'data': 'success', 'error': None, 'data_type': 'txt'}
MDRM1: {'data': 'success', 'error': None, 'data_type': 'txt'}
42056: {'data': 'success', 'error': None, 'data_type': 'txt'}
46006: {'data': 'success', 'error': None, 'data_type': 'txt'}
BURL1: {'data': 'success', 'error': None, 'data_type': 'txt'}
44065: {'data': 'success', 'error': None, 'data_type': 'txt'}
41049: {'data': 'success', 'error': None, 'data_type': 'txt'}

In [40]:
for key, value in station_table_mapping.items():
    print(f"{key}: {value}")

SMKF1: {'data': None, 'error': 'No data available for all data types', 'data_type': None}
46025: {'data': 'success', 'error': None, 'data_type': 'txt'}
46086: {'data': 'success', 'error': None, 'data_type': 'txt'}
46022: {'data': 'success', 'error': None, 'data_type': 'txt'}
41044: {'data': 'success', 'error': None, 'data_type': 'txt'}
46071: {'data': 'success', 'error': None, 'data_type': 'txt'}
46072: {'data': 'success', 'error': None, 'data_type': 'txt'}
42058: {'data': 'success', 'error': None, 'data_type': 'txt'}
MRKA2: {'data': 'success', 'error': None, 'data_type': 'txt'}
46014: {'data': 'success', 'error': None, 'data_type': 'txt'}
FFIA2: {'data': 'success', 'error': None, 'data_type': 'txt'}
46001: {'data': 'success', 'error': None, 'data_type': 'txt'}
SBIO1: {'data': 'success', 'error': None, 'data_type': 'txt'}
46069: {'data': 'success', 'error': None, 'data_type': 'txt'}
51002: {'data': 'success', 'error': None, 'data_type': 'txt'}
42001: {'data': 'success', 'error': None, 'data_type': 'txt'}
46084: {'data': 'success', 'error': None, 'data_type': 'txt'}
41008: {'data': 'success', 'error': None, 'data_type': 'txt'}
44007: {'data': 'success', 'error': None, 'data_type': 'txt'}
46078: {'data': 'success', 'error': None, 'data_type': 'txt'}
46088: {'data': 'success', 'error': None, 'data_type': 'txt'}
44027: {'data': 'success', 'error': None, 'data_type': 'txt'}
51000: {'data': 'success', 'error': None, 'data_type': 'txt'}
46027: {'data': 'success', 'error': None, 'data_type': 'txt'}
46087: {'data': 'success', 'error': None, 'data_type': 'txt'}
42012: {'data': 'success', 'error': None, 'data_type': 'txt'}
51001: {'data': 'success', 'error': None, 'data_type': 'txt'}
POTA2: {'data': 'success', 'error': None, 'data_type': 'txt'}
44020: {'data': 'success', 'error': None, 'data_type': 'txt'}
42036: {'data': 'success', 'error': None, 'data_type': 'txt'}
46029: {'data': 'success', 'error': None, 'data_type': 'txt'}
SANF1: {'data': 'success', 'error': None, 'data_type': 'txt'}
KTNF1: {'data': None, 'error': 'No data available for all data types', 'data_type': None}
46053: {'data': 'success', 'error': None, 'data_type': 'txt'}
LONF1: {'data': 'success', 'error': None, 'data_type': 'txt'}
44025: {'data': 'success', 'error': None, 'data_type': 'txt'}
42002: {'data': 'success', 'error': None, 'data_type': 'txt'}
MDRM1: {'data': 'success', 'error': None, 'data_type': 'txt'}
42056: {'data': 'success', 'error': None, 'data_type': 'txt'}
46006: {'data': 'success', 'error': None, 'data_type': 'txt'}
BURL1: {'data': 'success', 'error': None, 'data_type': 'txt'}
44065: {'data': 'success', 'error': None, 'data_type': 'txt'}
41049: {'data': 'success', 'error': None, 'data_type': 'txt'}

In [ ]:
stations_id_list =list(stations_id_set)
buoy_chosen = random.choice(stations_id_list)

In [ ]:
buoy_chosen_metadata = get_station_metadata(buoy_chosen)
buoy_chosen_metadata

In [ ]:
# Exemple d'utilisation avec un dictionnaire 'buoy_chosen_metadata'
try:
    lat_buoy, lon_buoy, station_name, station_id, station_zone, marine_data_table_name = parse_buoy_json(buoy_chosen_metadata)
    print(lat_buoy, lon_buoy, station_name, station_id, station_zone, marine_data_table_name)
except ValueError as e:
    print(f"Erreur lors du traitement des donn√©es: {e}")

In [ ]:
df_marine = NDBC.realtime_observations(buoy_chosen)
print(type(buoy_chosen_metadata))
df_marine.head()

Marine API

Get Data From Json

In [ ]:
import requests
from bs4 import BeautifulSoup
from urllib.parse import urljoin
from IPython.core.display import display, HTML

# Remplacer `{station_id}` par l'identifiant de la station sp√©cifique
url = f"https://www.ndbc.noaa.gov/station_page.php?station={station_id}"

# Faire une requ√™te GET pour obtenir le HTML de la page
response = requests.get(url)

# V√©rifier que la requ√™te a r√©ussi
if response.status_code == 200:
    # Parse le HTML avec BeautifulSoup
    soup = BeautifulSoup(response.text, 'html.parser')
    
    # Trouver la division avec l'ID 'stationmetadata'
    station_metadata = soup.find(id="stationmetadata")
    
    # V√©rifier si la division existe
    if station_metadata:
        # Chercher les deux images sp√©cifiques
        img_1 = station_metadata.find('img', src='/images/stations/3mfoam_scoop_mini.jpg')
        img_2 = station_metadata.find('img', src='/images/buoycam/W64A_2025_03_15_1510.jpg')

        # Si l'image 1 est trouv√©e, modifier son lien en absolu
        if img_1:
            img_1['src'] = urljoin(url, img_1['src'])

        # Si l'image 2 est trouv√©e, modifier son lien en absolu
        if img_2:
            img_2['src'] = urljoin(url, img_2['src'])
        
        # Afficher directement le HTML avec les liens des images mis √† jour
        display(HTML(str(station_metadata)))  # Affiche la division en HTML rendu
    else:
        print("La division avec l'ID 'stationmetadata' n'a pas √©t√© trouv√©e.")
else:
    print(f"Erreur lors de la r√©cup√©ration de la page, statut: {response.status_code}")

In [ ]:
coord_buoy_1 = (lat_buoy, lon_buoy)


map = folium.Map(location=[lat_buoy,lon_buoy], zoom_start=6)

folium.Marker(location=[lat_buoy, lon_buoy], popup=f"Chosen Buoy : {station_name}, lat :{lat_buoy},lon :{lon_buoy}").add_to(map)

Get Stations from Caribbean Zone

In [ ]:
#### Prise en charge de plusieurs buoys √† la fois
caribbean_df = stations_df[(stations_df['Lat'] >= 9) & 
                           (stations_df['Lat'] <= 25) & 
                           (stations_df['Lon'] >= -85) & 
                           (stations_df['Lon'] <= -60)]
caribbean_df.shape[0]

buoys_ids = []

for index, row in caribbean_df.iterrows():
    buoys_ids.append(row['Station'])  
print(len(buoys_ids))    

# Liste pour stocker les dataframes
all_dataframes = []

# Compteurs pour les bou√©es r√©ussies et √©chou√©es
successful_buoy = 0
failed_buoy = 0

# Parcours de chaque bou√©e
for buoy_id in buoys_ids:
    try:
        # R√©cup√®re les observations en temps r√©el pour chaque bou√©e
        df_caribbean_buoy = NDBC.realtime_observations(buoy_id)

        # Ajoute le dataframe √† la liste
        all_dataframes.append(df_caribbean_buoy)
        successful_buoy += 1

        # Efface et met √† jour la ligne des bou√©es r√©ussies
        print(f"\r‚úÖ Bou√©es r√©ussies : {successful_buoy}", end='', flush=True)

    except Exception:
        # Incr√©mente le compteur des √©chou√©es pour toutes les erreurs
        failed_buoy += 1

        # Efface et met √† jour la ligne des bou√©es √©chou√©es
        print(f"\r‚ùå Bou√©es √©chou√©es : {failed_buoy}", end='', flush=True)

# Affichage final propre avec un saut de ligne
print("\n")

# Concat√©nation des dataframes si disponibles
if all_dataframes:
    final_df = pd.concat(all_dataframes, ignore_index=True)
    print(f"‚úîÔ∏è Concat√©nation termin√©e. Nombre de lignes : {final_df.shape[0]} \n Nombre de colonnes : {final_df.shape[1]}")
    print(f"‚úÖ Bou√©es r√©ussies : {successful_buoy}", end='', flush=True)
    print(f"‚ùå Bou√©es √©chou√©es : {failed_buoy}", end='', flush=True)

else:
    print("‚ö†Ô∏è Aucune donn√©e r√©cup√©r√©e.")

In [ ]:
df_marine = NDBC.realtime_observations(nearest)

# Afficher le r√©sultat
print(df_marine.shape)
df_marine.head()

In [ ]:
bronze_marine_data_table_name = f"Bronze_marine_data_{station_name.replace(' ', '_')}_{station_zone.replace(' ', '_')}_{str(lat_buoy).replace('.', '-')}_{str(lon_buoy).replace('.', '-')}"
print(bronze_marine_data_table_name)
load_data_in_table(db=db, schema=schema, table_name=bronze_marine_data_table_name, df=df_marine,conn=conn,key_column='time')

In [ ]:
coordinates = [lat_buoy, lon_buoy]
df_meteo = meteo_api_request(coordinates=coordinates)
print(df_meteo.shape)
df_meteo.head()

In [ ]:
# Cr√©ation du nom de la table
bronze_meteo_data_table_name = f"bronze_meteo_data_{station_name.replace(' ', '_')}_{station_zone.replace(' ', '_')}_{str(lat_buoy).replace('.', '-')}_{str(lon_buoy).replace('.', '-')}"
bronze_meteo_data_table_name = bronze_meteo_data_table_name.replace('.', '-')
load_data_in_table(db=db, schema=schema, table_name=bronze_meteo_data_table_name, df=df_meteo,conn=conn,key_column='date')

In [ ]:
with open("buoy_near_SM.json", "r") as f:
    buoy_near_SM = json.load(f)


path_postgresql_creds = r"C:\Users\f.gionnane\Documents\Data Engineering\Credentials\postgresql_creds.json"
with open(path_postgresql_creds, 'r') as file:
    content = json.load(file)
    user = content["user"]
    password = content["password"]
    host = content["host"]
    port = content["port"]

# Cr√©er l'engine PostgreSQL
engine = create_engine(f"postgresql+psycopg2://{user}:{password}@{host}:{port}/{db}")
conn = engine.connect()

db = buoy_near_SM["db"]
schema = buoy_near_SM["schema"] 

bronze_marine_data_table_name = buoy_near_SM["bronze_marine"] 
bronze_meteo_data_table_name = buoy_near_SM["bronze_meteo"]

In [ ]:
try:
    df_marine_to_clean = fetch_table_data(conn=conn, schema=schema, table_name= bronze_marine_data_table_name)
    df_meteo_to_clean = fetch_table_data(conn=conn, schema=schema, table_name= bronze_meteo_data_table_name)
except Exception as e:
    print(e)

In [ ]:
df_marine_to_clean = handle_null_values(df_marine_to_clean)

In [ ]:
df_meteo_to_clean = auto_convert(df_meteo_to_clean)
df_meteo_to_clean.dtypes

In [ ]:
df_marine_to_clean = handle_null_values(df_marine_to_clean)
df_meteo_to_clean = handle_null_values(df_meteo_to_clean)

In [ ]:
print(df_marine_to_clean.columns)
print(df_meteo_to_clean.columns)

In [ ]:
df_meteo_to_clean.head()

open-meteo API

In [ ]:
df_meteo_to_clean.isna().sum()

In [ ]:
df_meteo = drop_columns_if_exist(df_meteo,['rain', 'showers','soil_moisture_0_to_1cm', 'cloud_cover', 'soil_temperature_0cm',	'soil_moisture_0_to_1cm', 'is_day'])
df_meteo.head()

In [ ]:
df_meteo.rename(columns={'temperature_2m': 'T¬∞(C¬∞)', 
                         'relative_humidity_2m': 'Relative Humidity (%)',
                         'dew_point_2m': 'Dew Point (¬∞C)', 
                         'precipitation': 'Precipitation (mm)', 
                         'pressure_msl':' Sea Level Pressure (hPa)', 
                         'cloud_cover_low':'Low Clouds (%)',
                         'cloud_cover_mid' : 'Middle Clouds (%)',	
                         'cloud_cover_high' : 'High Clouds (%)', 
                         'visibility' : ' Visibility (%)', 
                         'wind_speed_10m' : 'Wind Speed (km/h)'}, 
                         inplace=True)
df_marine.rename(columns={
    'wind_direction': 'Wind Direction (¬∞)',
    'wind_speed': 'Wind Speed (km/h)',
    'wind_gust': 'Wind Gusts (km/h)',
    'wave_height': 'Wave Height (m)',
    'average_wave_period': 'Average Wave Period (s)',
    'dominant_wave_direction': 'Dominant Wave Direction (¬∞)',
    'pressure': 'Pressure (hPA)',
    'air_temperature': 'Air T¬∞',
    'water_temperature': 'Water T¬∞'}, 
    inplace=True)

print(df_meteo.columns)
print(df_marine.columns)
print(df_marine.shape)
print(df_meteo.shape)

Merging Dataframes

In [ ]:
# Effectuer la jointure interne sur la colonne 'time'
df_merged = pd.merge(df_marine, df_meteo, on = 'Datetime', how='inner')

# Afficher le r√©sultat
print(df_merged.shape)
print(df_merged.dtypes)
df_merged.head(20)

In [ ]:
# Exemple d'utilisation
df_merged = add_daytime_and_month_column(df_merged,'Datetime')

print(df_merged.columns)
df_merged.head(10)

In [ ]:
df_merged['Wind Speed (km/h)'] = (df_merged['Wind Speed (km/h)_x']+ df_merged['Wind Speed (km/h)_y'])/2
df_merged = drop_columns_if_exist(df_merged, ['Wind Speed (km/h)_x', 'Wind Speed (km/h)_y', 'Wind Gusts (km/h)'])

print(df_merged.columns)
df_merged.head()

Connexion BigQuery

In [ ]:
# from google.oauth2 import service_account
# from google.cloud import storage  # Exemple pour Google Cloud Storage
# from google.cloud import bigquery
# from google.cloud.exceptions import NotFound
# import pandas as pd
# import pyarrow

# path_to_google_creds = r"C:\Users\f.gionnane\Documents\Data Engineering\Credentials\google_credentials.json"

# bq_client = bigquery.Client.from_service_account_json(
#     path_to_google_creds)
# project_id = "rare-bloom-419220"
# dataset_End_To_End_Oceanography_ML = "End_To_End_Oceanography_ML"
# bq_client
# # dataset_ref = bq_client.dataset('my_dataset_name', project=project_id)


# # LIST DATASETS AND FIND ONE
# datasets = list(bq_client.list_datasets())  # Make an API request.
# project = client.project
# bq_datasets_list =[]

# if datasets:
#     print("Datasets in project {}:".format(project))
#     for dataset in datasets:
#         print("\t{}".format(dataset.dataset_id))
#         bq_datasets_list.append(dataset.dataset_id)
#     if dataset_End_To_End_Oceanography_ML in bq_datasets_list:
#         dataset =  dataset_End_To_End_Oceanography_ML
#         print("Dataset Found !")
# else:
#     print("{} project does not contain any datasets.".format(project))

# # (developer): Set table_id to the ID of the table to determine existence.
# # table_id = "your-project.your_dataset.your_table"

# try:
#     table_ref = bq_client.dataset(dataset).table(table_name)
#     bq_client.get_table(table_ref)  # Make an API request.
#     print("Table {} already exists.".format(table_name))
# except NotFound:
#     print("Table {} is not found.".format(table_name))


# def clean_column_names(df):

#     cleaned_columns = []
#     for column in df.columns:
#         # Remplacer tous les caract√®res non alphanum√©riques (sauf underscores) par un underscore
#         cleaned_column = re.sub(r'[^A-Za-z0-9_]', '_', column)
        
#         # Ajouter le nom de colonne nettoy√© √† la liste
#         cleaned_columns.append(cleaned_column)
    
#     # Appliquer les nouveaux noms de colonnes au DataFrame
#     df.columns = cleaned_columns
#     return df

# df_merged = clean_column_names(df_merged)

# table_id = f"{project_id}.{dataset}.{table_name}"


# try:
#     bq_client.get_table(table_id)  # Make an API request.
#     print("Table {} already exists.".format(table_id))
# except NotFound:
#     print("Table {} is not found.".format(table_id))
#     bq_client.create_table(table_id)
#     print("Creation of the Table {}.".format(table_id))


# def load_data_to_bigquery(client, dataset: str = None, table: str = None, df: pd.DataFrame = None, key_column: str = 'Datetime', table_id: str = None):
   
    
#     # Fonction pour d√©tecter et convertir les types de donn√©es
#     def convert_column_types(df):
#         for column in df.columns:
#             dtype = df[column].dtype

#             if dtype == 'object':  # Cha√Ænes de caract√®res
#                 df[column] = df[column].astype(str)
#             elif dtype == 'datetime64[ns]':  # Datetime
#                 df[column] = pd.to_datetime(df[column], errors='coerce').dt.tz_localize('UTC', ambiguous='NaT').dt.tz_localize(None)
#             elif dtype == 'float64':  # Float
#                 df[column] = df[column].astype('float32')
#             elif dtype == 'int64':  # Integer
#                 df[column] = df[column].astype('int64')  # On garde int64, car BigQuery supporte ce type
#             else:
#                 # Autres types, on les convertit en string
#                 df[column] = df[column].astype(str)
        
#         return df

#     # Convertir les types des colonnes
#     df = convert_column_types(df)

#     if table_id:
#         # Si table_id est fourni, on l'utilise directement.
#         full_table_id = table_id
#     elif dataset and table:
#         # Si table_id n'est pas fourni, on construit table_id √† partir de dataset et table.
#         full_table_id = f"{client.project}.{dataset}.{table}"
#     else:
#         raise ValueError("Il faut fournir soit 'table_id' ou les param√®tres 'dataset' et 'table' s√©par√©s.")

#     # V√©rifier si le dataset existe, sinon le cr√©er
#     try:
#         dataset = full_table_id.split('.')[1]
#         client.get_dataset(dataset)  # V√©rifie si le dataset existe
#         print(f"Le dataset {dataset} existe d√©j√†.")
#     except NotFound:
#         print(f"Le dataset {dataset} n'existe pas. Cr√©ation du dataset...")
#         client.create_dataset(dataset)  # Cr√©e le dataset s'il n'existe pas
#         print(f"Le dataset {dataset} a √©t√© cr√©√©.")

#     # V√©rifier si la table existe, sinon la cr√©er
#     try:
#         client.get_table(full_table_id)  # V√©rifie si la table existe
#         print(f"La table {full_table_id} existe d√©j√†.")
#     except NotFound:
#         print(f"La table {full_table_id} n'existe pas. Cr√©ation de la table...")
#         # Cr√©er la table avec le sch√©ma du DataFrame
#         schema = []
#         for name, dtype in df.dtypes.items():
#             if name == 'Datetime':
#                 schema.append(bigquery.SchemaField(name, bigquery.enums.SqlTypeNames.TIMESTAMP))
#             elif dtype == 'float32' or dtype == 'float64':
#                 schema.append(bigquery.SchemaField(name, bigquery.enums.SqlTypeNames.FLOAT64))
#             elif dtype == 'int64':
#                 schema.append(bigquery.SchemaField(name, bigquery.enums.SqlTypeNames.INTEGER))
#             else:
#                 schema.append(bigquery.SchemaField(name, bigquery.enums.SqlTypeNames.STRING))
        
#         # Cr√©er la table avec le sch√©ma
#         table = bigquery.Table(full_table_id, schema=schema)
#         client.create_table(table)  # Cr√©e la table si elle n'existe pas
#         print(f"La table {full_table_id} a √©t√© cr√©√©e.")

#     # Pr√©parer les donn√©es pour l'insertion
#     if key_column in df.columns:
#         # Si la colonne cl√© est fournie, supprimer les doublons en fonction de cette colonne
#         df = df.drop_duplicates(subset=[key_column])

#     # Charger les donn√©es dans la table BigQuery
#     job_config = bigquery.LoadJobConfig(
#         schema=[
#             bigquery.SchemaField(name, bigquery.enums.SqlTypeNames.TIMESTAMP) if name == 'Datetime' else
#             bigquery.SchemaField(name, bigquery.enums.SqlTypeNames.FLOAT64) if dtype == 'float32' or dtype == 'float64' else
#             bigquery.SchemaField(name, bigquery.enums.SqlTypeNames.INTEGER) if dtype == 'int64' else
#             bigquery.SchemaField(name, bigquery.enums.SqlTypeNames.STRING)
#             for name, dtype in df.dtypes.items()
#         ],
#         write_disposition="WRITE_APPEND"  # Ajoute les donn√©es sans √©craser les anciennes
#     )

#     # Charger le DataFrame dans BigQuery
#     job = client.load_table_from_dataframe(df, full_table_id, job_config=job_config)
#     job.result()  # Attendre la fin de la t√¢che
#     print(f"Donn√©es charg√©es dans la table {full_table_id}.")

# # Exemple d'appel √† la fonction
# load_data_to_bigquery(table_id=table_id, client=bq_client, df=df_merged)

PostgreSQL

In [ ]:
df_merged.columns