In [1]:
%pip install -q -r requirements.txt

Note: you may need to restart the kernel to use updated packages.

In [2]:
%load_ext autoreload
%autoreload 1

In [3]:
%load_ext autoreload
%autoreload 1
from imports import *
from functions import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

Connection to MySQL

In [4]:
mysql_user = "flosrv"
password = "Nesrine123"
host = "localhost"
port = 3306
database = "Oceanography_data_analysis"
metadata = MetaData()
# Connect to the database
engine = create_engine(f"mysql+mysqlconnector://{mysql_user}:{password}@{host}/{database}", isolation_level ='AUTOCOMMIT')

Charger les DonnÃ©es des Tables

In [ ]:
from sqlalchemy import inspect

# Fonction pour rÃ©cupÃ©rer toutes les tables br_
# Fonction pour rÃ©cupÃ©rer les donnÃ©es de chaque table
def get_data_from_table(engine, table_name):
    # VÃ©rification de la syntaxe de la requÃªte SQL
    query = f"SELECT * FROM `{table_name}`"  # Utilisation des guillemets pour le nom de la table
    df = pd.read_sql(query, engine)
    return df


# Fonction pour rÃ©cupÃ©rer les donnÃ©es de chaque table
def get_data_from_table(engine, table_name):
    query = f"SELECT * FROM {table_name}"
    df = pd.read_sql(query, engine)
    return df

# Dictionnaire pour stocker les donnÃ©es triÃ©es par Station ID
stations_data = {}

# RÃ©cupÃ©rer les noms de toutes les tables commenÃ§ant par 'br_'
bronze_tables = get__tables_starting_by(engine, start='br_')

# Parcourir les tables et les organiser par Station ID et type (marine ou meteo)
for table in bronze_tables:
    # Extraire l'ID de la station et le label (marine ou meteo)
    parts = table.split('_')
    if len(parts) < 4:
        continue  # Si le nom de la table ne suit pas le format attendu, ignorer
    
    station_id = parts[1]  # Station ID est la partie aprÃ¨s le premier '_'
    label = parts[2]  # Marine ou Meteo est la partie aprÃ¨s le deuxiÃ¨me '_'
    
    # RÃ©cupÃ©rer les donnÃ©es de la table
    df = get_data_from_table(engine, table)
    
    # Si le dictionnaire n'a pas encore de clÃ© pour cette station_id, on l'ajoute
    if station_id not in stations_data:
        stations_data[station_id] = {'marine': None, 'meteo': None}
    
    # Stocker les donnÃ©es dans la clÃ© appropriÃ©e (marine ou meteo)
    if label == 'marine':
        stations_data[station_id]['marine'] = df
    elif label == 'meteo':
        stations_data[station_id]['meteo'] = df

# RÃ©sumÃ© des donnÃ©es collectÃ©es
for station_id, data in stations_data.items():
    print(f"\nStation ID: {station_id}")
    if data['marine'] is not None:
        print(f"  Marine Data: {data['marine'].shape[0]} rows")
    else:
        print(f"  Marine Data: Aucune donnÃ©e disponible")
    
    if data['meteo'] is not None:
        print(f"  Meteo Data: {data['meteo'].shape[0]} rows")
    else:
        print(f"  Meteo Data: Aucune donnÃ©e disponible")

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1146 (42S02): Table 'oceanography_data_analysis.br_44027_marine_jonesport' doesn't exist
[SQL: SELECT * FROM br_44027_marine_jonesport,_me]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
df_buoys_data.head()

In [ ]:
# ð Importation des modules nÃ©cessaires
from sqlalchemy import create_engine, inspect
import pandas as pd

# ð Connexion Ã  la base de donnÃ©es MySQL
mysql_user = "flosrv"
password = "Nesrine123"
host = "localhost"
database = "Oceanography_data_analysis"

# CrÃ©ation de l'objet engine pour interagir avec la base MySQL
engine = create_engine(f"mysql+mysqlconnector://{mysql_user}:{password}@{host}/{database}", isolation_level='AUTOCOMMIT')

# ð RÃ©cupÃ©ration des noms de tables contenant "bronze"
inspector = inspect(engine)
table_names = [t for t in inspector.get_table_names() if "br_" in t.lower()]
print(f"ð¢ Nombre total de tables dans le schÃ©ma : {len(table_names)}\n")

# ð Filtrage des tables selon leur catÃ©gorie
marine_tables = {t for t in table_names if "marine" in t.lower()}
meteo_tables = {t for t in table_names if "meteo" in t.lower()}
buoys_data_table = {t for t in table_names if "buoy" in t.lower()}

print(f"ð Tables marines trouvÃ©es : {len(marine_tables)}")
print(f"ð§ï¸ Tables mÃ©tÃ©o trouvÃ©es : {len(meteo_tables)}")
print(f"ð Tables de bouÃ©es trouvÃ©es : {len(buoys_data_table)}\n")

# ð Fonction pour rÃ©cupÃ©rer les donnÃ©es d'une table SQL et les convertir en DataFrame
def fetch_table_data(engine, table_name, schema=None):
    query = f"SELECT * FROM {schema + '.' if schema else ''}{table_name}"
    return pd.read_sql(query, engine)


# ð Chargement des donnÃ©es de bouÃ©es (si une table correspondante existe)
if buoys_data_table:
    print("ð Chargement des donnÃ©es de la table 'buoys_datas'...")
    try:
        # Prendre la premiÃ¨re table trouvÃ©e dans la liste des tables de bouÃ©es
        table_name = next(iter(buoys_data_table))
        df_buoy = fetch_table_data(engine, table_name)

        if not df_buoy.empty:
            print("ð¦ DonnÃ©es rÃ©cupÃ©rÃ©es pour 'buoys_datas'.")

            # VÃ©rifier si "Station ID" est bien une colonne
            if "Station ID" in df_buoy.columns:
                # ð Transformer la DataFrame en dictionnaire indexÃ© par "Station ID"
                buoys_datas = df_buoy.set_index("Station ID").to_dict(orient="index")
                print(f"â Table 'buoys_datas' chargÃ©e avec succÃ¨s ! Nombre de bouÃ©es : {len(df_buoy)}\n")
            else:
                print("â ERREUR : 'Station ID' introuvable dans la table des bouÃ©es !")
                buoys_datas = {}

        else:
            print("â ï¸ Aucun rÃ©sultat trouvÃ© dans 'buoys_datas'.\n")
            buoys_datas = {}

    except Exception as e:
        print(f"â Erreur lors du chargement de 'buoys_datas': {e}\n")
        buoys_datas = {}

# ð Chargement des donnÃ©es Marine et MÃ©tÃ©o et mise Ã  jour du dictionnaire buoys_datas
for table_set, label, icon in [
    (marine_tables, "Marine", "ð"),
    (meteo_tables, "Meteo", "ð§ï¸")
]:
    print("âââââââââââââââââââââââââââââââââââââ")

    for table_name in table_set:
        print(f"ð Chargement des donnÃ©es pour la table {label} : {table_name}...")

        try:
            df_data = fetch_table_data(engine, table_name)

            if not df_data.empty:
                print(f"ð¦ DonnÃ©es rÃ©cupÃ©rÃ©es pour {table_name}.")

                # ð Extraire le Station ID depuis le nom de la table (ex: "bronze_marine_123")
                station_id = table_name.split("_")[-1]

                # VÃ©rifier si la station existe dÃ©jÃ  dans buoys_datas
                if station_id in buoys_datas:
                    # Ajouter les donnÃ©es mÃ©tÃ©o ou marines au dictionnaire
                    buoys_datas[station_id][f"{label} DataFrame"] = df_data.to_dict(orient="records")
                    print(f"{icon} DonnÃ©es {label} chargÃ©es pour {table_name} ! Nombre de lignes collectÃ©es : {len(df_data)}\n")
                else:
                    print(f"â ï¸ Station ID {station_id} introuvable dans buoys_datas, donnÃ©es ignorÃ©es.")

            else:
                print(f"â ï¸ Aucun rÃ©sultat trouvÃ© pour {table_name}.\n")

        except Exception as e:
            print(f"â Erreur lors du chargement des donnÃ©es {label} pour {table_name} : {e}\n")

# ð RÃ©capitulatif final
total_tables = len(table_names)
total_marine = len(marine_tables)
total_meteo = len(meteo_tables)

print("âââââââââââââââââââââââââââââââââââââ")
print(f"ð Statistiques finales :")
print(f"ð¢ Nombre total de tables : {total_tables}")
print(f"ð Nombre de tables marines : {total_marine}")
print(f"ð§ï¸ Nombre de tables mÃ©tÃ©o : {total_meteo}")
print("âââââââââââââââââââââââââââââââââââââ")

# ð Fermeture propre de la connexion MySQL
engine.dispose()

In [ ]:
buoys_datas["42058"]["Marine DataFrame"].dtypes

In [ ]:
buoys_datas["42058"]["Meteo DataFrame"].columns

In [ ]:
buoys_datas["42058"]["Meteo DataFrame"].dtypes

In [ ]:
list_silver_merged_df = []  
list_failed_dfs = []        

number_marine_data = 0
number_meteo_data = 0
number_merged_data = 0

marine_data_conversion = 0
meteo_data_conversion = 0

In [ ]:
marine_cols = [
    "wind_direction", "wind_speed", "wind_gust", "wave_height",
    "dominant_wave_period", "average_wave_period", "dominant_wave_direction",
    "pressure", "air_temperature", "water_temperature", "dewpoint",
    "visibility", "3hr_pressure_tendency", "water_level_above_mean"
]

meteo_cols = [
    "temperature_2m", "relative_humidity_2m", "dew_point_2m", "precipitation", "rain",
    "showers", "pressure_msl", "surface_pressure", "cloud_cover", "cloud_cover_low",
    "cloud_cover_mid", "cloud_cover_high", "visibility", "wind_speed_10m",
    "soil_temperature_0cm", "soil_moisture_0_to_1cm"
]

col_to_rename={'temperature_2m': 'TÂ°(CÂ°)',  'relative_humidity_2m': 'Relative Humidity (%)',
 'dew_point_2m': 'Dew Point (Â°C)', 'precipitation': 'Precipitation (mm)',  'pressure_msl':' Sea Level Pressure (hPa)', 
 'cloud_cover_low':'Low Clouds (%)', 'cloud_cover_mid' : 'Middle Clouds (%)',	 'cloud_cover_high' : 'High Clouds (%)', 
 'visibility' : ' Visibility (km)',  'wind_direction': 'Wind Direction (Â°)',
 'wind_speed': 'Wind Speed (km/h)','wind_gust': 'Wind Gusts (km/h)', 'wave_height': 'Wave Height (m)',  'average_wave_period': 'Average Wave Period (s)',
 'dominant_wave_direction': 'Dominant Wave Direction (Â°)','pressure': 'Pressure (hPA)',
 'air_temperature': 'Air TÂ°','water_temperature': 'Water TÂ°'}

meteo_cols_to_delete = ['soil_temperature_0cm','rain', 'showers', 'is_day',
                  'soil_moisture_0_to_1cm']

for station_id, tables in buoys_datas.items():
    marine_df = tables["Marine DataFrame"]
    marine_df = rename_columns(marine_df, col_to_rename)

    marine_df = drop_columns_if_exist

    meteo_df = tables["Meteo DataFrame"]
    meteo_df = rename_columns(meteo_df,col_to_rename)
    meteo_df = drop_columns_if_exist(meteo_df, meteo_cols_to_delete)

HOUR RESAMPLING

In [ ]:
# Resampling des donnÃ©es et stockage dans un nouveau compartiment du dictionnaire 
for station_id, tables in buoys_datas.items():
    try:
        print(f"ð Processing and resampling marine data for station {station_id}...")
        # Convert columns to numeric types (float or int) excluding datetime columns using pandas to_numeric
        tables["Marine DataFrame"] = process_datetime_column(tables["Marine DataFrame"], column='time')
    except Exception as e:
        print(f"Error processing Marine Data for {station_id}: {e}")

    try:
        print(f"ð Processing and resampling weather data for station {station_id}...")
        # Convert columns to numeric types (float or int) excluding datetime columns using pandas to_numeric
        tables["Meteo DataFrame"] = process_datetime_column(tables["Meteo DataFrame"], column='date')
    except Exception as e:
        print(f"Error processing Meteo Data for {station_id}: {e}")

Adding Coordinates

In [ ]:
# Ajout des coordonnÃ©es
for station_id, tables in buoys_datas.items():
    try:
        tables["Marine DataFrame"]["Lat"] = tables["Lat"]
        tables["Marine DataFrame"]["Lon"] = tables["Lon"]
        print(f"ð Coordinates (Lat/Lon) added for station {station_id}.")
    except Exception as e:
        print(f"Error adding coordinates for {station_id}: {e}")

Merging Based on Station ID

In [ ]:
number_merged_data = 0
list_silver_merged_df=[]
# Fusion des DataFrames
for station_id, tables in buoys_datas.items():
    try:

        metadatas = get_station_metadata(station_id=station_id)
        print(f"ð Merging marine and weather data for station {station_id}...")
        df_merged = pd.merge(
            tables["Marine DataFrame"], tables["Meteo DataFrame"], on='Datetime', how='inner'
        )
        tables["Merged DataFrame"] = df_merged
        number_merged_data += df_merged.shape[0]
        list_silver_merged_df.append(df_merged)
    except Exception as e:
        print(f"Error merging data for station {station_id}: {e}")

# print(f'{len(list_silver_merged_df)} DataFrames Merged :\n{number_merged_data} rows in total !')

In [ ]:
for key, value in buoys_datas.items():
    if value['id'] == 1:
        for key, val in value.items():
            print(key)

In [ ]:
df_merged.columns

In [ ]:
show_first_row(df_merged)

Test Adding MetaData

In [ ]:
# Ajout des coordonnÃ©es
for station_id, tables in buoys_datas.items():
    try:

        df_merged = tables["Merged DataFrame"]
        station_id = str(df_merged["Station ID"])
        print(station_id)
        metadatas = get_station_metadata(station_id)
        
    except Exception as e:
        print(f"Error adding Metadata for {station_id}: {e}")

In [ ]:
metadatas

Changing Data Types

In [ ]:
for station_id, tables in buoys_datas.items():
    try:
        df_merged = tables["Merged DataFrame"]
        print(f"ð Changing Data Types  for station {station_id}...")
        df_converted = convert_df_columns(df_merged)
        tables["Converted DataFrame"] = df_converted
        
        print(f"Successfully Changed Data Types for Station {station_id}")

    except Exception as e:
        
        print(f"Error changing data types for station {station_id}: {e}")

Cleaning Null Values

In [ ]:
def clean_dataframe(df):
    for column in df.columns:
        # Calculer le pourcentage de valeurs manquantes
        missing_percentage = df[column].isnull().mean() * 100
        
        # Supprimer la colonne si elle est totalement nulle
        if df[column].isnull().sum() == len(df[column]):
            df = df.drop(columns=[column])
            continue
        
        # Si plus de 50% des valeurs sont manquantes, on retire la colonne sauf si c'est numÃ©rique
        if missing_percentage > 50:
            if df[column].dtype not in ['float64', 'int64']:  # Ne pas supprimer les colonnes numÃ©riques
                df = df.drop(columns=[column])
        else:
            # Si la colonne est numÃ©rique, on remplace les NaN par la mÃ©diane
            if df[column].dtype in ['float64', 'int64']:  # vÃ©rifier si c'est une colonne numÃ©rique
                median_value = df[column].median()
                df[column].fillna(median_value, inplace=True)
            else:
                pass
    return df

In [ ]:
for station_id, tables in buoys_datas.items():
    try:

        print(f"ð Cleaning DataFrame for station {station_id}...")
        df_converted = tables["Converted DataFrame"]
        
        df_cleaned = clean_dataframe(df_converted)

        tables["Cleaned DataFrame"] = df_cleaned

        print(f"Successfully Cleaned DataFrame for Station {station_id}")

    except Exception as e:
        print(f"Error Cleaning DataFrame for station {station_id}: {e}")

Concatenating All in One Final DataFrame

In [ ]:
# Fusion finale de tous les DataFrames
try:
    print("ð Merging all DataFrames into a final DataFrame...")
    dataframes_to_concat = [tables["Cleaned DataFrame"] for tables in buoys_datas.values()]

    df_final = pd.concat(dataframes_to_concat, ignore_index=True)

except Exception as e:
    print(f"Error during final merge: {e}")
    df_final = None

# RÃ©sumÃ© final
print("\nâ­ð Processing complete!")
print(f"ð¢ Total stations processed: {len(buoys_datas)}")

if df_final is not None and not df_final.empty:
    print(f"ð Final merged DataFrame size: {df_final.shape}")
else:
    print("The DataFrame is either None or empty.")

In [ ]:
df_final.dtypes

In [ ]:
# Parcourir toutes les colonnes contenant "Station ID" dans leur nom
for column in df_final.columns:
    if "Station ID" in column:
        try:
            # Tenter de convertir la colonne en numÃ©rique (en utilisant pd.to_numeric avec errors='coerce')
            df_final[column] = pd.to_numeric(df_final[column], errors='raise')
             # Si la conversion est rÃ©ussie, convertir en int
            df_final[column] = df_final[column].astype(int) 

        except Exception as e:
                print(f"Error in Conversion Step 1 for column: {column}:\n{e}")
        
        try:
            
            df_final[column] = df_final[column].astype(str)

        except Exception as e:
                print(f"Error in Conversion Step 2 for column: {column}:\n{e}")
            

show_first_row(df_final)

In [ ]:
df_final = clean_dataframe(df_final)
df_final.isnull().sum()
df_final2 = df_final.dropna()
print(f'{df_final2.shape}\n\n{df_final2.isnull().sum()}')

In [ ]:

col_to_rename={'temperature_2m': 'TÂ°(CÂ°)',  'relative_humidity_2m': 'Relative Humidity (%)',
 'dew_point_2m': 'Dew Point (Â°C)', 'precipitation': 'Precipitation (mm)',  'pressure_msl':' Sea Level Pressure (hPa)', 
 'cloud_cover_low':'Low Clouds (%)', 'cloud_cover_mid' : 'Middle Clouds (%)',	 'cloud_cover_high' : 'High Clouds (%)', 
 'visibility' : ' Visibility (km)',  'wind_direction': 'Wind Direction (Â°)',
 'wind_speed': 'Wind Speed (km/h)','wind_gust': 'Wind Gusts (km/h)', 'wave_height': 'Wave Height (m)',  'average_wave_period': 'Average Wave Period (s)',
 'dominant_wave_direction': 'Dominant Wave Direction (Â°)','pressure': 'Pressure (hPA)',
 'air_temperature': 'Air TÂ°','water_temperature': 'Water TÂ°'}

meteo_cols_to_delete = ['soil_temperature_0cm','rain', 'showers', 'id_x','id_y' 'is_day',
                  'soil_moisture_0_to_1cm']


df_final2 = rename_columns(df_final2,{' Visibility (km)_y':'Visibility (km)'})

df_final2['Visibility (km)'] = df_final2['Visibility (km)']/1000

In [ ]:
df_final2 = df_final2.round(2)
show_first_row(df_final2)

In [ ]:
df_final2[['Daytime', 'Month']] = df_final2['Datetime'].apply(lambda x: get_day_time(x)).apply(pd.Series)

In [ ]:
df_final2=df_final2.round(2)
show_first_row(df_final2)

Renaming, Dropping Useless Columns

Third API Test

In [ ]:
show_first_row(df_final2)

Test Envoi Vers PostgreSQL

In [ ]:
load_data_in_table(engine=engine, schema = schema_silver, table_name='Silver_Table', df=df_final2, key_column='Datetime')

In [ ]:
df_final2.dtypes

In [ ]:
# Filtrer le dataframe pour la Station ID 42058
df_42058 = df_final2[df_final2["Station ID"] == 42058]
df_42058.head()

In [ ]:
# import requests
# import json
# from datetime import datetime, timedelta

# # Variables de contrÃ´le des appels API
# vc_api_key_path = r"c:\Credentials\visual_crossing_weather_api.json"
# with open(vc_api_key_path, 'r') as file:
#     content = json.load(file)
#     vc_api_key = content["api_key"]

# # Ajouter un index numÃ©rique automatique (0, 1, 2, ...)
# df_42058.index = range(len(df_42058))

# # Assurez-vous que lat et lon sont dÃ©finis
# lat, lon = None, None

# # Si le DataFrame n'est pas vide, rÃ©cupÃ©rer les coordonnÃ©es de la premiÃ¨re ligne
# if not df_42058.empty:
#     first_row = df_42058.iloc[0]
#     lat = first_row["Lat"]
#     lon = first_row["Lon"]

#     # Convertir les coordonnÃ©es (si nÃ©cessaire)
#     lat, lon = convert_coordinates(lat, lon)

# print(f'{lat}\n{lon}\n{vc_api_key}')

# # DÃ©finition des dates dynamiques
# today = datetime.now().strftime("%Y-%m-%d")  # Aujourd'hui
# last_month = (datetime.now() - timedelta(days=31)).strftime("%Y-%m-%d")  # 31 jours avant aujourd'hui

# # VÃ©rifier si lat et lon ont Ã©tÃ© correctement dÃ©finis avant de continuer
# if lat is not None and lon is not None:
#     # Construction de l'URL
#     url_last_month = f"https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/{lat},{lon}/{last_month}/{today}?unitGroup=metric&key={vc_api_key}&contentType=json"
    
#     # Tentative de rÃ©cupÃ©ration des donnÃ©es mÃ©tÃ©o
#     try:
#         response = requests.get(url_last_month)
        
#         # VÃ©rifier si la requÃªte a rÃ©ussi (code 200)
#         if response.status_code == 200:
#             vc_meteo_data = response.json()  # Essayer de dÃ©coder le JSON
#             print(f"DonnÃ©es mÃ©tÃ©o rÃ©cupÃ©rÃ©es : {vc_meteo_data}")
#         else:
#             print(f"Erreur lors de l'appel Ã  l'API, code de statut : {response.status_code}")
    
#     except Exception as e:
#         print(f"Erreur lors de la rÃ©cupÃ©ration des donnÃ©es mÃ©tÃ©o : {e}")
# else:
#     print("Les coordonnÃ©es (lat, lon) ne sont pas dÃ©finies.")

In [ ]:
# # Assuming the df_cleaned DataFrame already exists and contains the required data

# # First, load your Visual Crossing Weather Data (example, you may already have it)
# # Assuming vc_meteo_data is the JSON response from Visual Crossing
# # Example of flattening the JSON
# df_vc_meteo = pd.json_normalize(vc_meteo_data, record_path=["days", "hours"], meta=["days"])

# # Convert the datetimeEpoch from Visual Crossing Weather data into Date and Hour columns
# df_vc_meteo["Date"] = pd.to_datetime(df_vc_meteo["datetimeEpoch"], unit="s").dt.strftime("%Y-%m-%d")
# df_vc_meteo["Hour"] = pd.to_datetime(df_vc_meteo["datetimeEpoch"], unit="s").dt.strftime("%H")

# # Filter data from df_vc_meteo for the last 30 days
# today = datetime.now()
# thirty_days_ago = today - timedelta(days=30)

# today_str = today.strftime("%Y-%m-%d")
# thirty_days_ago_str = thirty_days_ago.strftime("%Y-%m-%d")

# # Filter df_vc_meteo for the last 30 days
# df_test_last_month = df_vc_meteo[['Date', 'Hour', 'windspeed']]
# df_test_last_month = df_test_last_month[(df_test_last_month['Date'] >= thirty_days_ago_str) & 
#                                         (df_test_last_month['Date'] <= today_str)]

# # Prepare df_cleaned for merging (add Date and Hour columns)
# df_cleaned['Date'] = df_cleaned['Datetime'].dt.strftime("%Y-%m-%d")
# df_cleaned['Hour'] = df_cleaned['Datetime'].dt.strftime("%H")

# # Filter df_cleaned for the last 30 days
# df_cleaned_last_month = df_cleaned[(df_cleaned['Date'] >= thirty_days_ago_str) & 
#                                    (df_cleaned['Date'] <= today_str)]

# # Merge df_vc_meteo and df_cleaned based on Date and Hour
# df_merged = df_test_last_month.merge(df_cleaned_last_month[['Date', 'Hour', 'Wind Speed (km/h)', 'wind_speed_10m']], 
#                                     on=['Date', 'Hour'], 
#                                     how='inner')

# # Display the merged dataframe
# print(df_merged.head(100))

In [ ]:
col_to_rename={'temperature_2m': 'TÂ°(CÂ°)',  'relative_humidity_2m': 'Relative Humidity (%)',
 'dew_point_2m': 'Dew Point (Â°C)', 'precipitation': 'Precipitation (mm)',  'pressure_msl':' Sea Level Pressure (hPa)', 
 'cloud_cover_low':'Low Clouds (%)', 'cloud_cover_mid' : 'Middle Clouds (%)',	 'cloud_cover_high' : 'High Clouds (%)', 
 'visibility' : ' Visibility (%)',  'wind_direction': 'Wind Direction (Â°)',
 'wind_speed': 'Wind Speed (km/h)','wind_gust': 'Wind Gusts (km/h)', 'wave_height': 'Wave Height (m)',  'average_wave_period': 'Average Wave Period (s)',
 'dominant_wave_direction': 'Dominant Wave Direction (Â°)','pressure': 'Pressure (hPA)',
 'air_temperature': 'Air TÂ°','water_temperature': 'Water TÂ°'}

df_cleaned = rename_columns(df_cleaned, col_to_rename)
df_cleaned = drop_columns_if_exist(df_cleaned,['soil_temperature_0cm','rain', 'showers', 'is_day', 'id_x', 'id_y','soil_moisture_0_to_1cm'])
df_cleaned.columns

In [ ]:
#  RÃ©cupÃ©rer les donnÃ©es de l'API
# vc_meteo_data = response.json()
# print(vc_meteo_data)  # VÃ©rifiez les donnÃ©es rÃ©cupÃ©rÃ©es

In [ ]:
# # Normaliser les donnÃ©es JSON en DataFrame
# df_vc_meteo = pd.json_normalize(vc_meteo_data, record_path=["days", "hours"], meta=["days"])

# # Afficher la premiÃ¨re ligne des donnÃ©es
# df_vc_meteo.head(1)

In [ ]:
# Conversion du timestamp en datetime
df_vc_meteo["Date"] = pd.to_datetime(df_vc_meteo["datetimeEpoch"], unit="s").dt.strftime("%Y-%m-%d")
df_vc_meteo["Hour"] = pd.to_datetime(df_vc_meteo["datetimeEpoch"], unit="s").dt.strftime("%H")

In [ ]:
# DÃ©finir les dates de filtrage pour les 30 derniers jours
today = datetime.now()
thirty_days_ago = today - timedelta(days=30)

# Convertir les dates en format YYYY-MM-DD
today_str = today.strftime("%Y-%m-%d")
thirty_days_ago_str = thirty_days_ago.strftime("%Y-%m-%d")

In [ ]:
# Filtrer les donnÃ©es des 30 derniers jours de df_vc_meteo
df_test_last_month = df_vc_meteo[['Date', 'Hour', 'windspeed']]
df_test_last_month = df_test_last_month[(df_test_last_month['Date'] >= thirty_days_ago_str) & 
                                        (df_test_last_month['Date'] <= today_str)]

# Ajouter les colonnes Date et Hour Ã  df_42058
df_42058.loc[:, 'Date'] = df_42058['Datetime'].dt.strftime("%Y-%m-%d")
df_42058.loc[:, 'Hour'] = df_42058['Datetime'].dt.strftime("%H")

# Filtrer les donnÃ©es des 30 derniers jours dans df_42058
df_42058_last_month = df_42058[(df_42058['Date'] >= thirty_days_ago_str) & 
                                (df_42058['Date'] <= today_str)]

# Fusionner les deux DataFrames sur Date et Hour
df_test_merged = df_test_last_month.merge(df_42058_last_month[['Date', 'Hour', 'Wind Speed (km/h)', 'wind_speed_10m']], 
                                     on=['Date', 'Hour'], 
                                     how='inner')

df_test_merged.head()

In [ ]:
# import pandas as pd

# def handle_null_values(df: pd.DataFrame) -> pd.DataFrame:
#     row_count = df.shape[0]
    
#     # Initialisation des listes pour suivre les colonnes supprimÃ©es
#     removed_columns = []
#     non_numeric_columns_to_drop = []
    
#     # Utiliser lambda et apply() pour calculer le nombre de valeurs nulles dans chaque colonne
#     null_counts = df.apply(lambda col: int(col.isnull().sum()))  # Calculer le nombre de NaN par colonne
    
#     # Condition : 1. Colonnes avec toutes les valeurs nulles ou 2. Plus de 50% de valeurs nulles et colonne non numÃ©rique
#     columns_to_drop = null_counts[
#         (null_counts == row_count) | 
#         ((null_counts > row_count * 0.5) & ~df.apply(lambda col: pd.api.types.is_numeric_dtype(col)))
#     ].index
    
#     # Ajouter les noms des colonnes supprimÃ©es dans les listes appropriÃ©es
#     for col in columns_to_drop:
#         if null_counts[col] == row_count:
#             removed_columns.append(col)  # Colonnes entiÃ¨rement vides
#         elif null_counts[col] > row_count * 0.5 and not pd.api.types.is_numeric_dtype(df[col]):
#             non_numeric_columns_to_drop.append(col)  # Colonnes > 50% nulles et non numÃ©riques
    
#     # Supprimer les colonnes identifiÃ©es
#     df = df.drop(columns=columns_to_drop)
    
#     # Afficher les rÃ©sultats
#     print("Colonnes supprimÃ©es pour avoir toutes les valeurs nulles:")
#     print(removed_columns)
    
#     print("\nColonnes supprimÃ©es pour avoir plus de 50% de valeurs nulles et Ãªtre non numÃ©riques:")
#     print(non_numeric_columns_to_drop)
    
#     return df

# # Exemple d'utilisation
# # df_final = pd.read_csv('ton_fichier.csv') # Assure-toi que df_final est bien un DataFrame valide avant d'appeler la fonction
# df_final = handle_null_values(df_final)

In [ ]:
# df_final = df_final.round(2)
# print(df_final.columns)
# df_final.describe()

In [ ]:
# def explore_dict_keys(d, parent_key='', sep='_'):
#     """
#     Explore un dictionnaire rÃ©cursivement pour obtenir toutes les clÃ©s, y compris les sous-clÃ©s,
#     mais ne retourne pas les valeurs finales.

#     :param d: Le dictionnaire Ã  explorer
#     :param parent_key: La clÃ© parent qui est utilisÃ©e pour concatÃ©ner les sous-clÃ©s
#     :param sep: Le sÃ©parateur utilisÃ© pour concatÃ©ner les clÃ©s (par dÃ©faut '_')
#     :return: Une liste des clÃ©s (et sous-clÃ©s)
#     """
#     keys = []
#     for k, v in d.items():
#         new_key = f"{parent_key}{sep}{k}" if parent_key else k
#         if isinstance(v, dict):  # Si la valeur est un dictionnaire, on explore rÃ©cursivement
#             keys.append(new_key)  # Ajouter la clÃ©, mais ne pas inclure la valeur
#             keys.extend(explore_dict_keys(v, new_key, sep=sep))  # Continuer l'exploration
#         else:
#             keys.append(new_key)  # Ajouter la clÃ© finale
#     return keys

In [ ]:
# def find_key_path(d, target_key, path=[]):
#     """
#     Recherche rÃ©cursive d'une clÃ© dans un dictionnaire et retourne son chemin.
#     :param d: dictionnaire
#     :param target_key: clÃ© recherchÃ©e
#     :param path: liste pour stocker le chemin jusqu'Ã  la clÃ©
#     :return: chemin sous forme de liste
#     """
#     if isinstance(d, dict):  # Si le dictionnaire est encore imbriquÃ©
#         for key, value in d.items():
#             new_path = path + [key]
#             if key == target_key:
#                 return new_path
#             elif isinstance(value, dict):
#                 result = find_key_path(value, target_key, new_path)
#                 if result:  # Si la clÃ© est trouvÃ©e, retourner le chemin
#                     return result
#     return None  # Retourne None si la clÃ© n'a pas Ã©tÃ© trouvÃ©e



# # Recherche du chemin pour la clÃ© 'marine_data'
# path = find_key_path(table_dict, "Marine Dataframe")
# print(path)

Auto_convert Test

In [ ]:
# for idx, (buoy_id, tables) in enumerate(table_dict.items()):  # Utilisation de .items() pour obtenir (clÃ©, valeur)
#     if isinstance(tables, dict):
#         if idx == 1:  # VÃ©rifier si l'index est Ã©gal Ã  1

Counting Rows of all Dataframes in total